Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(release): pass needed job to release dependencies
  .github/workflows/main-pipeline.yml
Due: yaml-lint

feat(#253): pydantic api schema generation
  .github/workflows/release.yml
  coverage.svg
  docs/api/openapi-generated.yaml
  docs/architecture/decisions/0005-api-data-validation.md
  src/backend/rating_app/api_spec/__init__.py
  src/backend/rating_app/api_spec/mappers.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/constants.py
  src/backend/rating_app/ioc_container/common.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/rating_create.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/api_spec/course.py
  src/backend/rating_app/views/api_spec/instructor.py
  src/backend/rating_app/views/api_spec/rating.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_course.py
  src/docker-compose.yml
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check, yaml-lint

feat: enhance scatter plot with shared filters, jitter, and faculty colors
  src/backend/rating_app/management/commands/generate_ratings.py
  src/backend/rating_app/management/commands/setup_base_data.py
  src/webapp/src/features/courses/components/AnalyticsScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

chore(prod-pipeline): use previous live tag as a base for changes
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

chore(snyk): upgrade @tanstack/router-plugin from 1.132.33 to 1.133.29 (#288)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix: upgrade @tanstack/react-router from 1.132.33 to 1.133.28
  src/webapp/package.json
Due: webapp-biome-check

chore(snyk): update pnpm-lock
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix(snyk): pnpm-lock after rebase
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

chore(snyk): upgrade @tanstack/react-router from 1.132.33 to 1.133.28 (#289)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

chore(snyk): upgrade @tanstack/react-devtools from 0.7.2 to 0.7.8 (#290)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

feat(lab10): ci-cd
  .gitignore
  docs/ci-cd/metrics-raw.md
  scripts/dora-metrics/README.md
  scripts/dora-metrics/__init__.py
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/example.py
  scripts/dora-metrics/generate_metrics.sh
  scripts/dora-metrics/parse_dora_metrics.py
Due: none

ci(#285): implement placeholder CI job for DORA Metrics scheduled report
  .github/workflows/dora.yml
  scripts/dora-metrics/generate_report.py
Due: yaml-lint

ci(#285): add discord notification
  .github/workflows/dora.yml
Due: yaml-lint

docs(#285): add ci-cd testing strategy document
  docs/testing/workflows.md
Due: none

feat(#259): add rating id to stats
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
Due: yaml-lint

feat(#280): create course offerings READ endpoints and components
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/course_offering_service.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/course_offering.py
  src/backend/rating_app/views/responses.py
Due: yaml-lint

feat: add zoom controls and improve scatter plot readability
  src/webapp/src/features/courses/components/AnalyticsScatterPlot.tsx
Due: webapp-biome-check

docs(#284): add constants
  scripts/dora-metrics/constants.py
Due: none

docs(#284): add chartbuilder
  scripts/dora-metrics/chart_builder.py
Due: none

docs(#284): add dora metrics classifier
  scripts/dora-metrics/dora_metrics_classifier.py
Due: none

docs(#284): add weekly aggregators
  scripts/dora-metrics/weekly_aggregator.py
Due: none

docs(#284): add dora markdown generator
  scripts/dora-metrics/dora_md_generator.py
Due: none

docs(#284): report generation script
  scripts/dora-metrics/generate_report.py
Due: none

fix(#284): make report generation cli compatible
  scripts/dora-metrics/generate_report.py
Due: none

fix(#284): rabbit
  scripts/dora-metrics/dora_md_generator.py
  scripts/dora-metrics/weekly_aggregator.py
Due: none

fix(#284): rabbit x2
  scripts/dora-metrics/weekly_aggregator.py
Due: none

fix(#284): use constants in classifier
  scripts/dora-metrics/dora_metrics_classifier.py
Due: none

fix(#284): use format_duration from calculate_dora_metrics
  scripts/dora-metrics/dora_md_generator.py
Due: none

feat(#284): dora markdown report
  scripts/dora-metrics/chart_builder.py
  scripts/dora-metrics/constants.py
  scripts/dora-metrics/dora_md_generator.py
  scripts/dora-metrics/dora_metrics_classifier.py
  scripts/dora-metrics/generate_report.py
  scripts/dora-metrics/weekly_aggregator.py
Due: none

feat(#234): improve table/filters performance
  src/webapp/src/components/ui/Table.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/filterSchema.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/features/courses/urlSync.ts
  src/webapp/src/routes/index.tsx
  src/webapp/src/test-utils/factories.ts
  src/webapp/src/test-utils/render.tsx
  src/webapp/src/vitest.setup.ts
Due: webapp-biome-check

fix(#234): small things after AI review
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/routes/index.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

feat(#258): create rating modal component
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/test_student_stats.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Checkbox.tsx
  src/webapp/src/components/ui/Dialog.tsx
  src/webapp/src/components/ui/Textarea.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#234): make table skeleton closer to actual layout
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/components/CoursesTableSkeleton.tsx
Due: webapp-biome-check

ci(#285): integrate report generation script to the ci job, make parameters more flexible and make notification more informative
  .github/workflows/dora.yml
  .yamllint.yaml
  scripts/dora-metrics/dora_md_generator.py
  scripts/dora-metrics/generate_metrics.sh
  scripts/dora-metrics/generate_report.py
Due: yaml-lint

chore(ci): update coverage badge
  coverage.svg
Due: none

fix(#285): align start-weekday format
  scripts/dora-metrics/weekly_aggregator.py
Due: none

fix(#234): use actual faculty names, fix errors
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

ci(#285): dora metrics integration
  .github/workflows/dora.yml
  .yamllint.yaml
  docs/testing/workflows.md
  scripts/dora-metrics/chart_builder.py
  scripts/dora-metrics/constants.py
  scripts/dora-metrics/dora_md_generator.py
  scripts/dora-metrics/dora_metrics_classifier.py
  scripts/dora-metrics/generate_metrics.sh
  scripts/dora-metrics/generate_report.py
  scripts/dora-metrics/weekly_aggregator.py
Due: yaml-lint

fix(#285): create a pull request with DORA metrics
  .github/workflows/dora.yml
Due: yaml-lint

style(#285): update discord link
  .github/workflows/dora.yml
Due: yaml-lint

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
