Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix: upgrade lucide-react from 0.548.0 to 0.552.0
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tanstack/react-form from 1.23.5 to 1.23.8
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade tailwindcss from 4.1.14 to 4.1.16
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tailwindcss/vite from 4.1.14 to 4.1.16
  src/webapp/package.json
Due: webapp-biome-check

fix(#314): move current semester logic to service
  src/backend/rating_app/repositories/semester_repository.py
  src/backend/rating_app/repositories/test_semester_repository.py
  src/backend/rating_app/services/semester_service.py
Due: none

fix(#314): simplify past/present semester check, reduce datetime.now() calls
  src/backend/rating_app/services/semester_service.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

chore(snyk): dependency upgrades (#329)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

ci(#278): auto live deployment (#320)
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-script.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#314): add check for midterm + tests
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_student_stats.py
Due: none

fix(#314): add and reuse RatingButton, update message
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/RatingButton.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#314): rating comment
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
Due: webapp-biome-check

fix(#314): use separate function for setting up student, course etc
  src/backend/rating_app/views/test_student_stats.py
Due: none

fix(#314): make tooltip accessible to keyboard and touch users
  src/webapp/src/features/ratings/components/RatingButton.tsx
Due: webapp-biome-check

fix(#314): update tooltip text and improve button consistency
  src/webapp/src/features/ratings/components/RatingButton.tsx
Due: webapp-biome-check

fix(#314): test logic
  src/backend/rating_app/views/test_student_stats.py
Due: none

fix(#314): sonar
  src/backend/rating_app/views/test_student_stats.py
  src/webapp/src/components/DisabledButtonWithTooltip.tsx
  src/webapp/src/features/ratings/components/RatingButton.tsx
Due: webapp-biome-check

fix(#296): remove cancel-in-progress concurrency attribute - allow jobs to wait for each other
  .github/workflows/audit.yml
  .github/workflows/deploy-script.yml
Due: yaml-lint

fix(#298): adjust types in pydantic schemas to match openapi 3.0 standard
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
Due: yaml-lint

fix(#298): remove redundant parameters
  src/backend/rating_app/application_schemas/rating.py
Due: none

chore(DORA): set default target workflow to prod (from main)
  .github/workflows/dora.yml
  scripts/dora-metrics/README.md
  scripts/dora-metrics/generate_metrics.sh
Due: yaml-lint

fix: upgrade axios from 1.12.2 to 1.13.1
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade react-hook-form from 7.65.0 to 7.66.0
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade zod from 4.1.11 to 4.1.12
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tanstack/react-devtools from 0.7.11 to 0.8.0
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tanstack/store from 0.7.7 to 0.8.0
  src/webapp/package.json
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

fix(#255): fix courses e2e test navigation waiting issue
  src/webapp/tests/e2e/course-page.test.ts
Due: webapp-biome-check

test(#255): ratings page + rating modal visibility tests
  src/.env.sample
  src/webapp/tests/e2e/rating.test.ts
Due: webapp-biome-check

test(#255): initial rating form submission test
  src/webapp/tests/e2e/rating.test.ts
Due: webapp-biome-check

feat(#255): add delete button to the rating modal form, reuse in my ratings page
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

test(#255): add full rating test flow with cleanup
  src/.env.sample
  src/webapp/tests/e2e/rating.test.ts
Due: webapp-biome-check

chore(#255): split rating functionality tests to separate files
  src/webapp/tests/e2e/rating/no-ratings.test.ts
  src/webapp/tests/e2e/rating/rate-course.test.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

fix(#255): remove unsecure regexp from matching
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

refactor(#255): make e2e tests more modular and reusable, apply null-ref-safety fixes
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCardHeader.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/components/test-config.ts
  src/webapp/tests/e2e/course-page.test.ts
  src/webapp/tests/e2e/e2e-local.sh
  src/webapp/tests/e2e/rating/no-ratings.test.ts
  src/webapp/tests/e2e/rating/rate-course.test.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

fix(#255): remove test script
  src/webapp/tests/e2e/e2e-local.sh
Due: none

fix(#255): fix cross-browser compatibility, remove redundant login page tests
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/course-page.test.ts
  src/webapp/tests/e2e/login.test.ts
Due: webapp-biome-check

fix(#255): remove redundant function
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/index.ts
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
