Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

test(#133): use pytest approx for floating point
  src/backend/rating_app/repositories/test_course_offering_repository.py
Due: none

fix: upgrade @radix-ui/react-slot from 1.2.3 to 1.2.4
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @radix-ui/react-avatar from 1.1.10 to 1.1.11
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @radix-ui/react-label from 2.1.7 to 2.1.8
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @radix-ui/react-separator from 1.1.7 to 1.1.8
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade axios from 1.12.2 to 1.13.2
  src/webapp/package.json
Due: webapp-biome-check

fix(#255): remove test command
  src/webapp/tests/e2e/rating/test-commanf.sh
Due: none

test(#255): find first rateable course button, remove test command, tidy up, remove firefox and webkit tests
  src/webapp/playwright.config.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

fix(#255): remove outdated ci vars
  .github/workflows/e2e-test.yml
Due: yaml-lint

test(#255): add e2e tests for rating functionality, introduce e2e tests components
  src/.env.sample
  src/webapp/playwright.config.ts
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCardHeader.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/components/test-config.ts
  src/webapp/tests/e2e/course-page.test.ts
  src/webapp/tests/e2e/login.test.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
  src/webapp/tests/e2e/rating/rate-course.test.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

chore(build): allow manual packages build
  .github/workflows/build.yml
Due: yaml-lint

chore(prod-ci): allow manual dispatch
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#133): rabbit
  src/backend/rating_app/views/test_rating.py
Due: none

chore(snyk): update dependencies: @tanstack/store, react-devtools, zod, react-hook-form, axios (#348)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/ratings/components/RatingForm.tsx
Due: webapp-biome-check, yaml-lint

test(#133): add missing unit/integration tests (#350)
  coverage.svg
  src/backend/README.md
  src/backend/conftest.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
  src/backend/rating_app/auth/test_oauth_integration.py
  src/backend/rating_app/repositories/test_course_instructor_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_department_repository.py
  src/backend/rating_app/repositories/test_enrollment_repository.py
  src/backend/rating_app/repositories/test_faculty_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/test_semester_repository.py
  src/backend/rating_app/repositories/test_speciality_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/services/test_course_offering_service.py
  src/backend/rating_app/services/test_course_service.py
  src/backend/rating_app/services/test_semester_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/test_student_user_linking_integration.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_auth.py
  src/backend/rating_app/views/test_course.py
  src/backend/rating_app/views/test_course_offering.py
  src/backend/rating_app/views/test_instructor.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_student_stats.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/test_catalog_service.py
Due: none

feat(#101): scatter plot
  src/backend/rating_app/management/commands/generate_mock_ratings.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/ButtonGroup.tsx
  src/webapp/src/components/ui/Collapsible.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/components/scatterLabeling.ts
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

fix(#330): eliminate flakiness due to duplicate ids
  src/backend/scraper/parsers/test_catalog.py
Due: none

fix(#255): change elements waiting order, wait for ratings api response
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

fix(prod-pipeline): skip pushing live version tag if already exists
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

style(#330): crlf to lf
  src/backend/scraper/parsers/test_catalog.py
Due: none

test(#330): fix flaky scraper test (#360)
  src/backend/scraper/parsers/test_catalog.py
Due: none

refactor(#101): rabbit
  src/backend/rating_app/management/commands/generate_mock_ratings.py
  src/webapp/src/components/ui/ButtonGroup.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/components/scatterLabeling.ts
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/lib/hooks/useMediaQuery.ts
  src/webapp/src/routes/explore.tsx
Due: webapp-biome-check

feat(#359): create a simple profiling script for API endpoint performance analytics + doc
  .gitignore
  docs/reliability/profiling.md
  src/backend/pyproject.toml
  src/backend/rateukma/settings/dev.py
  src/backend/rating_app/management/commands/profile_api.py
  src/backend/uv.lock
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

feat(#359): setup redis for server-side caching, implement initial caching manager, improve network security in docker compose,
  src/.env.sample
  src/backend/pyproject.toml
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/ioc_container/common.py
  src/backend/rating_app/models/enrollment.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/enrollment_repository.py
  src/backend/uv.lock
  src/docker-compose.yml
Due: yaml-lint

feat(#359): create a custom redis caching decorator
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/ioc/instances.py
  src/backend/rating_app/ioc_container/common.py
Due: none

fix(#101): sonar
  src/webapp/biome.json
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/components/scatterLabeling.ts
  src/webapp/src/lib/storage.ts
  src/webapp/src/routes/explore.tsx
Due: webapp-biome-check

test(#101): fix
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
Due: webapp-biome-check, yaml-lint

fix(#101): rabbit + revert biome to arrow func format
  src/webapp/biome.json
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/routes/explore.tsx
  src/webapp/src/vitest.setup.ts
Due: webapp-biome-check

refactor(#101): sonar
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/lib/hooks/useMediaQuery.ts
  src/webapp/src/lib/storage.ts
Due: webapp-biome-check, yaml-lint

fix(#101): sonar
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/lib/storage.ts
Due: webapp-biome-check

feat(#101): scatter plot (#358)
  src/backend/rating_app/management/commands/generate_mock_ratings.py
  src/webapp/biome.json
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/ButtonGroup.tsx
  src/webapp/src/components/ui/Collapsible.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/components/scatterLabeling.ts
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/lib/hooks/useMediaQuery.ts
  src/webapp/src/lib/storage.ts
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/src/vitest.setup.ts
Due: webapp-biome-check, yaml-lint

fix(#260): change pinned comment's look
  src/backend/rating_app/serializers/auth.py
  src/backend/rating_app/views/auth.py
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/lib/auth/AuthContext.tsx
Due: webapp-biome-check

feat(#260): pin user's comment
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
  src/webapp/src/features/ratings/hooks/useUserCourseRating.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#260): make comment optional
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/serializers/student_ratings.py
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

fix(#260): anonymous state and remove edit button
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

style(#260): crlf to lf
  src/backend/rating_app/serializers/auth.py
  src/backend/rating_app/views/auth.py
Due: none

fix(#260): add anonymous state to grades page
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
Due: webapp-biome-check

style(#260): align rating comments
  src/webapp/src/features/ratings/components/RatingCard.tsx
Due: webapp-biome-check

feat(#260): remove delete button from rating modal & update relevant e2e test
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/rating/rate-course.test.ts
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
