Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

feat(#473): refine rating comments preview and reply flow
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

feat(#473): add comment admin model
  src/backend/rating_app/admin/models.py
Due: none

feat(#473): add course_id to CommentDTO to remove DB fetch in cache invalidator
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/comment_repository.py
  src/backend/rating_app/repositories/test_comment_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/test_comment_service.py
Due: none

feat(#473): invalidate rating comment list after reply updates
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

feat(#473): format reply noun based on numeral
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

feat(#473): make one notification per one comment
  src/backend/rating_app/serializers/notification.py
  src/backend/rating_app/services/domain_event_listeners/comment_notification.py
  src/backend/rating_app/views/test_notification.py
Due: none

feat(#473): remove authors preview for comments
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/comment_read.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/views/test_comment.py
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check, yaml-lint

feat(#473): remove reply authors
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): display users' avatars on the preview
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): prefetch notification sources before mapping
  src/backend/rating_app/repositories/notification_repository.py
Due: none

fix(#473): replace window with globalThis
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
Due: webapp-biome-check

fix(#473): assert status before reading JSON
  src/backend/rating_app/views/test_rating.py
Due: none

fix(#473): make avatar colors solid
  src/webapp/src/features/ratings/components/reviewerAvatar.ts
Due: webapp-biome-check

fix(#473): align education level badge with metadata
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
Due: webapp-biome-check

fix(#473): make the avatars separator smoother
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): sort ratings with the same score by comments count
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/views/test_rating.py
Due: none

fix(#473): make separator on the user's rating match the background
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

docs(#473): add votes and comments feature to the README
  README.md
Due: none

docs(#473): simplify the feature wording
  README.md
Due: none

fix(#473): reduce the size of the preview avatar
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

ci(#594): update deployment process to render .env from environment-specific templates and use corporate credentials
  .github/workflows/deploy.yml
  scripts/ci/deploy.sh
  src/.env.sample
  src/backend/rateukma/settings/_base.py
  src/backend/scraper/management/commands/collect_catalog.py
  src/backend/scraper/management/commands/fetch_courses.py
  src/backend/scraper/management/commands/prepare_filtered_url.py
Due: yaml-lint

fix(#594): sanitize user-input variables
  .github/workflows/deploy.yml
Due: yaml-lint

ci(#594): improve vars handling ans separate a script from workflows
  .github/workflows/deploy.yml
  scripts/ci/deploy.sh
  scripts/ci/render-deploy-env.sh
Due: yaml-lint

docs(#594): update ADR
  docs/architecture/decisions/0007-hetzner-deployment.md
Due: none

fix(#473): refresh parent cache for nested replies
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/views/test_comment.py
Due: none

fix(#473): invalidate parent queries for nested replies
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): remove unreachable exception
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
Due: none

fix(#473): pass parent context in comment events
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/comment_events.py
  src/backend/rating_app/services/comment_service.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/test_comment_service.py
Due: none

fix(#473): cover nested reply cache deletion
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
Due: none

fix(#473): nested comments cache (#600)
  src/backend/rating_app/services/comment_events.py
  src/backend/rating_app/services/comment_service.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/test_comment_service.py
  src/backend/rating_app/views/test_comment.py
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): clean comments avatar stack styling
  src/webapp/AGENTS.md
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check

fix(#473): require confirmation before comment delete
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

refactor(#473): extract reusable UserAvatar component
  src/webapp/src/components/Header/UserMenu.tsx
  src/webapp/src/components/UserAvatar.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

refactor(#473): satisfy SonarCloud code smells in UserAvatar hash
  src/webapp/src/components/UserAvatar.tsx
Due: webapp-biome-check

refactor(#473): wrap UserAvatar props in Readonly per convention
  src/webapp/src/components/UserAvatar.tsx
Due: webapp-biome-check

fix(#473): smooth jagged avatar edges with GPU compositing
  src/webapp/src/components/UserAvatar.tsx
Due: webapp-biome-check

fix(#473): swap box-shadow ring for wrapper element to kill avatar jaggies
  src/webapp/src/components/UserAvatar.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): use bg-card utility for avatar ring instead of CSS var
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

fix(#473): restore main-branch ring rendering via ::before pseudo
  src/webapp/src/components/UserAvatar.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
