Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

docs(#704): explain the САЗ roster fields on the roster slide
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
Due: none

docs(#704): UKMA Data service and public API spec
  docs/ukma-data/deployment-infrastructure.md
  docs/ukma-data/spec.md
Due: none

docs(#704): parser-service folder, scopes on every endpoint, sync by updatedAfter
  docs/parser-service/deployment-infrastructure.md
  docs/parser-service/spec.md
  docs/ukma-data/spec.md
Due: none

feat: offer one optional rating follow-up after saving
  docs/api/openapi-generated.yaml
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/rating_suggestions.py
  src/backend/rating_app/services/rating_suggestions.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_rating_suggestions.py
  src/backend/rating_app/views/student_viewset.py
  src/backend/rating_app/views/test_rating_suggestions.py
  src/webapp/src/features/ratings/RatingContinuationContext.ts
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/RatingContinuationProvider.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/RatingSaved.tsx
  src/webapp/src/features/ratings/components/RatingSuggestionPrompt.tsx
  src/webapp/src/features/ratings/components/RatingSuggestions.tsx
  src/webapp/src/features/ratings/hooks/useRatingSuggestions.ts
  src/webapp/src/features/ratings/refreshRatingQueries.ts
  src/webapp/src/routes/__root.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/rating-suggestions.spec.ts
Due: webapp-biome-check, yaml-lint

docs: capture mocked rating suggestion thanks-1440
  rating-suggestions/thanks-1440.png
Due: none

docs: capture mocked rating suggestion next-form-1440
  rating-suggestions/next-form-1440.png
Due: none

docs: capture mocked rating suggestion rated-course-invitation
  rating-suggestions/rated-course-invitation.png
Due: none

refactor(webapp): call courses disciplines in Ukrainian copy
  src/webapp/index.html
  src/webapp/src/components/Header/navigationData.tsx
  src/webapp/src/features/course-offerings/components/CourseAbout.test.tsx
  src/webapp/src/features/course-offerings/components/CourseAbout.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/components/CoursesErrorState.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/feed/components/FeedEmptyState.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.test.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/components/RatingButton.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/RatingSaved.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/lib/app-metadata.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/explore.tsx
  src/webapp/tests/shots/rating-suggestions.spec.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

docs: capture mocked discipline terminology
  rating-suggestions/discipline-my-ratings.png
Due: none

docs: show mocked rating flow placement-my-ratings-1440
  rating-suggestions/placement-my-ratings-1440.png
Due: none

docs: show mocked rating flow placement-my-ratings-390
  rating-suggestions/placement-my-ratings-390.png
Due: none

docs: show mocked rating flow placement-rated-course-1440
  rating-suggestions/placement-rated-course-1440.png
Due: none

docs: show mocked rating flow thanks-390
  rating-suggestions/thanks-390.png
Due: none

docs: show mocked rating flow next-form-390
  rating-suggestions/next-form-390.png
Due: none

docs: show mocked rating flow updated-course-1440
  rating-suggestions/updated-course-1440.png
Due: none

docs: show mocked rating flow follow-up-saved-1440
  rating-suggestions/follow-up-saved-1440.png
Due: none

docs: show mocked rating flow follow-up-saved-390
  rating-suggestions/follow-up-saved-390.png
Due: none

docs: show mobile rated-discipline placement
  rating-suggestions/placement-rated-course-390.png
Due: none

fix: keep rating thanks from interrupting confirmations
  src/webapp/src/features/ratings/components/RatingContinuationProvider.tsx
  src/webapp/tests/shots/rating-suggestions.spec.ts
Due: webapp-biome-check

style: format discipline rating regression
  src/webapp/tests/shots/rating-suggestions.spec.ts
Due: webapp-biome-check

chore(deps): drop unused shadcn devDependency to clear braces audit advisory
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

feat: gate rating follow-up behind fe_rate_flow
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/views/test_flags.py
  src/webapp/src/features/ratings/components/RatingContinuationProvider.tsx
  src/webapp/src/features/ratings/components/RatingModal.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/RatingSuggestionPrompt.test.tsx
  src/webapp/src/features/ratings/components/RatingSuggestionPrompt.tsx
  src/webapp/src/features/ratings/hooks/useRatingFlowEnabled.test.tsx
  src/webapp/src/features/ratings/hooks/useRatingFlowEnabled.ts
  src/webapp/src/features/ratings/hooks/useRatingSuggestions.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/rating-suggestions.spec.ts
Due: webapp-biome-check, yaml-lint

test: tighten fe_rate_flow coverage and review fixes
  src/backend/rating_app/views/test_flags.py
  src/webapp/src/features/ratings/components/RatingContinuationProvider.tsx
  src/webapp/src/features/ratings/components/RatingModal.test.tsx
  src/webapp/src/features/ratings/components/RatingSuggestionPrompt.test.tsx
  src/webapp/tests/shots/rating-suggestions.spec.ts
Due: webapp-biome-check

chore(deps): drop unused shadcn devDependency to clear braces audit advisory (#739)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

docs(#704): spec review: staff section in the SPA, review cases, soft delete, granular scopes, resource-level API
  docs/parser-service/spec.md
Due: none

docs(#704): observability with Sentry: alerts, cron monitors, review queue age, САЗ load
  docs/parser-service/spec.md
Due: none

docs(#704): thresholds become settings, acceptance criteria become three done-when outcomes
  docs/parser-service/spec.md
Due: none

docs(#704): sync by change number with one writer at a time; first key from the CLI
  docs/parser-service/spec.md
Due: none

docs(#704): shorter sync rule, snapshots keep page structure, Rate UKMA picks one term
  docs/parser-service/spec.md
Due: none

docs(#704): one saved number per list, partial runs remove nothing, starting alert thresholds
  docs/parser-service/spec.md
Due: none

docs(#704): enrollments wording, optimaCode context, split decisions, decision trail names the superuser, run monitor tool TBD
  docs/parser-service/spec.md
Due: none

docs(#704): shorter optimaCode, snapshot and trail wording
  docs/parser-service/spec.md
Due: none

docs(#704): overview diagram and review case sequence
  docs/parser-service/spec.md
Due: none

docs(#704): simpler overview and review case diagrams
  docs/parser-service/spec.md
Due: none

docs: add the schedule-in-Rate-UKMA pitch deck
  docs/presentations/schedule-2026/assets/logo.png
  docs/presentations/schedule-2026/slides.html
  docs/presentations/schedule-2026/slides.md
  docs/presentations/schedule-2026/slides.pdf
  docs/presentations/theme.css
Due: none

docs: pitch the calendar feed, not weekly visits, as the schedule's channel
  docs/presentations/schedule-2026/slides.html
  docs/presentations/schedule-2026/slides.md
  docs/presentations/schedule-2026/slides.pdf
Due: none

docs: pitch rateukma.com/schedule directly, drop the grant slide
  docs/presentations/schedule-2026/slides.html
  docs/presentations/schedule-2026/slides.md
  docs/presentations/schedule-2026/slides.pdf
  docs/presentations/theme.css
Due: none

fix(webapp): refresh teacher picks after saving a rating
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

chore(deps): bump seroval, tinypool, source-map-js for audit advisories
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: yaml-lint
