Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#651): scroll the instructor list inside the rating modal
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
Due: webapp-biome-check

fix(mock-data): attach specialities to offerings, not courses
  src/backend/rating_app/management/commands/generate_mock_data.py
Due: none

chore(tooling): run typecheck through pnpm check
  src/webapp/README.md
  src/webapp/package.json
Due: webapp-biome-check

fix(mock-data): set type_kind on seeded offering specialities
  src/backend/rating_app/management/commands/generate_mock_data.py
Due: none

docs(tooling): say check runs format:check, not format
  src/webapp/README.md
Due: none

docs(tooling): note typecheck in the frontend agent instructions
  src/webapp/AGENTS.md
Due: none

fix(#651): scroll the instructor list inside the rating modal (#652)
  src/backend/rating_app/management/commands/generate_mock_data.py
  src/webapp/AGENTS.md
  src/webapp/README.md
  src/webapp/package.json
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

fix(#654): add edu level filter
  src/backend/rating_app/repositories/course_repository.py
Due: none

fix(#654): add test
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

lint
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

fix(#654): education level filter on courses (#656)
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

feat(#642): initial feed UI
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedMockData.ts
  src/webapp/src/features/feed/feedTypes.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

feat(#576): add rating's comment to the search fields
  src/backend/rating_app/admin/models.py
Due: none

feat(#576): remove redundant department filter
  src/backend/rating_app/admin/models.py
Due: none

feat(#576): add instructors to the rating
  src/backend/rating_app/admin/models.py
Due: none

feat(#576): override default user admin
  src/backend/rating_app/admin/models.py
Due: none

feat(#576): replace full rating comment with preview
  src/backend/rating_app/admin/models.py
Due: none

feat(#576): add rating count to user, remove from student
  src/backend/rating_app/admin/models.py
Due: none

feat(#576): add user id
  src/backend/rating_app/admin/models.py
Due: none

feat(#576): improve admin panel (#658)
  src/backend/rating_app/admin/models.py
Due: none

feat(#642): add initial /feed page, adjust cards UI
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedMockData.ts
  src/webapp/src/features/feed/feedTypes.ts
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/feed.tsx
Due: webapp-biome-check

test(#642): fix unit tests
  src/webapp/src/features/feed/components/FeedReviewItem.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/test-utils/router.tsx
Due: webapp-biome-check

feat(#642): add UI feature flag
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedFlags.ts
Due: webapp-biome-check

test(#642): add tests
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/feedTypes.test.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/routes/feed.tsx
Due: webapp-biome-check

feat(#642): add serializers and missing tests
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/feed.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/test_signals.py
Due: none

feat(#642): add feed post model
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/feed_post.py
Due: none

feat(#642): feed viewset
  docs/api/openapi-generated.yaml
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/feed_viewset.py
  src/backend/rating_app/views/responses.py
Due: yaml-lint

feat(#642): invalidate cache for scheduled posts
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/repositories/feed_post_repository.py
  src/backend/rating_app/services/feed_service.py
  src/backend/rating_app/services/test_feed_service.py
Due: none

feat(#642): add data access layer
  src/backend/rating_app/application_schemas/feed.py
  src/backend/rating_app/constants.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/management/commands/profile_queries.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/feed_post_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/tests/factories.py
Due: none

test(#642): serializers and views tests
  src/backend/rating_app/serializers/test_feed.py
  src/backend/rating_app/views/test_feed.py
Due: none

feat(#642): add cache invalidation and tests
  src/backend/conftest.py
  src/backend/rating_app/apps.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/signals.py
Due: none

feat(#642): add service layer and tests
  src/backend/conftest.py
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/repositories/test_feed_post_repository.py
  src/backend/rating_app/repositories/test_rating_repository_feed.py
  src/backend/rating_app/services/feed_service.py
Due: none

fix(#642): remove webapp test duplication
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/feedTestFixtures.ts
  src/webapp/src/routes/feed.test.tsx
Due: webapp-biome-check

feat(#642): implement feed cursor
  src/backend/rating_app/exception/feed_exceptions.py
  src/backend/rating_app/pagination/__init__.py
  src/backend/rating_app/pagination/cursor.py
  src/backend/rating_app/pagination/test_cursor.py
Due: none

fix(#642): typecheck and audit fixes
  src/backend/rating_app/serializers/feed.py
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: yaml-lint

feat(#642): replace webapp mocks, add tests
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.test.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.tsx
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedMockData.ts
  src/webapp/src/features/feed/feedTypes.test.ts
  src/webapp/src/features/feed/feedTypes.ts
  src/webapp/src/features/feed/hooks/useFeed.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/routes/feed.tsx
Due: webapp-biome-check

chore(#642): add public feature flag
  src/backend/rateukma/settings/_base.py
Due: none

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
