Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(webapp): avoid direct DOM mutation in ExpandableText; fix scrollHeight cleanup in tests
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
Due: webapp-biome-check

fix(webapp): pin express-rate-limit>=8.2.2 via pnpm override
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(backend): invalidate student ratings cache on rating create/delete
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/student_service.py
Due: none

test(backend): add missing cache invalidation tests for student ratings
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/views/test_student_stats.py
Due: none

fix(backend): invalidate student ratings cache on rating create/delete (#524)
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/views/test_student_stats.py
Due: none

fix(deps): upgrade vulnerable dependencies to address Dependabot alerts
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(backend): move anonymous identity nulling from domain mapper to serializer
  src/backend/conftest.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/views/test_rating_cache_invalidation.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

chore: regenerate OpenAPI schema
  docs/api/openapi-generated.yaml
Due: yaml-lint

fix(webapp): stack rating fields vertically on mobile
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

fix(backend): move anonymous identity nulling to serializer layer (#526)
  coverage.svg
  docs/api/openapi-generated.yaml
  src/backend/conftest.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/views/test_rating_cache_invalidation.py
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

fix(deps): upgrade vulnerable dependencies to address Dependabot alerts (#525)
  src/backend/pyproject.toml
  src/backend/uv.lock
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(webapp): keep rating modal actions visible
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

fix(webapp): keep rating modal actions visible (#527)
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

feat: improve ingestion for semester-level course offerings
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/application_schemas/student.py
  src/backend/rating_app/migrations/0021_course_education_level_courseoffering_study_year_and_more.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/tests/factories.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/parsers/course.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/conftest.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/grouping_service.py
  src/backend/scraper/services/deduplication/loader.py
  src/backend/scraper/services/deduplication/test_extractors.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/backend/scraper/services/deduplication/test_grouping_service.py
  src/backend/scraper/services/deduplication/test_loader.py
Due: yaml-lint

refactor: add term-level details to course offerings
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/migrations/0021_course_education_level_courseoffering_study_year_and_more.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/course_offering_term.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/tests/factories.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_grouper.py
Due: yaml-lint

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

Centralize frontend metadata and remove route-local title effects (#531)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/lib/app-metadata.tsx
  src/webapp/src/routes/-courses.$courseId.test.tsx
  src/webapp/src/routes/__root.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

feat(#533): filter out elective speciality badges
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.test.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#533): make type_kind not null
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/course_offering.py
Due: yaml-lint

fix(#540): display type_kind in speciality badge tooltip
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#540): make type_kind nullable
  src/backend/rating_app/application_schemas/course_offering.py
Due: none

Revert "fix(#533): make type_kind not null"
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/course_offering.py
Due: yaml-lint

fix(#540): make type_kind not null in dto
  src/backend/rating_app/application_schemas/course_offering.py
Due: none

feat(#537): create notification domain entity CRUD
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/notification.py
  src/backend/rating_app/exception/notification_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/management/commands/profile_queries.py
  src/backend/rating_app/migrations/0021_notification_notificationcursor_and_more.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/notification.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/notification_repository.py
  src/backend/rating_app/repositories/protocol.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/serializers/notification.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/domain_event_listeners/test_vote_notification.py
  src/backend/rating_app/services/domain_event_listeners/vote_notification.py
  src/backend/rating_app/services/notification_service.py
  src/backend/rating_app/services/test_notification_service.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/notification_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_notification.py
Due: yaml-lint

feat(#537): create notification UI + add backend functionality for group reads
  docs/api/openapi-generated.yaml
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/migrations/0022_notification_group_read.py
  src/backend/rating_app/models/notification.py
  src/backend/rating_app/repositories/notification_repository.py
  src/backend/rating_app/serializers/notification.py
  src/backend/rating_app/services/notification_service.py
  src/backend/rating_app/views/notification_viewset.py
  src/backend/rating_app/views/responses.py
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/Header/MobileMenu.tsx
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/features/notifications/components/NotificationBell.tsx
  src/webapp/src/features/notifications/components/NotificationList.tsx
  src/webapp/src/features/notifications/hooks/useNotifications.ts
  src/webapp/src/features/notifications/notificationFormatting.ts
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check, yaml-lint

fix(#536): data migration to merge ФСНСТ duplicated faculty entry
  src/backend/rating_app/migrations/0021_merge_duplicate_faculties.py
Due: none

fix(#536): remove migration, recreate as a django command
  src/backend/rating_app/management/commands/merge_duplicate_faculties.py
  src/backend/rating_app/migrations/0021_merge_duplicate_faculties.py
Due: none

fix(#536): adjust the temp command for the concrete faculty
  src/backend/rating_app/management/commands/merge_duplicate_faculties.py
Due: none

fix(#535): stabilize viewport width when scrollbars appear or disappear (#538)
  src/webapp/src/styles.css
Due: none

Revert "fix(#535): stabilize viewport width when scrollbars appear or disappe…"
  src/webapp/src/styles.css
Due: none

fix(#535): revert commit - stabilize viewport width when scrollbars appear or disappear
  src/webapp/src/styles.css
Due: none

fix(webapp): prevent double-offset layout shift when Radix dialogs open
  src/webapp/src/styles.css
Due: none

fix(#535): stabilize viewport width when scrollbars appear or disappear (#544)
  src/webapp/src/styles.css
Due: none

fix: gate course update behind update_existing flag and scope warning dedup to instance
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

fix(tests): use pytest.approx for floating-point credit assertions
  src/backend/scraper/parsers/test_course.py
  src/backend/scraper/services/deduplication/test_grouper.py
Due: none

fix: address PR #532 review findings and SonarQube issues
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/migrations/0022_course_identity_unique_constraint.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/course_offering_term.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/conftest.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/loader.py
  src/backend/scraper/services/deduplication/test_grouping_service.py
  src/backend/scraper/services/deduplication/test_loader.py
Due: none

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
