Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

chore(ci): update coverage badge
  coverage.svg
Due: none

refactor(#466): move rating cache to service layer
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

fix(license): fix numeration
  COPYING
  LICENSE
Due: none

chore(#446): invalidate cache after courses injection, create reusable invalidation patterns
  src/backend/conftest.py
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/scraper/ioc_container/common.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(#446): set default value for WEBAPP_IMAGE_TAG in docker-compose
  src/docker-compose.yml
Due: yaml-lint

fix: src/webapp/Dockerfile to reduce vulnerabilities
  src/webapp/Dockerfile
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

chore(license): update frontend dependencies
  src/webapp/.claude/settings.local.json
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

Add GNU GPL v3 license (#467)
  CONTRIBUTING.md
  COPYING
  LICENSE
  README.md
  src/backend/pyproject.toml
  src/webapp/.claude/settings.local.json
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

chore(#446): invalidate cache after courses injection, create reusable invalidation patterns (#477)
  src/backend/conftest.py
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/scraper/ioc_container/common.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

feat(#384): move ratings caching to service
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

refactor(#466): update enums mapping and cache invalidation
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/application_schemas/rating_vote.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/migrations/0012_alter_coursespeciality_options_alter_ratingvote_type_and_more.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/serializers/rating_vote.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_vote.py
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check, yaml-lint

fix(#466): fix cache invalidation
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/views/test_rating.py
Due: none

fix(#466): checkout package.json from main
  src/webapp/package.json
Due: webapp-biome-check

fix(#466): update lockfile
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix(#466): fix main pipeline and update dependencies for webapp
  .github/workflows/main-pipeline.yml
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#466): fix webapp build errors
  src/webapp/src/components/ErrorBoundary.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

chore(#466): add missing data migration, after merge
  src/backend/rating_app/migrations/0012_alter_coursespeciality_options_alter_ratingvote_type_and_more.py
Due: none

refactor(#482): DDD refactoring of instructor entity, initial refactor of course offering entity
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/protocol.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/services/instructor_service.py
Due: none

feat(#327): refactor AlertDialog to use Dialog
  src/webapp/src/components/ui/AlertDialog.tsx
Due: webapp-biome-check

fix: allow filters selects inside mobile drawer
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Drawer.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/lib/body-scroll-lock.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/courses-filters.test.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
Due: webapp-biome-check

test(#327): format Playwright e2e files
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/login.test.ts
Due: webapp-biome-check

test(#327): add e2e coverage for courses filters and pagination
  src/webapp/src/components/DataTable/DataTablePagination.tsx
  src/webapp/src/components/ui/AlertDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/courses-filters.test.ts
  src/webapp/tests/e2e/courses-pagination.test.ts
  src/webapp/tests/e2e/courses-search.test.ts
Due: webapp-biome-check

feat: add hover states for table rows
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Table.tsx
Due: webapp-biome-check

test(#327): harden Playwright e2e suite
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/login.test.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

test(e2e): reduce flake and add smoke tags
  docs/testing/e2e-tests.md
  src/webapp/.gitignore
  src/webapp/biome.json
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Slider.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/details.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/framework/base-page.ts
  src/webapp/tests/e2e/framework/common.ts
  src/webapp/tests/e2e/framework/test-config.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test: align e2e suite with black-box strategy
  docs/testing/e2e-tests.md
  src/webapp/src/features/courses/components/CoursesErrorState.test.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/tests/e2e/courses/error-states.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/fixtures/api-mocks.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
Due: webapp-biome-check

test(e2e): logout test + cleanup
  src/webapp/playwright.config.ts
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/logout.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/url-assertions.ts
Due: webapp-biome-check

test(e2e): stabilize Playwright suite with test IDs
  src/webapp/README.md
  src/webapp/package.json
  src/webapp/playwright.config.ts
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Slider.tsx
  src/webapp/src/features/courses/components/CourseColumnHeader.test.tsx
  src/webapp/src/features/courses/components/CourseColumnHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/components/test-config.ts
  src/webapp/tests/e2e/courses-pagination.test.ts
  src/webapp/tests/e2e/courses-search.test.ts
  src/webapp/tests/e2e/courses/details.test.ts
  src/webapp/tests/e2e/courses/error-states.test.ts
  src/webapp/tests/e2e/courses/filters.test.ts
  src/webapp/tests/e2e/courses/history.test.ts
  src/webapp/tests/e2e/courses/journeys.test.ts
  src/webapp/tests/e2e/courses/pagination.test.ts
  src/webapp/tests/e2e/courses/search.test.ts
  src/webapp/tests/e2e/courses/sorting.test.ts
  src/webapp/tests/e2e/fixtures/api-mocks.ts
  src/webapp/tests/e2e/fixtures/courses.ts
  src/webapp/tests/e2e/helpers/url-assertions.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
Due: webapp-biome-check, yaml-lint

fix: asc/desc usefullness/diff sorting
  src/backend/rating_app/repositories/course_repository.py
Due: none

docs: better note about seeded db
  docs/testing/e2e-tests.md
Due: none

test(e2e): reorganize suites by feature
  src/webapp/playwright.config.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/details.spec.ts
  src/webapp/tests/e2e/courses/error-states.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/fixtures/api-mocks.ts
  src/webapp/tests/e2e/courses/fixtures/courses.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/framework/base-page.ts
  src/webapp/tests/e2e/framework/common.ts
  src/webapp/tests/e2e/framework/test-config.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
  src/webapp/tests/e2e/shared/url-assertions.ts
Due: webapp-biome-check

test(e2e): go to login directly
  src/webapp/tests/e2e/login.spec.ts
Due: webapp-biome-check

feat(#327): use dialog instead of div for drawer
  src/webapp/src/components/ui/Drawer.tsx
Due: webapp-biome-check

fix(#327): rabbit
  src/webapp/package.json
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/AlertDialog.tsx
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/fixtures/courses.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#327): return zero rated courses to be last in any order
  src/backend/rating_app/repositories/course_repository.py
Due: none

chore(#327): sync pnpm-lock
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

security(#327): audit fixes
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint
