Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#266): reduce duplication
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
Due: webapp-biome-check

fix(#266): replace() -> replaceAll()
  src/webapp/src/components/ui/Combobox.tsx
Due: webapp-biome-check

fix(#266): flip the condition for clarity
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

fix(#266): isolate internal filter fields from public schema, refactor tests
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/test_course_service.py
Due: none

fix(#458): populate type_kind in CourseSpeciality during ingestion
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/test_extractors.py
Due: none

refactor(#458): remove redundant backtick variant from _TYPE_KIND_MAP
  src/backend/scraper/services/deduplication/extractors.py
Due: none

fix(#266): select course type after speciality in e2e tests
  src/webapp/tests/e2e/courses/filters.spec.ts
Due: webapp-biome-check

feat(#266): filter by type_kind (#510)
  src/backend/conftest.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/test_course_service.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/tests/e2e/courses/filters.spec.ts
Due: webapp-biome-check

fix(#496): votes lost after sort/filter change (#501)
  src/backend/rateukma/caching/patterns.py
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#458): skip CourseSpeciality upsert when type_kind is None
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(#458): populate type_kind in CourseSpeciality during ingestion (#509)
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/test_extractors.py
Due: none

feat(#505): multi-select semester term filter on courses page
  docs/api/openapi-generated.yaml
  src/backend/rating_app/api_spec/mappers.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

test(#505): update e2e filter test for semester term ToggleGroup
  src/webapp/tests/e2e/courses/filters.spec.ts
Due: webapp-biome-check

fix(#505): rename termSelect test ID to termToggle per naming convention
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
Due: webapp-biome-check

refactor(#505): review cleanup — hoist constant, remove stale comments, add multi-term test
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

test(#505): fix unit tests for semester term ToggleGroup migration
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
Due: webapp-biome-check

fix(security): bump hono and @hono/node-server overrides to patched versions
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

feat(#505): multi-select semester term filter (#507)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/api_spec/mappers.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_course.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/tests/e2e/courses/filters.spec.ts
Due: webapp-biome-check, yaml-lint

feat(#333): save speciality reference in CourseOffering during ingestion
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/migrations/0013_courseofferingspeciality.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/course_offering_speciality.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_grouper.py
Due: none

chore(#333): regenerate OpenAPI schema with CourseOfferingSpeciality
  docs/api/openapi-generated.yaml
Due: yaml-lint

feat(#333): show specialities per offering in CourseOfferingsDropdown
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
Due: webapp-biome-check

fix(#333): use Ukrainian semester term labels in CourseOfferingsDropdown
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
Due: webapp-biome-check

feat(#333): replace CourseOfferingsDropdown with modal grouped by year
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
Due: webapp-biome-check

fix(#333): add fallback label for missing semester term
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
Due: webapp-biome-check

fix(#333): address coderabbit review comments
  src/backend/rating_app/migrations/0014_courseofferingspeciality_type_kind_nullable.py
  src/backend/rating_app/models/course_offering_speciality.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
Due: webapp-biome-check

feat(#333): save speciality reference in CourseOffering during ingestion (#512)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/migrations/0013_courseofferingspeciality.py
  src/backend/rating_app/migrations/0014_courseofferingspeciality_type_kind_nullable.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/course_offering_speciality.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
Due: webapp-biome-check, yaml-lint

refactor(#511): update course filters to use offering specialities, tests
  src/backend/conftest.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_course.py
Due: none

refactor(#511): remove coursespeciality factory
  src/backend/rating_app/tests/factories.py
Due: none

refactor(#511): remove coursespeciality admin model
  src/backend/rating_app/admin/models.py
Due: none

refactor(#511): update domain mapper to fetch specialities from course_offering_speciality
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

refactor(#511): remove course_speciality model, make migration
  src/backend/rating_app/migrations/0015_remove_course_specialities_delete_coursespeciality.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_speciality.py
Due: none

refactor(#511): update serializers, api schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/course_offering_speciality.py
Due: yaml-lint

refactor(#511): remove course_speciality injection
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(#511): check prefetch cache to avoid N+1 queries
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

fix(#511): import, whitespace
  src/webapp/package.json
  src/webapp/src/features/courses/components/CourseSpecialities.tsx
Due: webapp-biome-check

refactor(#511): reduce complexity
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

refactor(#511): remove redundant continue
  src/backend/scraper/services/db_ingestion/injector.py
Due: none

refactor(#511): update domain model
  docs/architecture/uml/domain-model.puml
  docs/architecture/uml/domain-model.svg
Due: none

feat(#514): redesign course details page with CAZ modal and stats hero
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/migrations/0015_add_coursespeciality_spec_type_idx.py
  src/backend/rating_app/models/course_speciality.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/views/test_course.py
  src/backend/scraper/services/course_service.py
  src/webapp/package.json
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check, yaml-lint

fix(#514): move credits filter backend changes to filters PR
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/views/test_course.py
Due: yaml-lint

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
