Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#255): update default course ids
  src/webapp/tests/e2e/components/test-config.ts
Due: webapp-biome-check

security(#255): sanitize regex, improve cross-browser compatibility
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
Due: webapp-biome-check

ci(#255): add new env variables to e2e test job
  .github/workflows/e2e-test.yml
Due: yaml-lint

fix(#314): introduce RatingWindowPolicy, rename exception
  src/backend/rating_app/exception/rating_exceptions.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/rating_policy.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/student_service.py
Due: none

fix(#314): refactor tests to use rating_window
  src/backend/rating_app/services/test_student_service.py
Due: none

fix(#314): add tests for rating policy
  src/backend/rating_app/services/test_rating_policy.py
Due: none

feat(#257): add speciality alias + faculty id for coloring
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/migrations/0007_speciality_alias.py
  src/backend/rating_app/models/speciality.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/course_speciality.py
Due: yaml-lint

feat(#257): map colors to faculties' ids
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

feat(#257): add specialities to courses list and detail
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseFacultyBadge.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#257): use name of speciality if it is one word
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#257): alias logic to not fail on words with apostrophe
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

test(#255): remove hardcoded course ids from tests configuration
  src/.env.sample
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/test-config.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
  src/webapp/tests/e2e/rating/rate-course.test.ts
  src/webapp/tests/e2e/rating/test-commanf.sh
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

fix(#259): sort courses by academic years
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#297): refactor condition
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#259): remove redundant whitespace
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#311): link user -> student logic on oauth
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

fix(#259): move rating window logic to rating service
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/rating_policy.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_rating_policy.py
  src/backend/rating_app/services/test_student_service.py
Due: none

fix(#311): link user -> student logic on oauth (#347)
  coverage.svg
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
Due: none

fix(#314): future courses rating (#319)
  docs/api/openapi-generated.yaml
  src/backend/pyproject.toml
  src/backend/rating_app/exception/rating_exceptions.py
  src/backend/rating_app/exception/semester_exception.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/semester_repository.py
  src/backend/rating_app/repositories/test_semester_repository.py
  src/backend/rating_app/serializers/student_ratings.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_student_stats.py
  src/backend/uv.lock
  src/webapp/src/components/DisabledButtonWithTooltip.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/RatingButton.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

refactor: convert test_course_instructor_repository to use functions instead of classes
  src/backend/rating_app/repositories/test_course_instructor_repository.py
Due: none

refactor: remove tests for implementation details
  src/backend/rating_app/repositories/test_course_instructor_repository.py
  src/backend/rating_app/repositories/test_department_repository.py
  src/backend/rating_app/services/test_semester_service.py
Due: none

test: add comprehensive tests for semester_service, course_instructor_repository, and department_repository
  src/backend/rating_app/repositories/test_course_instructor_repository.py
  src/backend/rating_app/repositories/test_department_repository.py
  src/backend/rating_app/services/test_semester_service.py
Due: none

style: remove section comments from repository tests
  src/backend/rating_app/repositories/test_course_instructor_repository.py
  src/backend/rating_app/repositories/test_department_repository.py
Due: none

refactor: remove 7 tests for private methods found in auth and scraper
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
  src/backend/scraper/services/test_catalog_service.py
Due: none

test: add comprehensive tests for repositories and course_service
  src/backend/rating_app/repositories/test_faculty_repository.py
  src/backend/rating_app/repositories/test_semester_repository.py
  src/backend/rating_app/repositories/test_speciality_repository.py
  src/backend/rating_app/services/test_course_service.py
Due: none

test: add meaningful tests for repositories and services
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_enrollment_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/services/test_course_offering_service.py
Due: none

fix: ensure unique semesters in delete and filter tests
  src/backend/rating_app/repositories/test_semester_repository.py
Due: none

fix(#259): change order of terms
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#297): map colors to faculty names
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#297): correct faculty name, add newlines
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

fix(#259): group courses by academic years (#346)
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#257): use speciality as a badge
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseFacultyBadge.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#297): add course specialities to test
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
Due: webapp-biome-check

fix(#257): default empty string in alias
  src/backend/rating_app/migrations/0007_speciality_alias.py
  src/backend/rating_app/models/speciality.py
Due: none

fix(#297): replace faculty with speciality badge test
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
Due: webapp-biome-check

feat(#257): speciality badges (#349)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/migrations/0007_speciality_alias.py
  src/backend/rating_app/models/speciality.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/course_speciality.py
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseFacultyBadge.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/lib/faculty-colors.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

test: mark integration tests properly
  src/backend/README.md
  src/backend/conftest.py
  src/backend/rating_app/auth/test_oauth_integration.py
  src/backend/rating_app/repositories/test_course_instructor_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_department_repository.py
  src/backend/rating_app/repositories/test_enrollment_repository.py
  src/backend/rating_app/repositories/test_faculty_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/test_semester_repository.py
  src/backend/rating_app/repositories/test_speciality_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/services/test_course_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/test_student_user_linking_integration.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_auth.py
  src/backend/rating_app/views/test_course.py
  src/backend/rating_app/views/test_course_offering.py
  src/backend/rating_app/views/test_instructor.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_student_stats.py
  src/backend/scraper/services/deduplication/grouper.py
Due: none
