Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix: scatter plot ignores education level filter (#559)
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/routes/explore.tsx
Due: webapp-biome-check

fix(#549): downvotes-only ratings sorted by popularity (#551)
  src/backend/rating_app/queries/rating_popularity.py
  src/backend/rating_app/views/test_rating.py
Due: none

feat(#537): update notification messages to support localization and improve async handling in notification actions
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/notification.py
  src/backend/rating_app/views/notification_viewset.py
  src/webapp/src/features/notifications/components/MobileNotificationPanel.tsx
  src/webapp/src/features/notifications/components/NotificationBell.tsx
  src/webapp/src/features/notifications/components/NotificationList.tsx
  src/webapp/src/features/notifications/hooks/useNotifications.ts
Due: webapp-biome-check, yaml-lint

feat(#537): upload a merge migration
  src/backend/rating_app/migrations/0024_merge_20260329_1248.py
Due: none

fix(#537): sync bell and popover notifications, fix toggle vote case
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/notification_repository.py
  src/backend/rating_app/services/domain_event_listeners/test_vote_notification.py
  src/backend/rating_app/services/domain_event_listeners/vote_notification.py
  src/backend/rating_app/services/notification_service.py
  src/backend/rating_app/views/test_notification.py
  src/webapp/src/features/notifications/components/NotificationBell.tsx
Due: webapp-biome-check

feat(#537): refetch notifications on popover open
  src/webapp/src/features/notifications/components/NotificationBell.tsx
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

chore: update GitHub Actions to Node.js 24-compatible versions (#554)
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/changes-filter.yml
  .github/workflows/e2e-test.yml
  .github/workflows/test.yml
Due: yaml-lint

feat(#557): MVP - basic instructor input field
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/migrations/0025_add_instructor_to_rating.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/serializers/student_ratings.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check, yaml-lint

test(#557): update and add tests
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/views/test_rating.py
Due: yaml-lint

chore(ci): update coverage badge
  coverage.svg
Due: none

chore(#557): add allow_null=true
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/student_ratings_detailed.py
Due: yaml-lint

fix(#557): normalize nullable text fields to empty strings in update logic
  src/backend/rating_app/repositories/rating_repository.py
Due: none

security(#557): update lodash dependency to version 4.18.0
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#557): add instructor to rating detailed API, fix linter errors
  src/backend/rating_app/repositories/student_stats_repository.py
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

feat(#557): MVP - basic instructor input field (#567)
  coverage.svg
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/migrations/0025_add_instructor_to_rating.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/serializers/student_ratings.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check, yaml-lint

fix(#555): preserve post-login redirect URL through Microsoft OAuth
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/views/auth.py
  src/backend/rating_app/views/test_auth.py
  src/webapp/src/components/login/MicrosoftLoginButton.tsx
  src/webapp/src/routes/login.index.tsx
Due: webapp-biome-check

fix(#555): preserve redirect param after logout on login page
  src/webapp/src/lib/auth/AuthContext.tsx
Due: webapp-biome-check

test(#555): add e2e tests for post-login redirect destination
  src/webapp/tests/e2e/login.spec.ts
Due: webapp-biome-check

feat(#566): show speciality badges from latest year of offerings only
  src/backend/rating_app/repositories/course_repository.py
Due: none

feat(#225): add offering details to rating response
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/rating_read.py
Due: yaml-lint

feat(#225): add offering details on ui
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

test(#225): update rating DTO fixtures for offering fields
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_vote_notification.py
Due: none

fix(#225): change course_offering_id to course_offering for compatibility
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_vote_notification.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_rating.py
Due: yaml-lint

feat(#225): offering display (#569)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_vote_notification.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check, yaml-lint

fix: preserve post-login redirect URL through Microsoft OAuth (#555)
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/views/auth.py
  src/backend/rating_app/views/test_auth.py
  src/webapp/src/components/login/MicrosoftLoginButton.tsx
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/routes/login.index.tsx
  src/webapp/tests/e2e/login.spec.ts
Due: webapp-biome-check

docs: restructure runbook with secret rotation vs new app paths
  docs/runbooks/azure-oauth-key-rotation.md
Due: none

docs: add Azure OAuth key rotation runbook
  docs/runbooks/azure-oauth-key-rotation.md
Due: none

security(deps): update vite version
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/routes/login.index.tsx
  src/webapp/tests/e2e/login.spec.ts
Due: webapp-biome-check, yaml-lint

security(deps): update vite version (#581)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/routes/login.index.tsx
  src/webapp/tests/e2e/login.spec.ts
Due: webapp-biome-check, yaml-lint

feat(#566): show speciality badges from latest year of offerings only (#568)
  src/backend/rating_app/repositories/course_repository.py
Due: none

feat(#573): improve ects credits slider
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

fix(#573): preserve in-progress credits input edits
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
Due: webapp-biome-check

feat(#573): improve ects credits slider (#584)
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

ci(#577): automation to cleanup old images
  .github/workflows/cleanup-images.yml
Due: yaml-lint

fix(#577): move permissions to jobs in cleanup workflow
  .github/workflows/cleanup-images.yml
Due: yaml-lint
