Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix: address remaining PR #532 review discussions
  src/backend/rating_app/repositories/course_repository.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/loader.py
Due: none

fix: address second round of PR #532 review comments
  src/backend/rating_app/repositories/course_repository.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/loader.py
Due: none

fix: address third round of PR #532 review comments
  src/backend/rating_app/repositories/course_repository.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/extractors.py
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

feat(#528): improve ingestion for semester-level course offerings (#532)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/application_schemas/student.py
  src/backend/rating_app/migrations/0021_course_education_level_courseoffering_study_year_and_more.py
  src/backend/rating_app/migrations/0022_course_identity_unique_constraint.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/course_offering_term.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/tests/factories.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/parsers/course.py
  src/backend/scraper/parsers/test_course.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/conftest.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/grouping_service.py
  src/backend/scraper/services/deduplication/loader.py
  src/backend/scraper/services/deduplication/test_extractors.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/backend/scraper/services/deduplication/test_grouping_service.py
  src/backend/scraper/services/deduplication/test_loader.py
Due: yaml-lint

fix(#536): prevent department duplication
  src/backend/rating_app/management/commands/merge_duplicate_faculties.py
Due: none

fix(#536): data migration to merge ФСНСТ duplicated faculty entry (#542)
  src/backend/rating_app/management/commands/merge_duplicate_faculties.py
Due: none

feat(#537): add mobile UI and tests
  src/webapp/src/components/Header/MobileMenu.tsx
  src/webapp/src/features/notifications/components/MobileNotificationPanel.tsx
  src/webapp/src/features/notifications/components/NotificationBell.test.tsx
  src/webapp/src/features/notifications/components/NotificationBell.tsx
  src/webapp/src/features/notifications/components/NotificationList.test.tsx
  src/webapp/src/features/notifications/components/NotificationList.tsx
  src/webapp/src/features/notifications/hooks/useNotifications.ts
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

fix: normalize empty education_level to None in domain mappers
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

fix: normalize Student.education_level type to EducationLevel | None
  src/backend/rating_app/application_schemas/student.py
Due: none

test: add regression tests for empty education_level mapper normalization
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
Due: none

fix: normalize empty education_level to None in domain mappers (#546)
  src/backend/rating_app/application_schemas/student.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

fix(#540): make type_kind non-nullable
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/migrations/0021_alter_courseofferingspeciality_type_kind.py
  src/backend/rating_app/models/course_offering_speciality.py
Due: none

fix(#540): update type_kind to non-null in the schema, serializer, dto
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/serializers/course_offering.py
Due: yaml-lint

fix(#549): add downvote-only ratings rule in annotator
  src/backend/rating_app/queries/rating_popularity.py
Due: none

fix(#549): add tests
  src/backend/rating_app/views/test_rating.py
Due: none

feat(#540): filter out elective speciality badges (#539)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/migrations/0021_alter_courseofferingspeciality_type_kind.py
  src/backend/rating_app/models/course_offering_speciality.py
  src/backend/rating_app/serializers/course_offering.py
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.test.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check, yaml-lint

feat(#550): display education level and semester terms in course UI
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

docs: add API type generation notes to AGENTS.md files
  src/backend/AGENTS.md
  src/webapp/AGENTS.md
Due: none

chore: remove .github/agents/rate-ukma.agent.md
  .github/agents/rate-ukma.agent.md
Due: none

fix(#536): update ФСНСТ faculty name in color mapping to match canonical spelling
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

fix: resolve biome lint and formatting errors
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check

fix: override picomatch to >=4.0.4 to resolve ReDoS vulnerability
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix: merge conflicting migrations 0021/0022 in rating_app
  src/backend/rating_app/migrations/0023_merge_20260326_2138.py
Due: none

fix(ci): resolve correct image tag for non-semver (SHA-based) builds
  scripts/ci/find-image-tags.sh
Due: none

feat(#550): refine education level UI and add backend filter
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

refactor(#550): simplify term details to show only semester and credits
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
Due: webapp-biome-check

refactor(#550): replace MASTER badge with compact "М" pill in course list
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

refactor(#550): use EducationLevelEnum constants instead of string literals
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

fix(deps): override path-to-regexp to >=8.4.0 to resolve ReDoS vulnerability
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

refactor(#550): use subtle outline pill for MASTER indicator in course list
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

refactor(#550): use shadcn Tooltip for MASTER indicator in course list
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

refactor(#550): use square border style for education level labels
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

docs(ci): add detailed comment explaining non-semver tag handling
  scripts/ci/find-image-tags.sh
Due: none

fix(#550): add weekly hours and exam type to per-term details, keep "та" faculty color
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

revert(#550): remove weekly hours and exam type from per-term details
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
Due: webapp-biome-check

feat(#550): display education level and semester terms in course UI (#552)
  .github/agents/rate-ukma.agent.md
  docs/api/openapi-generated.yaml
  scripts/ci/find-image-tags.sh
  src/backend/AGENTS.md
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/migrations/0023_merge_20260326_2138.py
  src/backend/rating_app/repositories/course_repository.py
  src/webapp/AGENTS.md
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
  src/webapp/src/lib/faculty-colors.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check, yaml-lint

fix: pass education_level filter to analytics scatter plot API
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check

fix: pass education_level filter in explore page scatter plot
  src/webapp/src/routes/explore.tsx
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
