Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#473): make avatar ring match surrounding card surface
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check

fix(#473): tone down dark --card-user lightness
  src/webapp/src/styles.css
Due: none

chore(#473): drop duplicate --avatar-ring-color from .dark
  src/webapp/src/styles.css
Due: none

fix(#473): default avatar ring to --background not --card
  src/webapp/src/styles.css
Due: none

fix(#473): comments UI polish + reusable avatar (#602)
  src/webapp/AGENTS.md
  src/webapp/src/components/Header/UserMenu.tsx
  src/webapp/src/components/UserAvatar.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/components/reviewerAvatar.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/styles.css
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

ci(#580): propagate deployment .env from repo secrets, update ADR0007 (#598)
  .github/workflows/deploy.yml
  docs/architecture/decisions/0007-hetzner-deployment.md
  scripts/ci/deploy.sh
  scripts/ci/render-deploy-env.sh
  src/.env.sample
  src/backend/rateukma/settings/_base.py
  src/backend/scraper/management/commands/collect_catalog.py
  src/backend/scraper/management/commands/fetch_courses.py
  src/backend/scraper/management/commands/prepare_filtered_url.py
Due: yaml-lint

fix(#580): scope limitations handling - make environment secrets optional in workflow
  .github/workflows/deploy.yml
Due: yaml-lint

chore(#580): update gitignore rules and upload templates
  .gitignore
  infra/deploy/.env.live
  infra/deploy/.env.staging
Due: none

fix(#580): fix template postgres user
  infra/deploy/.env.live
  infra/deploy/.env.staging
Due: none

ci(#580): add infra trigger path
  .github/workflows/main-pipeline.yml
Due: yaml-lint

ci(#580): add infra changes to semver generation
  .github/workflows/changes-filter.yml
  .github/workflows/main-pipeline.yml
Due: yaml-lint

ci(#580): update cleanup image
  .github/workflows/cleanup-images.yml
Due: yaml-lint

ci(#580): enable dry-run mode in cleanup job
  .github/workflows/cleanup-images.yml
Due: yaml-lint

ci: add k8s-beta webapp build target for k8s-beta.rateukma.com
  .github/workflows/build.yml
Due: yaml-lint

ci: add k8s-beta webapp build target for k8s-beta.rateukma.com (#605)
  .github/workflows/build.yml
Due: yaml-lint

ci: add vite_environment variable for staging, live, and k8s-beta environments
  .github/workflows/build.yml
Due: yaml-lint

chore: set ACCOUNT_DEFAULT_HTTP_PROTOCOL to https for allauth callback URLs
  src/backend/rateukma/settings/prod.py
Due: none

fix(#609): disable nginx->gunicorn upstream keepalive to stop CLOSE_WAIT leak
  infra/nginx/rateukma.conf.template
  src/backend/django-entrypoint.sh
Due: none

fix(#609): set client keepalive_timeout explicitly, clarify upstream comment
  infra/nginx/rateukma.conf.template
Due: none

fix(#609): disable nginx->gunicorn upstream keepalive to stop CLOSE_WAIT leak (#610)
  infra/nginx/rateukma.conf.template
  src/backend/django-entrypoint.sh
Due: none

fix(#609): bind published container ports to loopback
  src/docker-compose.yml
Due: yaml-lint

fix(#609): bind published container ports to loopback (#612)
  src/docker-compose.yml
Due: yaml-lint

fix(#564): keep students in instructor pool, drop student-email gate
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
Due: none

fix(#564): recognise apostrophe names, simplify service-account filter
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
Due: none

feat(#564): ingest instructors from M365 CSV
  docs/api/openapi-generated.yaml
  docs/architecture/uml/domain-model.puml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/management/commands/generate_mock_data.py
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
  src/backend/rating_app/migrations/0028_simplify_instructor_add_email.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/instructor.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/serializers/instructor.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_instructor.py
  src/backend/scraper/ioc_container/common.py
  src/backend/scraper/models/__init__.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/__init__.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_extractors.py
Due: yaml-lint

fix(#564): address Greptile (P1) — make CSV encoding fallback actually work
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
Due: none

chore(deps): bump vitest to 4.1, override esbuild >=0.28.1 (audit)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

docs(#564): document Instructor as the M365 candidate pool
  src/backend/rating_app/models/instructor.py
Due: none

test(#601): comments e2e
  src/webapp/tests/e2e/ratings/comments.spec.ts
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check

fix: audit
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix: audit
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#601): keep comment edit helper scoped to active form
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check

fix(#601): wait for comment replies before expanding
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check

fix(#601): clean up comment ownership route mock
  src/webapp/tests/e2e/ratings/comments.spec.ts
Due: webapp-biome-check

fix(#601): use stable selector for comment controls
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check

fix(#601): use literal Cyrillic
  src/webapp/tests/e2e/ratings/comments.spec.ts
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check

fix(#564): drop instructor email from API, remove unsafe --purge flag
  docs/api/openapi-generated.yaml
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
  src/backend/rating_app/serializers/instructor.py
  src/backend/rating_app/views/test_instructor.py
Due: yaml-lint

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
