Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

docs(lab10): doc table boilerplate
  docs/ci-cd/metrics-raw.md
Due: none

docs(lab10): create report file placeholder
  docs/ci-cd/metrics-raw.md
Due: none

ci(lab10): take and check ready action
  .github/workflows/dora-metrics.yml
Due: yaml-lint

ci(lab10): use workflow names as params
  .github/workflows/dora-metrics.yml
Due: yaml-lint

ci(lab10): fix workflows enumeration
  .github/workflows/dora-metrics.yml
Due: yaml-lint

ci(lab10): set main branch explicitly for DORA check
  .github/workflows/dora-metrics.yml
Due: yaml-lint

feat(#283): rm original generate metrics script
  .gitignore
  docs/ci-cd/generate_metrics.sh
  docs/ci-cd/metrics-raw.md
Due: none

style(#283): format code
  scripts/dora-metrics/__init__.py
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/example.py
  scripts/dora-metrics/results/.gitkeep
Due: none

docs(#283): finish readme
  scripts/dora-metrics/README.md
Due: none

chore(#283): remove deprecated files
  .github/workflows/dora-metrics.yml
  calculate_dora_metrics.py
  dora-metrics-report.md
Due: yaml-lint

feat(#253): create custom mapper from pydantic schema to openapi params, update openapi schema and make params naming case consistent
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/constants.py
  src/backend/rating_app/ioc_container/common.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/api_spec/__init__.py
  src/backend/rating_app/views/api_spec/course.py
  src/backend/rating_app/views/api_spec/instructor.py
  src/backend/rating_app/views/api_spec/mappers.py
  src/backend/rating_app/views/api_spec/rating.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/rating_viewset.py
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check, yaml-lint

docs(#253): update ADR 0005 with Pydantic api spec generation
  docs/architecture/decisions/0005-api-data-validation.md
Due: none

fix(ci): separate dev and prod backend configurations to prevent pulling image locally
  src/docker-compose.yml
Due: yaml-lint

feat(#283): add commit names, simplify parsing
  docs/ci-cd/metrics-raw.md
  scripts/dora-metrics/README.md
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/example.py
  scripts/dora-metrics/generate_metrics.sh
Due: none

fix(#283): sonar
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/generate_metrics.sh
Due: none

refactor(#283): split into parse, calculate files
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/parse_dora_metrics.py
Due: none

refactor(#283): simplify table extraction
  scripts/dora-metrics/parse_dora_metrics.py
Due: none

refactor(backend): remove excessive documentation from utils
  src/backend/rating_app/utils.py
Due: none

feat: add interactive analytics scatter plot visualization
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/courses/components/AnalyticsScatterPlot.test.tsx
  src/webapp/src/features/courses/components/AnalyticsScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesViewSwitcher.test.tsx
  src/webapp/src/features/courses/components/CoursesViewSwitcher.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

refactor: migrate filters to React Hook Form and add comprehensive test coverage
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/filterSchema.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/test-utils/factories.ts
  src/webapp/src/test-utils/render.tsx
  src/webapp/src/vitest.setup.ts
  src/webapp/vitest.config.ts
Due: webapp-biome-check

refactor(backend): move validation helpers from utils to serializers module
  src/backend/rating_app/serializers/validation.py
  src/backend/rating_app/utils.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

feat(#253): use pydantic models for request body instead of serializers
  .github/workflows/release.yml
  docs/api/openapi-generated.yaml
  src/backend/rating_app/api_spec/__init__.py
  src/backend/rating_app/api_spec/mappers.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/common.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_course.py
Due: yaml-lint

feat(#253): remove unnecessary request body serializer
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/rating_create.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

feat: add URL parameter persistence for course filters
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/features/courses/urlSync.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

fix(#238): remove unnecessary step
  .github/workflows/e2e-test.yml
Due: yaml-lint

fix(#238): apply recommendations on pydantic schema parsing and docker container naming
  src/backend/rating_app/api_spec/mappers.py
  src/docker-compose.yml
Due: yaml-lint

docs: add ADR-0006 for Rust-like return types evaluation
  docs/architecture/decisions/0006-rust-like-return-types.md
  docs/architecture/decisions/INDEX.md
Due: none

docs(ADR-0006): revise to adopt Result types in service/repo layers
  docs/architecture/decisions/0006-rust-like-return-types.md
Due: none

docs(ADR-0006): add comprehensive error handling examples
  docs/architecture/decisions/0006-rust-like-return-types.md
Due: none

chore(snyk): upgrade lucide-react from 0.544.0 to 0.548.0 (#291)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

chore(snyk): upgrade @tanstack/react-router-devtools from 1.132.33 to 1.133.28 (#287)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#283): remove updated at, format timestamp
  docs/ci-cd/metrics-raw.md
  metrics-raw.md
  scripts/dora-metrics/README.md
  scripts/dora-metrics/example.py
  scripts/dora-metrics/generate_metrics.sh
  scripts/dora-metrics/parse_dora_metrics.py
Due: none

fix(#212): remove unexisting arg
  src/backend/scraper/services/db_ingestion/injector.py
Due: none

fix(snyk): after-merge pnpm-lock regen
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

feat(#283): dora metrics data gather and calculation (#294)
  .github/workflows/dora-metrics.yml
  .gitignore
  calculate_dora_metrics.py
  docs/ci-cd/generate_metrics.sh
  docs/ci-cd/metrics-raw.md
  dora-metrics-report.md
  metrics-raw.md
  scripts/dora-metrics/README.md
  scripts/dora-metrics/__init__.py
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/example.py
  scripts/dora-metrics/generate_metrics.sh
  scripts/dora-metrics/parse_dora_metrics.py
Due: yaml-lint

feat(#212): allow to clean mocked db entries, cache to ingestion + allow ingestion of empty education level (#292)
  src/backend/README.md
  src/backend/rating_app/management/commands/generate_mock_data.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/scraper/services/db_ingestion/composite.py
  src/backend/scraper/services/db_ingestion/file_reader.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/progress_tracker.py
  src/backend/scraper/services/db_ingestion/test_file_reader.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(lab10): rabbit
  scripts/dora-metrics/README.md
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/generate_metrics.sh
Due: none

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
