Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#281): inject optional student context via decorator
  src/backend/rating_app/views/decorators.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

fix(#281): grammar and inconsistent decorator name in docstring
  src/backend/rating_app/views/decorators.py
Due: none

fix(#281): disable votes on unenrolled courses, add tooltips
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
Due: webapp-biome-check

fix(#281): remove unused prop
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

fix(#281): guard RatingVotes from invalid IDs
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

fix(#281): simplify condition
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
Due: webapp-biome-check

fix(#281): rename RatingPaginationParams to RatingListQueryParams
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

fix(#281): reset rating list state when course changes
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#281): reset rating list state when course changes (#462)
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#281): allow voting on ratings across offerings of the same course
  src/backend/rating_app/repositories/enrollment_repository.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#281): remove debug print statement
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#281): allow voting on ratings across offerings of the same course (#464)
  src/backend/rating_app/repositories/enrollment_repository.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#425): override allauth on_authentication_error method to return custom failure response
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
Due: none

ci(#433): refuse pushing images to repo on non-main branch deployments
  .github/workflows/build.yml
Due: yaml-lint

ci(#433): allow non-main branch staging deployments (#435)
  .github/workflows/build.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
  .github/workflows/test.yml
Due: yaml-lint

fix(#425): override allauth on_authentication_error method to return custom failure response (#465)
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
Due: none

Add GNU GPL v3 license
  LICENSE
Due: none

refactor(#466): update Rating domain models and refactor Rating repository to return domain models
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

refactor(#466): update Rating service and partially implement other components abstractions and refactorings
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/domain_event_listeners/aggregates_update.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/pagination_rating_adapter.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

chore(#177): add course speciality verbose names
  src/backend/rating_app/models/course_speciality.py
Due: none

chore(#177): update admin models
  src/backend/rating_app/admin/models.py
Due: none

fix(#177): update list_display to use ratings_count method instead of model property
  src/backend/rating_app/admin/models.py
Due: none

chore(#177): admin models (#474)
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/models/course_speciality.py
Due: none

refactor(#466): prefetch rating votes instead of manual linking to the model instances
  src/backend/rateukma/ioc/decorators.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/rating_list_resp.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/pagination_rating_adapter.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/responses.py
Due: none

refactor(#466): process prefetched votes in mapper, improve rating domain SoC
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/services/pagination/paginator.py
  src/backend/rating_app/services/pagination_rating_adapter.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/vote_service.py
Due: none

refactor(#466): store viewer upvote/downvote as an integer, not as a string
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/rating_vote.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/serializers/rating_vote.py
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check, yaml-lint

refactor(#466): update response serializer and viewset to use domain models
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/views/rating_viewset.py
Due: yaml-lint

fix(#466): apply code fixes to pass the tests + fix cache mocking behaviour
  src/backend/conftest.py
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/serializers/rating_vote.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/decorators.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/vote_viewset.py
Due: none

fix(#466): use aggregations for votes counting, make paginator generic
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/services/pagination/paginator.py
  src/backend/rating_app/services/rating_service.py
Due: none

fix(#466): minor fixes resolve
  src/backend/rating_app/services/pagination/paginator.py
  src/backend/rating_app/views/decorators.py
Due: none

fix(#466): fix import of Semester model
  src/backend/rating_app/models/student.py
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix(#466): add ownership check in RatingService, fix generic typing, fix pnpm lock
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/pagination/paginator.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/decorators.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

refactor(#466): move pagination responsibility to database layer for query optimization
  src/backend/rating_app/application_schemas/pagination.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/pagination/__init__.py
  src/backend/rating_app/pagination/paginator.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/pagination/paginator.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/decorators.py
Due: none

chore(license): add missing components
  CONTRIBUTING.md
  COPYING
  README.md
  src/backend/pyproject.toml
Due: none

chore(license): add frontend license mentioning
  src/webapp/package.json
Due: webapp-biome-check

refactor(#466): use refactored pagination pattern in course domain
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/test_course_service.py
Due: none
