Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#356): improve speciality badges grouping and alias generation
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Tooltip.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.test.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/urlSync.test.ts
Due: webapp-biome-check, yaml-lint

fix: increase client timeout to 60s
  src/webapp/src/lib/api/apiClient.ts
Due: webapp-biome-check

fix(#356): improve speciality badges grouping and alias generation
  src/webapp/src/components/ui/Toaster.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.test.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#377): use frontend DSN from var, not secret
  .github/workflows/build.yml
Due: yaml-lint

fix(#356): use replaceAll
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

feat(#405): implement session timeout
  docs/requirements/requirements.md
  docs/validation/test-plan.md
  src/backend/rateukma/settings/_base.py
Due: none

fix(#356): add ARIA attributes
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#356): fix aria-label semantics, add missing controls
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#356): lint
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#356): improve speciality badges grouping and alias generation (#418)
  src/webapp/src/components/ui/Toaster.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.test.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix(#405): no page replacement & add toast notification
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/lib/auth/withAuth.tsx
Due: webapp-biome-check

fix(#405): resolve comments
  docs/traceability-matrix.md
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/lib/auth/AuthContext.tsx
Due: webapp-biome-check

fix(#405): guard globalThis.location access
  src/webapp/src/lib/api/apiClient.ts
Due: webapp-biome-check

feat(#421): implement rated courses filter for scatterplot
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/views/test_analytics.py
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check, yaml-lint

feat(#377): capture all sessions for now
  src/backend/rateukma/settings/prod.py
  src/webapp/src/integrations/sentry/init.ts
Due: webapp-biome-check

fix(#421): manually update aggregates in test
  src/backend/rating_app/views/test_analytics.py
Due: none

fix(#101): remove native SVG title to prevent tooltip overlap, lint speciality badges
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check

fix(#101): add padding to minimize cut-off points
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check

fix(#101): refactor loading messages
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check

fix(#101): sonar
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check

fix(#101): scatter plot (#423)
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check

labs(reflection): upload Anastasiia`s reflection
  labs/reflection/reflection_anastasiia_aleksieienko.md
Due: none

labs(reflection): upload Kateryna`s reflection
  labs/reflection/reflection_kateryna_bratiuk.md
Due: none

fix(#405): correct expiration state
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/lib/auth/sessionExpiry.ts
  src/webapp/src/lib/auth/withAuth.tsx
Due: webapp-biome-check

feat(#405): implement session timeout (#416)
  docs/requirements/requirements.md
  docs/traceability-matrix.md
  docs/validation/test-plan.md
  src/backend/rateukma/settings/_base.py
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/lib/auth/sessionExpiry.ts
  src/webapp/src/lib/auth/withAuth.tsx
Due: webapp-biome-check

feat(#421): implement rated courses filter for scatterplot (#422)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/views/test_analytics.py
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check, yaml-lint

fix(#101): allow up to 3 newlines in the comment
  src/backend/rating_app/services/rating_service.py
  src/webapp/src/features/ratings/components/RatingComment.tsx
Due: webapp-biome-check

fix(#101): sonar
  src/backend/rating_app/services/rating_service.py
  src/webapp/src/features/ratings/components/RatingComment.tsx
Due: webapp-biome-check

fix(#100): allow up to 3 newlines in the comment (#426)
  src/backend/rating_app/services/rating_service.py
  src/webapp/src/features/ratings/components/RatingComment.tsx
Due: webapp-biome-check

security(ci): fix unsafe input parameter passing
  .github/workflows/version.yml
Due: yaml-lint

test: remove ratings/ endpoint flaky check
  src/webapp/tests/e2e/components/courses-page.ts
Due: webapp-biome-check

feat: add prefetch in students stats
  src/backend/rating_app/repositories/student_stats_repository.py
Due: none

feat: increase cache ttl
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/student_viewset.py
Due: none

feat: remove UserProfileMiddleware
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/middleware.py
Due: none

test: stabilize e2e tests
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/login.test.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

test: add types to avoid having literals as args
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/rating-modal.ts
Due: webapp-biome-check

security(ci): fix unsafe input parameter passing (#427)
  .github/workflows/version.yml
Due: yaml-lint

fix(#100): fix None reference when comment is empty
  src/backend/rating_app/services/rating_service.py
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

test: add withRetry check to failing e2e
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
Due: webapp-biome-check
