Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#327): no reviews visibility check
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
Due: webapp-biome-check

fix: ignore missing in sentry steps
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-staging.yml
Due: yaml-lint

feat(#472): redesign My Ratings page
  src/webapp/src/components/ui/CircularProgress.tsx
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCardHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingMetric.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

refactor(#472): fix sonar code smells in MyRatingCard and MyRatingsHeader
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
Due: webapp-biome-check

refactor(#472): split my-ratings route into focused modules
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/components/MyRatingsYearSection.tsx
  src/webapp/src/features/ratings/groupRatings.ts
  src/webapp/src/features/ratings/types.ts
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#472): address PR review feedback from Greptile and CodeRabbit
  src/webapp/src/components/ui/CircularProgress.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

refactor(#472): reduce cognitive complexity of groupRatingsByYearAndSemester
  src/webapp/src/features/ratings/groupRatings.ts
Due: webapp-biome-check

fix(#472): align canRate default to false when can_rate is undefined
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

chore: reduce Sentry session replay sample rate to 0.2 (#485)
  src/webapp/src/integrations/sentry/init.ts
Due: webapp-biome-check

fix: src/webapp/Dockerfile to reduce vulnerabilities
  src/webapp/Dockerfile
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

feat(#470): rating time/popularity sorting
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/queries/rating_popularity.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/views/test_rating.py
Due: yaml-lint

feat(#470): rating time/popularity sorting on frontend
  src/webapp/.claude/settings.local.json
  src/webapp/src/components/ErrorBoundary.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingsSortSelect.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

chore(ci): update coverage badge
  coverage.svg
Due: none

feat(#470): update packages
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#470): lockfile
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix(#470): regenrate api on frontend
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#470): rremove infinite query generation for courses_list
  src/webapp/orval.config.ts
Due: webapp-biome-check

fix(#470): downgrade orval version
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#470): move state resets to useEffect in ratings hook
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#470): orval
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

refactor(#482): DDD refactoring of course offering and instructor repositories
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/exception/course_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/protocol.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/services/course_offering_service.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/semester_service.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

refactor(#482): DDD refactoring of department, student, speciality entities
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/application_schemas/department.py
  src/backend/rating_app/application_schemas/semester.py
  src/backend/rating_app/application_schemas/speciality.py
  src/backend/rating_app/application_schemas/student.py
  src/backend/rating_app/exception/semester_exception.py
  src/backend/rating_app/exception/speciality_exceptions.py
  src/backend/rating_app/exception/student_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/repositories/department_repository.py
  src/backend/rating_app/repositories/semester_repository.py
  src/backend/rating_app/repositories/speciality_repository.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_department_repository.py
  src/backend/rating_app/repositories/test_semester_repository.py
  src/backend/rating_app/repositories/test_speciality_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/services/department_service.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/services/speciality_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: yaml-lint

refactor(#482): fix test
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/services/test_student_service.py
Due: none

refactor(#482): DDD refactoring of faculty and vote entities
  src/backend/rating_app/application_schemas/faculty.py
  src/backend/rating_app/application_schemas/rating_vote.py
  src/backend/rating_app/exception/faculty_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/repositories/faculty_repository.py
  src/backend/rating_app/repositories/test_faculty_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/serializers/rating_vote.py
  src/backend/rating_app/services/vote_service.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

refactor(#482): update course and rating repos to new protocols
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/protocol.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

refactor(#482): bump versions in frontend deps to pass security audit
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

refactor(#482): create an input DTO to make injection more obvious and prevent type checker issues
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/application_schemas/department.py
  src/backend/rating_app/application_schemas/faculty.py
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/application_schemas/semester.py
  src/backend/rating_app/application_schemas/speciality.py
  src/backend/rating_app/application_schemas/student.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/department_repository.py
  src/backend/rating_app/repositories/faculty_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/semester_repository.py
  src/backend/rating_app/repositories/speciality_repository.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/scraper/services/db_ingestion/injector.py
Due: none

refactor(#482): refactor repositories that were not implementing the protocol
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course_instructor.py
  src/backend/rating_app/application_schemas/enrollment.py
  src/backend/rating_app/exception/course_instructor_exceptions.py
  src/backend/rating_app/exception/enrollment_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/repositories/course_instructor_repository.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/enrollment_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/test_course_instructor_repository.py
  src/backend/rating_app/repositories/test_enrollment_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: yaml-lint

fix(#482): fix mapping bugs
  src/backend/rating_app/repositories/course_instructor_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/scraper/ioc_container/common.py
  src/backend/scraper/services/db_ingestion/injector.py
Due: none

fix(#482): fix tests, raise domain exceptions
  src/backend/rating_app/exception/vote_exceptions.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(#482): fix type checker errors, optimize query
  src/backend/rating_app/repositories/vote_repository.py
Due: none

feat(#470): ratings sorting (#493)
  coverage.svg
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/queries/rating_popularity.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/.claude/settings.local.json
  src/webapp/orval.config.ts
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ErrorBoundary.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingsSortSelect.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check, yaml-lint

fix(audit): update dependencies
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(audit): update dependencies (#494)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#482): update cache invalidator for rating vote model
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
Due: none

fix(#446): set default value for WEBAPP_IMAGE_TAG in docker-compose (#478)
  src/docker-compose.yml
Due: yaml-lint

chore(#482): update lock file
  src/webapp/pnpm-lock.yaml
Due: yaml-lint
