Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#563): display M2M instructors on rating cards, fall back to legacy text
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

fix(#563): expose instructors on the light student-courses rating too
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/student_ratings.py
Due: yaml-lint

feat(#563): instructor multi-select on ratings + courses filter
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/migrations/0029_rating_instructors_m2m.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/instructor_list_resp.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_instructor.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check, yaml-lint

feat(#563): add same-course tier to instructor ranking
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

feat(#563): hide unrated current bachelor students from instructor list
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
Due: none

test(#563): fix flaky instructor E2E
  src/webapp/tests/e2e/ratings/instructor-legacy.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

feat(#563): gate instructor multi-select behind fe_instructor_multiselect flag
  src/backend/rateukma/settings/_base.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/tests/e2e/ratings/instructor-legacy.spec.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#563): stop exposing instructor email across the rating API
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/serializers/rating_read.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.test.ts
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

fix(#563): correct orval output so the generated client builds
  src/webapp/orval.config.ts
Due: webapp-biome-check

test(#563): cover instructor multiselect read path + E2E lifecycle
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/views/test_student_stats.py
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#563): address self-review — orval infinite query, instructor_ids validation, tests
  src/backend/rating_app/exception/instructor_exceptions.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/orval.config.ts
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.test.ts
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

refactor(#563): address review + multi-teacher E2E
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/test_instructor.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#563): show full first name on rating cards, not initials
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
Due: webapp-biome-check

chore(#563): regenerate openapi + orval client after rebase onto feature-flags stack
  docs/api/openapi-generated.yaml
Due: yaml-lint

chore(#563): apply ruff format after rebase onto main
  src/backend/rating_app/migrations/0029_rating_instructors_m2m.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_student_stats.py
Due: none

fix(#563): address CodeRabbit review — flag readiness, a11y, search contract
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/test-utils/render.tsx
Due: webapp-biome-check, yaml-lint

feat(#563): keep legacy instructor visible with the flag on, replace it on save
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

chore(webapp): bump the nanoid override to the patched 3.3.18
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: yaml-lint

test(#563): open the instructor picker via the chevron, not the trigger centre
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test(#563): pick instructors by name from the list, trim comments
  src/backend/rating_app/repositories/instructor_repository.py
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.test.ts
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#563): let search reach never-rated instructors filtered as students
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
Due: none

test(#563): hoist instructor picker locators into the POM constructor
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

refactor(#563): add useFeatureFlagState for flag value + readiness
  docs/feature-flags.md
  src/webapp/AGENTS.md
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
Due: webapp-biome-check

feat(#642): initial promo banner UI
  src/backend/rateukma/settings/_base.py
  src/webapp/src/features/promo/components/PromoBanner.test.tsx
  src/webapp/src/features/promo/components/PromoBanner.tsx
  src/webapp/src/features/promo/hooks/usePromoDismissal.ts
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

feat(#642): promo banner backend service and db layer
  src/backend/rating_app/migrations/0029_promobanner.py
  src/backend/rating_app/migrations/0030_alter_promobanner_is_active.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/promo_banner.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/promo_banner_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/promo_banner.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/promo_banner_service.py
Due: none

feat(#642): promo banner backend API
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/application_schemas/promo_banner.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/promo_banner_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_promo_banner.py
Due: yaml-lint

feat(#642): promo banner admin panel and minor webapp updates
  src/backend/rating_app/admin/models.py
  src/webapp/src/features/promo/components/PromoBanner.test.tsx
  src/webapp/src/features/promo/components/PromoBanner.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

fix(#642): remove redundant log
  src/webapp/src/features/promo/components/PromoBanner.tsx
Due: webapp-biome-check

feat(#642): initial promo banner (#643)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/promo_banner.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/migrations/0029_promobanner.py
  src/backend/rating_app/migrations/0030_alter_promobanner_is_active.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/promo_banner.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/promo_banner_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/promo_banner.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/promo_banner_service.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/promo_banner_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_promo_banner.py
  src/webapp/src/features/promo/components/PromoBanner.test.tsx
  src/webapp/src/features/promo/components/PromoBanner.tsx
  src/webapp/src/features/promo/hooks/usePromoDismissal.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

fix(#642): merge migrations collision
  src/backend/rating_app/migrations/0031_merge_20260815_1422.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

fix(#642): fix after merge fix main
  src/backend/rating_app/ioc_container/services.py
Due: none

fix(#642): fix migrations collision (#644)
  coverage.svg
  src/backend/rating_app/migrations/0031_merge_20260815_1422.py
Due: none

fix(instructors): keep instructor names stable across ingests
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/formatInstructorName.test.ts
  src/webapp/src/features/instructors/formatInstructorName.ts
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
Due: webapp-biome-check

chore(ratings): mark Rating.instructor deprecated, keep the data
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/migrations/0032_deprecate_rating_instructor.py
  src/backend/rating_app/models/rating.py
Due: yaml-lint

docs(#623): correct the waffle CLI, drop the unused test flag
  docs/feature-flags.md
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/views/test_flags.py
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

fixup! fix(instructors): keep instructor names stable across ingests
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/migrations/0032_deprecate_rating_instructor.py
  src/backend/rating_app/models/rating.py
Due: none

docs(#623): correct the waffle CLI, drop the unused test flag (#649)
  docs/feature-flags.md
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/views/test_flags.py
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

fix(#648): keep instructor names stable across ingests (#650)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
  src/backend/rating_app/migrations/0032_deprecate_rating_instructor.py
  src/backend/rating_app/models/rating.py
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/formatInstructorName.test.ts
  src/webapp/src/features/instructors/formatInstructorName.ts
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
Due: webapp-biome-check, yaml-lint

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
