Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#368): combobox size, scroll
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Command.tsx
Due: webapp-biome-check

fix: add explicit 'All' options to combobox filters for consistent text color
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

fix(#368): update tests to reflect 'All' option in combobox filters
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
Due: webapp-biome-check

fix(#368): add faculty_custom_abbreviation to mock data for department filtering test
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
Due: webapp-biome-check

feat(#215): highlight attended courses in Courses table
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/test-utils/render.tsx
Due: webapp-biome-check

chore(#375): add test IDs and helpers for E2E testing
  docs/testing/test-ids.md
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/Header/HeaderNav.tsx
  src/webapp/src/components/Header/MobileMenu.tsx
  src/webapp/src/components/Header/UserMenu.tsx
  src/webapp/src/components/Logo.tsx
  src/webapp/src/components/ModeToggle.tsx
  src/webapp/src/components/login/LoginForm.tsx
  src/webapp/src/components/login/MicrosoftLoginButton.tsx
  src/webapp/src/components/ui/ConfirmDialog.tsx
  src/webapp/src/components/ui/Drawer.tsx
  src/webapp/src/features/courses/components/CourseDetailsHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/components/CoursesEmptyState.tsx
  src/webapp/src/features/courses/components/CoursesErrorState.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingButton.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

feat(#368): replace select inputs with combobox in course filters panel (#370)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/course/filter_options.py
  src/backend/rating_app/services/department_service.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Command.tsx
  src/webapp/src/components/ui/Popover.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check, yaml-lint

docs(#175): update requirements traceability analysis with current implementation status (Dec 2025) (#300)
  docs/copilot/traceability-analysis-2025-10-25.md
  docs/copilot/traceability-analysis-2025-12-02.md
  docs/traceability-matrix.md
Due: none

fix(prod-pipeline): fix exit condition in get_version step
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

chore(#260): correct env name
  src/.env.sample
Due: none

feat(#260): rating functionality (#361)
  docs/api/openapi-generated.yaml
  src/.env.sample
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/middleware.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/serializers/auth.py
  src/backend/rating_app/serializers/student_ratings.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/backend/rating_app/views/auth.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingComment.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/RatingStats.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
  src/webapp/src/features/ratings/hooks/useUserCourseRating.ts
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/rating/rate-course.test.ts
Due: webapp-biome-check, yaml-lint

feat(#367): reconstruct filter options serializer + schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/serializers/course/filter_options.py
  src/backend/rating_app/services/course_service.py
Due: yaml-lint

feat(#367): show valid department/specialty options per faculty on frontend
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

feat(#367): refactor tests
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

feat(#367): add 'All' options + tests
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

fix(#367): refactor backend tests to support new filter options logic
  src/backend/rating_app/services/test_course_service.py
Due: none

feat(#367): faculty filter logic (#388)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/serializers/course/filter_options.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/test_course_service.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check, yaml-lint

chore(ci): update coverage badge
  coverage.svg
Due: none

feat(#394): Exclude rating_app commands from coverage and add scraper command tests (#396)
  coverage.svg
  src/backend/pyproject.toml
  src/backend/scraper/management/commands/test_collect_catalog.py
  src/backend/scraper/management/commands/test_fetch_courses.py
  src/backend/scraper/management/commands/test_group_courses.py
  src/backend/scraper/management/commands/test_insert_scraped.py
  src/backend/scraper/management/commands/test_prepare_filtered_url.py
Due: none

fix(cache): invalidate analytics cache after rating change
  docs/api/openapi-generated.yaml
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/rating_viewset.py
Due: yaml-lint

fix(#386): store course rating aggregates in db, setup rating event listening
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/apps.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/migrations/0008_course_avg_difficulty_course_avg_usefulness_and_more.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/domain_event_listeners/aggregates_update.py
  src/backend/rating_app/services/rating_service.py
Due: none

feat(#386): add default values to aggregates
  src/backend/rating_app/migrations/0009_alter_course_avg_difficulty_and_more.py
  src/backend/rating_app/models/course.py
Due: none

test(#386): fake cache manager, update rating tests with event trigger assertion
  src/backend/conftest.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/domain_event_listeners/aggregates_update.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/test_rating.py
Due: none

fix(cache): invalidate analytics cache after rating change (#400)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/rating_viewset.py
Due: yaml-lint

fix(#386): compare decimals
  src/backend/rating_app/views/test_rating.py
Due: none

fix(#386): add cache invalidation
  src/backend/rating_app/views/rating_viewset.py
Due: none

chore(#386): optimization - make course aggregate stats persistent
  src/backend/conftest.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/apps.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/migrations/0008_course_avg_difficulty_course_avg_usefulness_and_more.py
  src/backend/rating_app/migrations/0009_alter_course_avg_difficulty_and_more.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/domain_event_listeners/aggregates_update.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/test_rating.py
Due: none

fix(#393): cmd+click and middle-click on course links (#397)
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

fix(#390): popover correct text color, axes bg in plot
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/routes/explore.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check

style(#390): biome check
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
Due: webapp-biome-check

fix(#390): Improve dark theme colors, fix white text issues, and simplify theme toggle (#398)
  src/webapp/src/components/Header/MobileMenu.tsx
  src/webapp/src/components/ModeToggle.tsx
  src/webapp/src/components/ui/Drawer.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check

fix(ci): increase node RAM
  src/webapp/Dockerfile
Due: none

fix(docker-compose): remove restart field in webapp-build container configuration
  src/docker-compose.yml
Due: yaml-lint

fix(gunicorn): reduce amount of workers for weaker instances
  src/backend/django-entrypoint.sh
Due: none

fix(#386): use db cols, not annotated ones
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/serializers/course/course_list.py
Due: none

fix(gunicorn): calculate amount of workers based on memory
  src/backend/django-entrypoint.sh
Due: none

fix: order by rating count by default
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
Due: none

feat: indexes to course table
  src/backend/rating_app/migrations/0010_add_course_indexes.py
  src/backend/rating_app/models/course.py
Due: none

test: click on link in courses table row, use test ids
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
Due: webapp-biome-check

chore(#391): update uv.lock
  src/backend/uv.lock
Due: none
