Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

feat(#384): extend and document django model serializer, process decimal types
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/types_extensions.py
Due: none

fix(#384): test course service tests
  src/backend/rating_app/services/test_course_service.py
Due: none

refactor(#384): refactor cache invalidation as an event listener instead of manual invalidation in api layer
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

fix(#266): disable typeKind filter selection on no speciality on frontend
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

fix(#266): handle elective filtering business rule
  src/backend/conftest.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/services/course_service.py
Due: none

fix(#266): add tests
  src/backend/rating_app/services/test_course_service.py
  src/backend/rating_app/views/test_course.py
Due: none

fix(#266): sonar
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

fix(#261): highlight the last course in the table
  src/webapp/src/components/ui/Table.tsx
Due: webapp-biome-check

fix(#261): highlight the last attended course in the table
  src/webapp/src/components/ui/Table.tsx
Due: webapp-biome-check

feat(#384): update serializers and API schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/serializers/analytics.py
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/course_speciality.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/django_mappers/course_model.py
Due: yaml-lint

test(#384): update tests, create a boolean var to enable/disable cache (e.g. during testing)
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rateukma/settings/_base.py
  src/backend/rateukma/settings/testing.py
  src/backend/rating_app/services/test_course_service.py
  src/backend/rating_app/views/test_analytics.py
Due: none

test(#384): enable cache in caching tests
  src/backend/rateukma/caching/test_cache.py
Due: none

fix(#384): update course specialities field on frontend
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

fix(#384): update course specialities serializer
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/services/django_mappers/course_model.py
Due: yaml-lint

feat(#384): remove django models caching due to complex and unnecessary deserialization
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/types_extensions.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

fix(#384): create courseSpeciality dto and improve cache invalidation patterns
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/services/django_mappers/course_model.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
Due: none

fix(#384): update null value check in faculty id
  src/backend/rating_app/services/django_mappers/course_model.py
  src/backend/rating_app/services/speciality_service.py
Due: none

feat(#384): move domain model mapping to repository
  docs/api/openapi-generated.yaml
  src/backend/rating_app/ioc_container/common.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/protocol.py
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/django_mappers/__init__.py
  src/backend/rating_app/services/django_mappers/course_model.py
  src/backend/rating_app/services/pagination_course_adapter.py
  src/backend/rating_app/services/test_course_service.py
Due: yaml-lint

test(#384): update tests after changes
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/test_course_service.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

test(#384): update tests after changes
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

fix(#384): update webapp fields
  src/webapp/Dockerfile
  src/webapp/src/features/courses/components/CourseSpecialities.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#384): make type_kind field non-nullable
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/course/course_speciality.py
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#384): make title non-nullable
  src/backend/rating_app/serializers/course/course_detail.py
Due: none

fix(#384): add a frontend guard for title and status
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

fix(#384): update dfr serializers and api schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/analytics.py
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/course_speciality.py
Due: yaml-lint

fix(#384): improve exception handling
  src/backend/rating_app/exception/department_exceptions.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/services/course_service.py
Due: none

fix(#384): fix inconsistency in instructors prefetching
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/services/test_course_service.py
  src/backend/rating_app/views/test_analytics.py
Due: none

refactor(#384): enhance CourseRepository methods for prefetching and shallow loading; update serializers and service methods to support new functionality
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/serializers/course/course_speciality.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/test_course_service.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/test_analytics.py
  src/webapp/src/features/courses/components/CourseSpecialities.tsx
Due: webapp-biome-check, yaml-lint

fix(#384): ensure type_kind is not null (in application layer)
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/serializers/course/course_speciality.py
  src/webapp/src/features/courses/components/CourseSpecialities.tsx
Due: webapp-biome-check

fix(#384): add CourseMissingDepartmentOrFacultyError and update CourseRepository to handle missing department or faculty
  src/backend/rating_app/exception/course_exceptions.py
  src/backend/rating_app/repositories/course_repository.py
Due: none

fix(#384): prefetch faculties to prevent n+1 queries, add a todo to invalidate courses cache
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/services/course_service.py
Due: none

fix(#384): handle missing type kind
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/serializers/course/course_speciality.py
Due: none

fix(#384): null check and log warning for missing faculty in course speciality
  src/backend/rating_app/repositories/course_repository.py
Due: none

feat(#281): add model, migration
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/migrations/0011_ratingvote.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/rating_vote.py
Due: none

feat(#281): add vote repo, service, serializers, views, schema, add votes to ratings' list response
  docs/api/openapi-generated.yaml
  docs/architecture/uml/domain-model.puml
  src/backend/conftest.py
  src/backend/rateukma/settings/testing.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/application_schemas/rating_vote.py
  src/backend/rating_app/exception/vote_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/rating_vote.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/rating_list_resp.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/serializers/rating_vote.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_vote.py
  src/backend/rating_app/views/vote_viewset.py
Due: yaml-lint

feat(#281): add votes on frontend
  src/webapp/src/components/ui/Toaster.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#281): sonar
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check
