Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

ci(#577): adjust retention policy for tagged images
  .github/workflows/cleanup-images.yml
Due: yaml-lint

fix(#582): increase instructor field length
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/migrations/0026_update_instructor_max_length.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
Due: webapp-biome-check

feat(#574): add get_by_code method to CourseOfferingRepository and corresponding tests
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/views/test_course.py
Due: none

ci(#577): automation to cleanup old images (#585)
  .github/workflows/cleanup-images.yml
Due: yaml-lint

fix(#577): pin container-retention-policy version patch
  .github/workflows/cleanup-images.yml
Due: yaml-lint

fix(#577): align the inputs with the new action version
  .github/workflows/cleanup-images.yml
Due: yaml-lint

ci(#577): minimize the cleanup workflow with a more reliable option ghcr-cleanup-action
  .github/workflows/cleanup-images.yml
Due: yaml-lint

fix(#577): set owner of the repo
  .github/workflows/cleanup-images.yml
Due: yaml-lint

fix(#577): fix package pathes
  .github/workflows/cleanup-images.yml
Due: yaml-lint

feat(#582): minor adjustment to mobile UI
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

fix(#582): increase instructor field length (#586)
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/migrations/0026_update_instructor_max_length.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
Due: webapp-biome-check

fix(#574): handle numeric name queries
  src/backend/rating_app/repositories/course_repository.py
Due: none

refactor(#574): minor code cleanup
  src/backend/rating_app/repositories/course_repository.py
Due: none

feat(#574): add search by course offering SAZ code (#587)
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/views/test_course.py
Due: none

docs: add Azure OAuth key rotation runbook (#579)
  docs/runbooks/azure-oauth-key-rotation.md
Due: none

feat(#547): add page metadata for course preview
  src/webapp/index.html
  src/webapp/src/lib/app-metadata.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

security(#547): update dependencies versions
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

feat(#473): model + migration
  src/backend/rating_app/migrations/0026_comment_alter_notification_event_type_and_more.py
  src/backend/rating_app/models/comment.py
Due: none

feat(#473): repository, dtos, mapper
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/comment.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/comment_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

feat(#547): implement Open Graph metadata generation for course pages
  docs/api/openapi-generated.yaml
  src/backend/rateukma/app_metadata/__init__.py
  src/backend/rateukma/app_metadata/bot_detection.py
  src/backend/rateukma/urls.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/services/og_service.py
  src/backend/rating_app/templates/rating_app/og_card.html
  src/backend/rating_app/views/course_og_view.py
  src/backend/rating_app/views/test_course_og.py
  src/webapp/index.html
  src/webapp/src/lib/app-metadata.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

feat(#547): SSR for all course pages - backend implementation
  src/backend/rateukma/app_metadata/bot_detection.py
  src/backend/rating_app/services/og_service.py
  src/backend/rating_app/templates/rating_app/og_tags.html
  src/backend/rating_app/views/course_og_view.py
  src/backend/rating_app/views/test_course_og.py
Due: none

feat(#473): service, cache
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/exception/comment_exception.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/comment_events.py
  src/backend/rating_app/services/comment_normalizer.py
  src/backend/rating_app/services/comment_service.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/views/decorators.py
Due: none

feat(#473): viewsets, notifcations, schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/exception/comment_exception.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/repositories/notification_repository.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/comment_list.py
  src/backend/rating_app/serializers/comment_read.py
  src/backend/rating_app/serializers/notification.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/comment_normalizer.py
  src/backend/rating_app/services/domain_event_listeners/comment_notification.py
  src/backend/rating_app/services/notification_service.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/comment_viewset.py
  src/backend/rating_app/views/decorators.py
  src/backend/rating_app/views/responses.py
Due: yaml-lint

feat(#473): tests
  src/backend/conftest.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_vote_notification.py
  src/backend/rating_app/services/test_comment_service.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_comment.py
  src/backend/rating_app/views/test_notification.py
  src/backend/rating_app/views/test_rating.py
Due: none

feat(#473): add rating comments UI
  src/webapp/src/features/notifications/components/NotificationList.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/login.index.tsx
  src/webapp/tests/e2e/login.spec.ts
Due: webapp-biome-check

fix(#437): set min length for content field
  src/backend/rating_app/application_schemas/comment.py
Due: none

fix(#473): audit
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#473): make comment creation timestamp server-generated
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/repositories/comment_repository.py
  src/backend/rating_app/services/test_comment_service.py
  src/backend/rating_app/views/test_comment.py
Due: yaml-lint

fix(#473): prevent upsert from reading missing id
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/repositories/comment_repository.py
  src/backend/rating_app/repositories/test_comment_repository.py
Due: none

fix(#473): validate reply parent
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/exception/comment_exception.py
  src/backend/rating_app/repositories/comment_repository.py
  src/backend/rating_app/repositories/test_comment_repository.py
  src/backend/rating_app/services/comment_service.py
  src/backend/rating_app/services/test_comment_service.py
  src/backend/rating_app/views/comment_viewset.py
  src/backend/rating_app/views/test_comment.py
Due: none

fix(#473): use format uuid for comment_id on comment endpoints
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/views/comment_viewset.py
Due: yaml-lint

fix(#473): make parent_comment nullable in the request schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/comment.py
Due: yaml-lint

fix(#473): notify observers only after successful update/delete
  src/backend/rating_app/services/comment_service.py
  src/backend/rating_app/services/test_comment_service.py
Due: none

fix(#473): assert response status before consuming response payloads
  src/backend/rating_app/views/test_notification.py
Due: none

fix(#473): make parent_comment schema OpenAPI 3.0-compatible
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/comment.py
Due: yaml-lint

fix(#473): replace invalid RatingCommentAuthor with CommentAuthor, remove created_at
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

fix(#473): add DjangoValidationError to exception handling in _get_by_id_shallow
  src/backend/rating_app/repositories/comment_repository.py
Due: none

fix(#473): handle the others_count == 1 case in comment notification text
  src/backend/rating_app/serializers/notification.py
Due: none

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
