Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

feat(#623): add django-waffle + ADR-0009 (feature flags foundation) (#624)
  docs/architecture/decisions/0009-feature-flags.md
  docs/architecture/decisions/INDEX.md
  src/backend/pyproject.toml
  src/backend/rateukma/settings/_base.py
  src/backend/uv.lock
Due: none

docs(#623): feature-flags guide + AGENTS.md references
  docs/feature-flags.md
  src/backend/AGENTS.md
  src/webapp/AGENTS.md
Due: none

feat(#623): client-side flag overrides + test helpers
  docs/feature-flags.md
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/overrides.ts
  src/webapp/src/test-utils/render.tsx
  src/webapp/tests/e2e/shared/feature-flags.ts
Due: webapp-biome-check

fix(#623): refetch flags on auth identity change; ready after failed fetch
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
Due: webapp-biome-check

feat(#623): feature flags endpoint + frontend provider + demo flag
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/feature_flags.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/flags_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_flags.py
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/__root.tsx
Due: webapp-biome-check, yaml-lint

chore(#628): enable pyright standard typecheck
  .github/workflows/test.yml
  src/backend/pyproject.toml
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/protocols/decorators.py
  src/backend/rateukma/settings/prod.py
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/management/commands/_base_api_profiling_command.py
  src/backend/rating_app/management/commands/create_load_test_sessions.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_instructor.py
  src/backend/rating_app/models/course_offering_speciality.py
  src/backend/rating_app/models/course_offering_term.py
  src/backend/rating_app/models/department.py
  src/backend/rating_app/models/enrollment.py
  src/backend/rating_app/models/rating_vote.py
  src/backend/rating_app/models/speciality.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/error_envelope.py
  src/backend/rating_app/services/protocols.py
  src/backend/rating_app/views/notification_viewset.py
  src/backend/uv.lock
Due: yaml-lint

ci(#622): flush redis cache
  scripts/ci/deploy.sh
Due: none

fix(#623): drop stale flags on auth identity change; flag context in hook test wrapper
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/test-utils/render.tsx
Due: webapp-biome-check

ci(#622): handle option to preserve sessions
  scripts/ci/deploy.sh
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rating_app/management/commands/manage_cache.py
Due: none

fix(#623): ruff format, never_cache flags endpoint, key query by identity, harden override parsing
  src/backend/rating_app/views/flags_viewset.py
  src/backend/rating_app/views/test_flags.py
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/tests/e2e/shared/feature-flags.ts
Due: webapp-biome-check

feat(#623): feature flags implementation
  docs/api/openapi-generated.yaml
  docs/feature-flags.md
  src/backend/AGENTS.md
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/feature_flags.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/flags_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_flags.py
  src/webapp/AGENTS.md
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/overrides.ts
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/__root.tsx
  src/webapp/src/test-utils/render.tsx
  src/webapp/tests/e2e/shared/feature-flags.ts
Due: webapp-biome-check, yaml-lint

ci(#622): flush redis cache (+preserve sessions option) (#633)
  scripts/ci/deploy.sh
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rating_app/management/commands/manage_cache.py
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

chore(#628): address review nits on pyright adoption
  .github/workflows/test.yml
  src/backend/pyproject.toml
  src/backend/rateukma/protocols/decorators.py
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/error_envelope.py
  src/backend/rating_app/services/protocols.py
  src/backend/rating_app/services/semester_service.py
Due: yaml-lint

chore(#628): simplify pyright escapes per follow-up review
  .github/workflows/test.yml
  src/backend/AGENTS.md
  src/backend/pyproject.toml
  src/backend/rateukma/protocols/decorators.py
  src/backend/rateukma/settings/prod.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/error_envelope.py
Due: yaml-lint

docs(#628): add typesafe-code guidance to backend AGENTS.md
  src/backend/AGENTS.md
Due: none

fix(#628): use DummyCache in testing settings
  src/backend/rateukma/settings/testing.py
Due: none

chore(#628): enable pyright standard typecheck (#630)
  .github/workflows/test.yml
  src/backend/AGENTS.md
  src/backend/pyproject.toml
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/protocols/decorators.py
  src/backend/rateukma/settings/prod.py
  src/backend/rateukma/settings/testing.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
  src/backend/rating_app/management/commands/_base_api_profiling_command.py
  src/backend/rating_app/management/commands/create_load_test_sessions.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_instructor.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/course_offering_speciality.py
  src/backend/rating_app/models/course_offering_term.py
  src/backend/rating_app/models/department.py
  src/backend/rating_app/models/enrollment.py
  src/backend/rating_app/models/rating_vote.py
  src/backend/rating_app/models/speciality.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/serializers/error_envelope.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/views/notification_viewset.py
  src/backend/uv.lock
Due: yaml-lint

chore(ci): update coverage badge
  coverage.svg
Due: none

style(scraper): apply ruff format to injector
  src/backend/scraper/services/db_ingestion/injector.py
Due: none

fix(scraper): address review - collision-safe snapshot keys, detect removed fields in diff
  src/backend/scraper/management/commands/diff_catalog_snapshots.py
  src/backend/scraper/management/commands/snapshot_catalog.py
  src/backend/scraper/management/commands/test_diff_catalog_snapshots.py
Due: none

fix(scraper): derive program_start from enrollment academic year + catalog snapshot diff tooling
  src/backend/scraper/management/commands/diff_catalog_snapshots.py
  src/backend/scraper/management/commands/snapshot_catalog.py
  src/backend/scraper/management/commands/test_diff_catalog_snapshots.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/test_extractors.py
Due: none

fix(scraper): correct program_start derivation + catalog snapshot diff tooling (#635)
  coverage.svg
  src/backend/scraper/management/commands/diff_catalog_snapshots.py
  src/backend/scraper/management/commands/snapshot_catalog.py
  src/backend/scraper/management/commands/test_diff_catalog_snapshots.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/test_extractors.py
Due: none

chore(#628): add scraper to pyright include and fix type errors
  src/backend/pyproject.toml
  src/backend/scraper/parsers/catalog.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/deduplication/grouper.py
Due: none

chore(#628): exclude conftest.py from pyright (CI env lacks test extras)
  src/backend/pyproject.toml
Due: none

chore(#628): add scraper/ to pyright include and fix type errors (#636)
  src/backend/pyproject.toml
  src/backend/scraper/parsers/catalog.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/deduplication/grouper.py
Due: none

fix: repair pnpm-lock.yaml after merge
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix: lint
  src/webapp/tests/e2e/ratings/comments.spec.ts
Due: webapp-biome-check

test(#601): e2e comments (#614)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/comments.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check, yaml-lint

fix(#639): anonymous author label in comments section (#640)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/tests/e2e/ratings/comments.spec.ts
Due: webapp-biome-check, yaml-lint

chore(tooling): modernize frontend toolchain
  .github/workflows/audit.yml
  .github/workflows/changes-filter.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  TeamCharter.md
  docs/code-quality/progress.md
  src/backend/README.md
  src/webapp/.cta.json
  src/webapp/.oxfmtrc.json
  src/webapp/.oxlintrc.json
  src/webapp/AGENTS.md
  src/webapp/Dockerfile
  src/webapp/README.md
  src/webapp/biome.json
  src/webapp/index.html
  src/webapp/orval.config.ts
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/DataTable/DataTableColumnHeader.tsx
  src/webapp/src/components/DataTable/DataTablePagination.tsx
  src/webapp/src/components/ui/ButtonGroup.tsx
  src/webapp/src/components/ui/Card.tsx
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/components/ui/Spinner.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/notifications/components/NotificationBell.tsx
  src/webapp/src/features/notifications/hooks/useNotifications.ts
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/styles.css
  src/webapp/tsconfig.json
Due: webapp-biome-check, yaml-lint

fix(ci): snyk --all-projects for pnpm workspace + guard SARIF upload
  .github/workflows/audit.yml
Due: yaml-lint

fix(ci): address review comments — pin Node image, include CSS in pre-commit, README grammar
  .pre-commit-config.yaml
  src/backend/README.md
  src/webapp/Dockerfile
Due: yaml-lint

chore(tooling): modernize frontend toolchain (#641)
  .github/workflows/audit.yml
  .github/workflows/changes-filter.yml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  TeamCharter.md
  docs/code-quality/progress.md
  src/backend/README.md
  src/webapp/.cta.json
  src/webapp/.oxfmtrc.json
  src/webapp/.oxlintrc.json
  src/webapp/AGENTS.md
  src/webapp/Dockerfile
  src/webapp/README.md
  src/webapp/biome.json
  src/webapp/index.html
  src/webapp/orval.config.ts
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/DataTable/DataTableColumnHeader.tsx
  src/webapp/src/components/DataTable/DataTablePagination.tsx
  src/webapp/src/components/ui/ButtonGroup.tsx
  src/webapp/src/components/ui/Card.tsx
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/components/ui/Spinner.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/notifications/components/NotificationBell.tsx
  src/webapp/src/features/notifications/hooks/useNotifications.ts
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/styles.css
  src/webapp/tsconfig.json
Due: webapp-biome-check, yaml-lint

fix(#563): show saved instructors on edit, drop emails, Cyrillic-first order
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

fix(#563): address Greptile review (P2)
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/services/instructor_service.py
Due: none

feat(#563): infinite-scroll + search for the courses instructor filter
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
Due: webapp-biome-check

test(#563): assert email absent on instructor list / rating / stats payloads
  src/backend/rating_app/views/test_instructor.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_student_stats.py
Due: none
