Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#728): keep the mobile filters pill off the footer GitHub link (#729)
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proto: rate-all flow variants (split, focus, map) — local only
  src/webapp/src/features/rate-flow/CourseContext.tsx
  src/webapp/src/features/rate-flow/FocusVariant.tsx
  src/webapp/src/features/rate-flow/MapVariant.tsx
  src/webapp/src/features/rate-flow/SplitVariant.tsx
  src/webapp/src/features/rate-flow/useRateQueue.ts
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/fixtures/data.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proto: polished rate-all flow on the modal's own form — local only
  src/webapp/src/components/ui/Toaster.tsx
  src/webapp/src/features/rate-flow/CourseContext.tsx
  src/webapp/src/features/rate-flow/FocusVariant.tsx
  src/webapp/src/features/rate-flow/MapVariant.tsx
  src/webapp/src/features/rate-flow/RateCoursePane.tsx
  src/webapp/src/features/rate-flow/RateQueueRail.tsx
  src/webapp/src/features/rate-flow/SplitVariant.tsx
  src/webapp/src/features/rate-flow/useRateQueue.ts
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/hooks/useRatingSubmit.ts
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proto: rate flow v3, comparison after save, three-column layout — local only
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/rate-flow/RateComparison.tsx
  src/webapp/src/features/rate-flow/RateCoursePane.tsx
  src/webapp/src/features/rate-flow/RateQueueRail.tsx
  src/webapp/src/routes/rate.tsx
Due: webapp-biome-check

feat(webapp): suggest matching teachers under the course search
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/instructor.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_instructor.py
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/instructors/components/InstructorSuggestions.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/shots/fixtures/data.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

proof: instructor suggestions screenshots
  shots/search-instructor-picked-desktop-dark.png
  shots/search-instructor-picked-desktop-light.png
  shots/search-instructor-picked-phone-dark.png
  shots/search-instructor-picked-phone-light.png
  shots/search-instructor-suggestions-desktop-dark.png
  shots/search-instructor-suggestions-desktop-light.png
  shots/search-instructor-suggestions-phone-dark.png
  shots/search-instructor-suggestions-phone-light.png
Due: none

proto: rate flow v4, bold comparison, focused layout — local only
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/rate-flow/RateComparison.tsx
  src/webapp/src/features/rate-flow/RateCoursePane.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/routes/rate.tsx
Due: webapp-biome-check

feat(webapp): offer the course's teachers one tap away in the rating form
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/test_instructor.py
  src/webapp/src/features/instructors/components/InstructorQuickPicks.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

proof: rating modal quick picks
  shots/rating-modal/before-rating-modal-desktop-dark.png
  shots/rating-modal/before-rating-modal-desktop-light.png
  shots/rating-modal/before-rating-modal-phone-dark.png
  shots/rating-modal/before-rating-modal-phone-light.png
  shots/rating-modal/rating-modal-desktop-dark.png
  shots/rating-modal/rating-modal-desktop-light.png
  shots/rating-modal/rating-modal-phone-dark.png
  shots/rating-modal/rating-modal-phone-light.png
  shots/rating-modal/rating-modal-teacher-picked-desktop-dark.png
  shots/rating-modal/rating-modal-teacher-picked-desktop-light.png
  shots/rating-modal/rating-modal-teacher-picked-phone-dark.png
  shots/rating-modal/rating-modal-teacher-picked-phone-light.png
Due: none

proto: entry points to the rate flow (header badge, home bar, course card) — local only
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/Header/HeaderNav.tsx
  src/webapp/src/components/Header/MobileMenu.tsx
  src/webapp/src/features/courses/components/CoursesPage.test.tsx
  src/webapp/src/features/courses/components/CoursesPage.tsx
  src/webapp/src/features/rate-flow/RateCountBadge.tsx
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/features/rate-flow/useRateableCount.ts
  src/webapp/src/routes/-courses.$courseId.test.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proto: shared count badge, feed-strip tile and one-line course prompt instead of banners — local only
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/ui/CountBadge.tsx
  src/webapp/src/features/courses/components/CoursesPage.test.tsx
  src/webapp/src/features/courses/components/CoursesPage.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/notifications/components/MobileNotificationPanel.tsx
  src/webapp/src/features/notifications/components/NotificationBell.tsx
  src/webapp/src/features/rate-flow/RateCountBadge.tsx
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/routes/-courses.$courseId.test.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proto: rate flow review fixes (no shifts, focus on next, error state, one verb) — local only
  src/webapp/src/components/Header/HeaderNav.tsx
  src/webapp/src/features/courses/components/CoursesPage.test.tsx
  src/webapp/src/features/courses/components/CoursesPage.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/rate-flow/RateComparison.tsx
  src/webapp/src/features/rate-flow/RateCoursePane.tsx
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/features/rate-flow/RateQueueRail.tsx
  src/webapp/src/features/rate-flow/useRateQueue.ts
  src/webapp/src/features/rate-flow/useRateableCount.ts
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

feat(webapp): offer teachers others named on the course in the rating form
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/instructor.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_instructor.py
  src/webapp/src/features/instructors/components/InstructorQuickPicks.tsx
  src/webapp/src/features/instructors/courseInstructorPicks.test.ts
  src/webapp/src/features/instructors/courseInstructorPicks.ts
  src/webapp/src/features/instructors/formatInstructorName.test.ts
  src/webapp/src/features/instructors/formatInstructorName.ts
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/shots/fixtures/data.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

proof: course teacher picks
  shots/course-picks/before-rating-modal-desktop-dark.png
  shots/course-picks/before-rating-modal-desktop-light.png
  shots/course-picks/before-rating-modal-phone-dark.png
  shots/course-picks/before-rating-modal-phone-light.png
  shots/course-picks/rating-modal-desktop-dark.png
  shots/course-picks/rating-modal-desktop-light.png
  shots/course-picks/rating-modal-long-title-desktop-dark.png
  shots/course-picks/rating-modal-long-title-desktop-light.png
  shots/course-picks/rating-modal-long-title-phone-dark.png
  shots/course-picks/rating-modal-long-title-phone-light.png
  shots/course-picks/rating-modal-missing-score-desktop-dark.png
  shots/course-picks/rating-modal-missing-score-desktop-light.png
  shots/course-picks/rating-modal-missing-score-phone-dark.png
  shots/course-picks/rating-modal-missing-score-phone-light.png
  shots/course-picks/rating-modal-no-named-teachers-desktop-dark.png
  shots/course-picks/rating-modal-no-named-teachers-desktop-light.png
  shots/course-picks/rating-modal-no-named-teachers-phone-dark.png
  shots/course-picks/rating-modal-no-named-teachers-phone-light.png
  shots/course-picks/rating-modal-phone-dark.png
  shots/course-picks/rating-modal-phone-light.png
  shots/course-picks/rating-modal-teacher-picked-desktop-dark.png
  shots/course-picks/rating-modal-teacher-picked-desktop-light.png
  shots/course-picks/rating-modal-teacher-picked-phone-dark.png
  shots/course-picks/rating-modal-teacher-picked-phone-light.png
Due: none

proto: centre the count badge's digits (leading-none) — local only
  src/webapp/src/components/ui/CountBadge.tsx
Due: webapp-biome-check

proto: light rateable-count endpoint for the header badge and prompts — local only
  docs/api/openapi-generated.yaml
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/student_viewset.py
  src/backend/rating_app/views/test_student_stats.py
  src/webapp/src/features/rate-flow/useRateableCount.ts
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/hooks/useRatingSubmit.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
Due: webapp-biome-check, yaml-lint

proto: progress rings, words instead of deltas, end-of-queue summary, design-system fixes — local only
  src/webapp/src/features/rate-flow/RateComparison.tsx
  src/webapp/src/features/rate-flow/RateCoursePane.tsx
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/features/rate-flow/RateQueueRail.tsx
  src/webapp/src/features/rate-flow/RateSummary.tsx
  src/webapp/src/features/rate-flow/useRateQueue.ts
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proto: course sidebar card, centred badge digit, phone progress bar, one-time leave dialog — local only
  src/webapp/src/components/ui/CountBadge.tsx
  src/webapp/src/features/rate-flow/RateLeaveDialog.tsx
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/features/rate-flow/RateQueueRail.tsx
  src/webapp/src/features/rate-flow/useRateableCount.ts
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/routes/-courses.$courseId.test.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proto: one-line course card under «Про курс» — local only
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

Center count badge digits at 11px
  src/webapp/src/components/ui/CountBadge.tsx
Due: webapp-biome-check

Keep the rate queue across a course visit and pause between semesters
  src/webapp/src/features/rate-flow/RateComparison.tsx
  src/webapp/src/features/rate-flow/RateCountBadge.tsx
  src/webapp/src/features/rate-flow/RateLeaveDialog.tsx
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/features/rate-flow/RateQueueRail.tsx
  src/webapp/src/features/rate-flow/RateResumeBar.tsx
  src/webapp/src/features/rate-flow/RateSemesterDone.tsx
  src/webapp/src/features/rate-flow/RateSummary.tsx
  src/webapp/src/features/rate-flow/plural.test.ts
  src/webapp/src/features/rate-flow/plural.ts
  src/webapp/src/features/rate-flow/useRateQueue.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

Call courses «дисципліни» across the UI
  src/webapp/src/components/Header/navigationData.tsx
  src/webapp/src/features/course-offerings/components/CourseAbout.test.tsx
  src/webapp/src/features/course-offerings/components/CourseAbout.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/components/CoursesErrorState.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/feed/components/FeedEmptyState.tsx
  src/webapp/src/features/rate-flow/RateComparison.tsx
  src/webapp/src/features/rate-flow/RateCountBadge.tsx
  src/webapp/src/features/rate-flow/RateCoursePane.tsx
  src/webapp/src/features/rate-flow/RateLeaveDialog.tsx
  src/webapp/src/features/rate-flow/RatePrompt.tsx
  src/webapp/src/features/rate-flow/RateQueueRail.tsx
  src/webapp/src/features/rate-flow/RateResumeBar.tsx
  src/webapp/src/features/rate-flow/RateSemesterDone.tsx
  src/webapp/src/features/rate-flow/RateSummary.tsx
  src/webapp/src/features/rate-flow/plural.test.ts
  src/webapp/src/features/rate-flow/plural.ts
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.test.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/features/ratings/hooks/useRatingSubmit.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

Put the rate flow behind fe_rate_flow
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/webapp/src/features/rate-flow/RateResumeBar.tsx
  src/webapp/src/features/rate-flow/useRateFlow.ts
  src/webapp/src/features/rate-flow/useRateableCount.ts
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/routes/-courses.$courseId.test.tsx
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

Keep the notification badge as it was while the flags are off
  src/webapp/src/components/ui/CountBadge.tsx
  src/webapp/src/features/notifications/components/MobileNotificationPanel.tsx
  src/webapp/src/features/notifications/components/NotificationBell.tsx
Due: webapp-biome-check

Use fe_rate_flow for the «дисципліна» wording too
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/webapp/src/components/Header/navigationData.tsx
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/course-term.test.tsx
  src/webapp/src/lib/course-term.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

Screenshots for the rate flow PR
  rate-flow/course-rated-desktop-light.png
  rate-flow/entry-course-desktop-light.png
  rate-flow/entry-home-desktop-light.png
  rate-flow/entry-home-phone-light.png
  rate-flow/entry-mobile-menu-phone-light.png
  rate-flow/home-desktop-light.png
  rate-flow/my-ratings-desktop-light.png
  rate-flow/rate-done-desktop-light.png
  rate-flow/rate-entry-desktop-light.png
  rate-flow/rate-form-desktop-light.png
  rate-flow/rate-form-phone-light.png
  rate-flow/rate-leave-desktop-light.png
  rate-flow/rate-leave-phone-light.png
  rate-flow/rate-list-phone-light.png
  rate-flow/rate-modal-toast-desktop-light.png
  rate-flow/rate-next-desktop-light.png
  rate-flow/rate-progress-desktop-light.png
  rate-flow/rate-resume-desktop-light.png
  rate-flow/rate-resume-phone-light.png
  rate-flow/rate-reveal-desktop-light.png
  rate-flow/rate-reveal-phone-light.png
  rate-flow/rate-semester-desktop-light.png
  rate-flow/rate-semester-phone-light.png
Due: none

feat(#618): show the reviews column on phones, drop the hint
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

proof(#618): reviews column on phones
  proof/618/desktop-after.png
  proof/618/phone-after.png
  proof/618/phone-menu-after.png
  proof/618/phone360-after.png
Due: none

Settle Sonar findings and shoot the all-rated end of the flow
  src/webapp/src/features/rate-flow/useRateQueue.ts
  src/webapp/src/routes/rate.tsx
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

Add end-of-flow shots
  rate-flow/rate-all-done-desktop-light.png
  rate-flow/rate-all-done-phone-light.png
  rate-flow/rate-done-phone-light.png
Due: none

docs(#704): UKMA Data spec and demo deck
  docs/api/ukma-data-spec.md
  docs/presentations/ukma-data/assets/logo.png
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
Due: none

feat(#665): update mobile layout
  src/webapp/src/features/feed/components/FeedCommentItem.tsx
  src/webapp/src/features/feed/components/FeedPostDialog.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.tsx
  src/webapp/src/lib/markdown.ts
Due: webapp-biome-check

fix(#665): feed component fixes
  src/webapp/src/components/ui/Markdown.tsx
  src/webapp/src/features/feed/components/FeedCommentItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.tsx
Due: webapp-biome-check

docs(#704): store raw pages first so parsing and grouping can be recomputed
  docs/api/ukma-data-spec.md
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
Due: none

docs(#704): colocate UKMA Data specs, keep student names, store page snapshots
  docs/api/ukma-data-spec.md
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
  docs/ukma-data/deployment-infrastructure.md
  docs/ukma-data/spec.md
Due: none

docs(#704): access by roles over resource scopes, not open/restricted tiers
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
  docs/ukma-data/spec.md
Due: none

docs(#704): scopes on each key without roles; monorepo layout slides
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
  docs/ukma-data/spec.md
Due: none

docs(#704): planner and analytics are part of Rate UKMA
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
  docs/ukma-data/spec.md
Due: none

docs(#704): schedule files are part of САЗ and out of scope for now
  docs/presentations/ukma-data/slides.html
  docs/presentations/ukma-data/slides.md
  docs/presentations/ukma-data/slides.pdf
  docs/ukma-data/spec.md
Due: none

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
