Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

feat(#564): ingest instructors from M365 CSV (#607)
  docs/api/openapi-generated.yaml
  docs/architecture/uml/domain-model.puml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/management/commands/generate_mock_data.py
  src/backend/rating_app/management/commands/ingest_instructors_from_csv.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
  src/backend/rating_app/migrations/0028_simplify_instructor_add_email.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/instructor.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/serializers/instructor.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_instructor.py
  src/backend/scraper/ioc_container/common.py
  src/backend/scraper/models/__init__.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/__init__.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_extractors.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

feat(#583): sort homepage courses by review freshness
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

fix(#583): drop unused ratings_count_order param and constrain freshOrder to desc
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/courseFiltersParams.ts
Due: webapp-biome-check, yaml-lint

fix(#601): prefer test id
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check

refactor(#583): switch review-sort dropdown to Select-style trigger
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
Due: webapp-biome-check

feat(#583): default homepage to newest reviews first
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

chore(#583): drop unused readonly cast and extract nested ternary
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
Due: webapp-biome-check

fix(#583): align review-sort trigger with column header look
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

feat(#583): sort homepage courses by review freshness (#615)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

fix(#609): update gunicorn worker class from `gthread` to `sync` to eliminate socket leak + add ADR
  docs/architecture/decisions/0008-gunicorn-worker-class.md
  docs/architecture/decisions/INDEX.md
  src/backend/django-entrypoint.sh
Due: none

fix(#609): update gunicorn worker class from `gthread` to `sync` to eliminate socket leak + add ADR (#616)
  docs/architecture/decisions/0008-gunicorn-worker-class.md
  docs/architecture/decisions/INDEX.md
  src/backend/django-entrypoint.sh
Due: none

fix(#601): parallelize comment tests by routing workers to distinct courses
  src/webapp/tests/e2e/ratings/comments.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
Due: webapp-biome-check

fix: audit
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#601): re-anchor edit form locator to review card to survive fill
  src/webapp/tests/e2e/shared/comments-section.component.ts
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

feat(#623): add django-waffle + ADR-0009 (feature flags foundation)
  docs/architecture/decisions/0009-feature-flags.md
  docs/architecture/decisions/INDEX.md
  src/backend/pyproject.toml
  src/backend/rateukma/settings/_base.py
  src/backend/uv.lock
Due: none

feat(#623): feature flags endpoint + frontend provider + demo flag
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/feature_flags.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/flags_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_flags.py
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/__root.tsx
Due: webapp-biome-check, yaml-lint

docs(#623): feature-flags guide + AGENTS.md references
  docs/feature-flags.md
  src/backend/AGENTS.md
  src/webapp/AGENTS.md
Due: none

feat(#623): client-side flag overrides + test helpers
  docs/feature-flags.md
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/overrides.ts
  src/webapp/src/test-utils/render.tsx
  src/webapp/tests/e2e/shared/feature-flags.ts
Due: webapp-biome-check

fix(#563): stop exposing instructor email across the rating API
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/serializers/rating_read.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.test.ts
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

chore(#563): regenerate openapi + orval client after rebase onto feature-flags stack
  docs/api/openapi-generated.yaml
Due: yaml-lint

feat(#563): infinite-scroll + search for the courses instructor filter
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
Due: webapp-biome-check

feat(#563): add same-course tier to instructor ranking
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

fix(#563): expose instructors on the light student-courses rating too
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/student_ratings.py
Due: yaml-lint

fix(#563): address self-review — orval infinite query, instructor_ids validation, tests
  src/backend/rating_app/exception/instructor_exceptions.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/orval.config.ts
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.test.ts
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#563): address Greptile review (P2)
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/services/instructor_service.py
Due: none

fix(#563): display M2M instructors on rating cards, fall back to legacy text
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

refactor(#563): address review + multi-teacher E2E
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/test_instructor.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#563): show full first name on rating cards, not initials
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
Due: webapp-biome-check

fix(#563): show saved instructors on edit, drop emails, Cyrillic-first order
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check, yaml-lint

feat(#563): instructor multi-select on ratings + courses filter
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/migrations/0029_rating_instructors_m2m.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/instructor_list_resp.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_instructor.py
  src/backend/rating_app/views/test_rating.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check, yaml-lint

fix(#563): correct orval output so the generated client builds
  src/webapp/orval.config.ts
Due: webapp-biome-check

test(#563): cover instructor multiselect read path + E2E lifecycle
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/views/test_student_stats.py
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

feat(#563): gate instructor multi-select behind fe_instructor_multiselect flag
  src/backend/rateukma/settings/_base.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/tests/e2e/ratings/instructor-legacy.spec.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test(#563): fix flaky instructor E2E
  src/webapp/tests/e2e/ratings/instructor-legacy.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

chore(#563): patch high-sev transitive deps so security:audit passes
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

chore(webapp): patch high-severity transitive deps (security:audit)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
