Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

chore(#547): update namings for better maintainability
  src/backend/rateukma/urls.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/services/course_page_service.py
  src/backend/rating_app/templates/rating_app/page_meta_tags.html
  src/backend/rating_app/views/course_page_view.py
Due: none

feat(#547): add len limit for description
  src/backend/rating_app/services/course_page_service.py
Due: none

refactor(#547): move course description handling and optimize Open Graph metadata integration
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/services/course_page_service.py
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#473): imports
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): remove redundant function
  src/backend/rating_app/services/notification_service.py
Due: none

refactor(#473): extract replies rendering into repliesContent
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): remove void
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

refactor(#473): extract comments rendering into commentsContent variable
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check

fix(#473): resolve migration conflict
  src/backend/rating_app/migrations/0027_comment_alter_notification_event_type_and_more.py
Due: none

fix(#473): handle two-comment plural template correctly
  src/backend/rating_app/serializers/notification.py
  src/backend/rating_app/views/test_notification.py
Due: none

fix(#473): add comment viewer id into filter data
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/comment.py
  src/backend/rating_app/repositories/comment_repository.py
  src/backend/rating_app/serializers/comment_read.py
  src/backend/rating_app/services/comment_service.py
  src/backend/rating_app/views/comment_viewset.py
  src/webapp/src/features/ratings/components/RatingComments.tsx
Due: webapp-biome-check, yaml-lint

fix(#473): type mock comment list with generated CommentRead
  src/webapp/src/features/ratings/components/RatingComments.test.tsx
Due: webapp-biome-check

fix(#473): expect service to set can_manage on returned comments
  src/backend/rating_app/services/test_comment_service.py
Due: none

feat(#547): update len limit for meta tag description
  src/backend/rating_app/application_schemas/course.py
Due: none

ci(#593): store nginx config in VCS, update deployment pipeline
  .github/workflows/deploy.yml
  infra/nginx/rateukma.conf.template
  scripts/ci/deploy.sh
Due: yaml-lint

fix(#547): update difficulty and usefulness rating scale from 10 to 5
  src/backend/rating_app/application_schemas/course.py
Due: none

fix(#593): improve nginx config application and cleanup logic
  scripts/ci/deploy.sh
Due: none

fix(#593): fix permissions
  scripts/ci/deploy.sh
Due: none

ci(#593): adjust brackets in bash script
  scripts/ci/deploy.sh
Due: none

ci(#593): store nginx config in VCS, update deployment pipeline (#595)
  .github/workflows/deploy.yml
  infra/nginx/rateukma.conf.template
  scripts/ci/deploy.sh
Due: yaml-lint

ci(#593): improve bash script syntax, add nginx config diff to reduce downtime
  scripts/ci/deploy.sh
Due: none

ci(#593): improve bash script syntax, add nginx config diff to reduce downtime (#597)
  scripts/ci/deploy.sh
Due: none

feat(#547): SPA meta tags injection (#592)
  docs/api/openapi-generated.yaml
  src/backend/rateukma/app_metadata/__init__.py
  src/backend/rateukma/urls.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/services/course_page_service.py
  src/backend/rating_app/templates/rating_app/page_meta_tags.html
  src/backend/rating_app/views/course_page_view.py
  src/backend/rating_app/views/test_course_og.py
  src/webapp/index.html
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/lib/app-metadata.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#473): add content validation for put and patch
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/comment.py
Due: yaml-lint

fix(#473): use DEFAULT_PAGE_NUMBER
  src/backend/rating_app/application_schemas/comment.py
Due: none

ci(#594): setup workflows for automatic migration
  .github/workflows/enable-tls.yml
  .github/workflows/migrate.yml
  migration/scripts/deploy.sh
  migration/scripts/enable-tls.sh
  migration/scripts/provision.sh
  migration/scripts/setup-nginx.sh
  src/docker-compose.yml
Due: yaml-lint

ci(#594): add database dump and restore steps
  .github/workflows/migrate.yml
  migration/scripts/enable-tls.sh
Due: yaml-lint

fix(#594): fix secrets names
  .github/workflows/migrate.yml
Due: yaml-lint

fix(#594): use certbot with nginx
  migration/scripts/enable-tls.sh
Due: none

fix(#594): try removing --keep-until-expiring param
  migration/scripts/enable-tls.sh
Due: none

fix(#594): switch to certbot's standalone mode for TLS certificate acquisition
  migration/scripts/enable-tls.sh
Due: none

ci(#594): update repo secrets
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#594): add environment to secrets resolution
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#594): remove environment and SSH secrets from deployment jobs in pipelines
  .github/workflows/deploy.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#594): propagate secrets
  .github/workflows/deploy.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

ci(#594): set environment dynamically
  .github/workflows/deploy.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

chore(#594): cleanup migration components
  .github/workflows/enable-tls.yml
  .github/workflows/migrate.yml
  migration/scripts/deploy.sh
  migration/scripts/enable-tls.sh
  migration/scripts/provision.sh
  migration/scripts/setup-nginx.sh
Due: yaml-lint

docs(#594): add migration ADR
  docs/architecture/decisions/0007-hetzner-deployment.md
  docs/architecture/decisions/INDEX.md
Due: none

ci(#580): propagate deployment .env from repo secrets
  .github/workflows/deploy.yml
  docs/architecture/decisions/0007-hetzner-deployment.md
Due: yaml-lint

feat(#473): limit author preview to 3 latest users at repository level
  src/backend/rating_app/constants.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/views/test_rating.py
Due: none
