Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

refactor(#487): clean up prod pipeline conditions
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#487): fix staging feature-branch deployment - allow image pushing
  .github/workflows/build.yml
  .github/workflows/main-pipeline.yml
Due: yaml-lint

fix(#487): update action versions and improve archive command syntax
  .github/workflows/deploy.yml
Due: yaml-lint

fix(#487): update action versions in deploy workflow for consistency
  .github/workflows/deploy.yml
Due: yaml-lint

fix(#487): fix unreliable places in deployment script
  .github/workflows/deploy.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
  scripts/ci/deploy.sh
Due: yaml-lint

fix(#487): try setting archive name dynamically with sanitization
  .github/workflows/deploy.yml
Due: yaml-lint

fix(#487): handle missing image tags
  .github/workflows/deploy.yml
Due: yaml-lint

fix(audit): update axios to 1.13.5 and override minimatch to fix high CVEs
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#472): mount RatingModal in edit mode when offeringId is absent
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

fix(typo): побачь → побач in login page tagline
  src/webapp/src/routes/login.index.tsx
Due: webapp-biome-check

feat(#472): redesign My Ratings page (#486)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/CircularProgress.tsx
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCardHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingMetric.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/components/MyRatingsYearSection.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/groupRatings.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/login.index.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
Due: webapp-biome-check, yaml-lint

fix(#496): add missing isFetching to return type and simplify skeleton condition
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#496): front fixes from meet
  src/backend/rateukma/caching/patterns.py
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#420): tighten Sentry payload and silence expected noise
  src/backend/rateukma/settings/prod.py
  src/webapp/src/lib/api/apiClient.ts
Due: webapp-biome-check

fix(#420): tighten Sentry payload and silence expected noise (#502)
  src/backend/rateukma/settings/prod.py
  src/webapp/src/lib/api/apiClient.ts
Due: webapp-biome-check

security(#487): fix user env usage and restore get-staging-released-version.result == 'success' guard
  .github/workflows/deploy.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

refactor(#487): ci composite actions
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/actions/setup-python-uv/action.yml
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-script.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-test.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/openapi-validation.yml
  .github/workflows/prod-pipeline.yml
  .github/workflows/test.yml
  scripts/ci/deploy.sh
  scripts/ci/find-image-tags.sh
Due: yaml-lint

fix(#487): add sudo
  scripts/ci/deploy.sh
Due: none

ci(#487): deploy script fixes
  scripts/ci/deploy.sh
Due: none

ci(#487): broaden main pipeline trigger
  .github/workflows/main-pipeline.yml
Due: yaml-lint

ci(#487): try alternative approach to checking running containers
  scripts/ci/deploy.sh
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

fix(#489): add exception
  src/backend/rating_app/exception/vote_exceptions.py
Due: none

fix(#489): forbid voting on ratings before midterm + tests
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#489): add tooltip for vote restriction before midterm
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#489): reduce duplications in tests
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#489): audit
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#489): disallow votes on future courses (#506)
  src/backend/rating_app/exception/vote_exceptions.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_vote.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#496): replace manual pagination with useInfiniteQuery, fix collapsible state crash
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#496): guard IntersectionObserver against duplicate fetchNextPage calls
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(scraper): remove deprecated `devtools` param for Playwright 1.58
  src/backend/scraper/auth.py
  src/backend/scraper/browser.py
  src/backend/scraper/management/commands/collect_catalog.py
  src/backend/scraper/management/commands/fetch_courses.py
  src/backend/scraper/test_browser.py
Due: none

fix(#419): map Ukrainian enrollment status strings in StudentExtractor
  src/backend/scraper/services/deduplication/conftest.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/test_extractors.py
Due: none

fix(#419): map Ukrainian enrollment status strings in StudentExtractor (#508)
  src/backend/scraper/auth.py
  src/backend/scraper/browser.py
  src/backend/scraper/management/commands/collect_catalog.py
  src/backend/scraper/management/commands/fetch_courses.py
  src/backend/scraper/services/deduplication/conftest.py
  src/backend/scraper/services/deduplication/extractors.py
  src/backend/scraper/services/deduplication/test_extractors.py
  src/backend/scraper/test_browser.py
Due: none

fix(#266): normalizes backticks and apostrophes for convenient search
  src/webapp/src/components/ui/Combobox.tsx
Due: webapp-biome-check

feat(#266): add ELECTIVE course filtering business rule
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/services/course_service.py
Due: none

feat(#266): add tests
  src/backend/conftest.py
  src/backend/rating_app/views/test_course.py
Due: none

feat(#266): forbid type_kind on empty speciality on ui
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/ratings/components/RatingCard.tsx
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
