Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#281): domain model to match implementation
  docs/architecture/uml/domain-model.puml
Due: none

fix(#261): rabbit
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/vote_viewset.py
  src/webapp/src/components/ui/Toaster.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

fix(#261): sonar x2
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

test(e2e): reduce flake and add smoke tags
  docs/testing/e2e-tests.md
  src/webapp/.gitignore
  src/webapp/biome.json
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Slider.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/details.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/framework/base-page.ts
  src/webapp/tests/e2e/framework/common.ts
  src/webapp/tests/e2e/framework/test-config.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test(e2e): stabilize Playwright suite with test IDs
  src/webapp/README.md
  src/webapp/package.json
  src/webapp/playwright.config.ts
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Slider.tsx
  src/webapp/src/features/courses/components/CourseColumnHeader.test.tsx
  src/webapp/src/features/courses/components/CourseColumnHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/components/test-config.ts
  src/webapp/tests/e2e/courses-pagination.test.ts
  src/webapp/tests/e2e/courses-search.test.ts
  src/webapp/tests/e2e/courses/details.test.ts
  src/webapp/tests/e2e/courses/error-states.test.ts
  src/webapp/tests/e2e/courses/filters.test.ts
  src/webapp/tests/e2e/courses/history.test.ts
  src/webapp/tests/e2e/courses/journeys.test.ts
  src/webapp/tests/e2e/courses/pagination.test.ts
  src/webapp/tests/e2e/courses/search.test.ts
  src/webapp/tests/e2e/courses/sorting.test.ts
  src/webapp/tests/e2e/fixtures/api-mocks.ts
  src/webapp/tests/e2e/fixtures/courses.ts
  src/webapp/tests/e2e/helpers/url-assertions.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
Due: webapp-biome-check, yaml-lint

test(#327): format Playwright e2e files
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/login.test.ts
Due: webapp-biome-check

test(#327): add e2e coverage for courses filters and pagination
  src/webapp/src/components/DataTable/DataTablePagination.tsx
  src/webapp/src/components/ui/AlertDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/courses-filters.test.ts
  src/webapp/tests/e2e/courses-pagination.test.ts
  src/webapp/tests/e2e/courses-search.test.ts
Due: webapp-biome-check

feat: add hover states for table rows
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Table.tsx
Due: webapp-biome-check

feat(#327): refactor AlertDialog to use Dialog
  src/webapp/src/components/ui/AlertDialog.tsx
Due: webapp-biome-check

test(#327): harden Playwright e2e suite
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/login.test.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

fix: allow filters selects inside mobile drawer
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Drawer.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/lib/body-scroll-lock.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/courses-filters.test.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
Due: webapp-biome-check

test: align e2e suite with black-box strategy
  docs/testing/e2e-tests.md
  src/webapp/src/features/courses/components/CoursesErrorState.test.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/tests/e2e/courses/error-states.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/fixtures/api-mocks.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
Due: webapp-biome-check

test(e2e): reorganize suites by feature
  src/webapp/playwright.config.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/details.spec.ts
  src/webapp/tests/e2e/courses/error-states.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/fixtures/api-mocks.ts
  src/webapp/tests/e2e/courses/fixtures/courses.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/framework/base-page.ts
  src/webapp/tests/e2e/framework/common.ts
  src/webapp/tests/e2e/framework/test-config.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
  src/webapp/tests/e2e/shared/url-assertions.ts
Due: webapp-biome-check

docs: better note about seeded db
  docs/testing/e2e-tests.md
Due: none

fix: asc/desc usefullness/diff sorting
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseColumnHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

fix(#261): rabbit x2
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/serializers/rating_read.py
Due: yaml-lint

fix(#261): rabbit x3
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/vote_viewset.py
Due: yaml-lint

fix(#261): sonar x3
  src/backend/rating_app/views/responses.py
Due: none

refactor(#384): improve encapsulation and readability, reduce cognitive load
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rateukma/settings/_base.py
  src/backend/rateukma/settings/testing.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course/course_speciality.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/django_mappers/__init__.py
  src/backend/rating_app/services/django_mappers/protocol.py
  src/backend/rating_app/services/pagination_course_adapter.py
  src/backend/rating_app/services/test_course_service.py
Due: none

fix(#438): move dockerignore files to Dockerfile dir level
  .dockerignore
  src/.dockerignore
  src/backend/.dockerignore
Due: none

fix(#384): filter out None values in cache key context
  src/backend/rateukma/caching/types_extensions.py
Due: none

chore(#438): isolate host dependencies from docker containers (#439)
  .dockerignore
  src/backend/.dockerignore
  src/backend/Dockerfile
  src/webapp/.dockerignore
Due: none

fix(#261): remove unnecessary testing configuration
  src/backend/rateukma/settings/testing.py
Due: none

fix: upgrade @tanstack/react-router from 1.139.12 to 1.140.0
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tanstack/react-router-devtools from 1.139.12 to 1.140.0
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tanstack/router-plugin from 1.139.12 to 1.140.0
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade react from 19.2.0 to 19.2.1
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade react-dom from 19.2.0 to 19.2.1
  src/webapp/package.json
Due: webapp-biome-check

chore(ci): update coverage badge
  coverage.svg
Due: none

refactor(#454): simplify code, reduce amount of comments
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseColumnHeader.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

fix(#456): filter selects visibility in mobile drawer
  src/webapp/src/components/ui/Drawer.tsx
Due: webapp-biome-check

fix(#281): remove cache manager injection
  src/backend/rating_app/ioc_container/web.py
Due: none

fix(#454): asc/desc usefullness/diff sorting (#455)
  coverage.svg
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseColumnHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

fix(#456): filter selects visibility in mobile drawer (#457)
  src/webapp/src/components/ui/Drawer.tsx
Due: webapp-biome-check

fix(#281): let delete() exceptions propagate, clear student_id for anonymous ratings
  src/backend/rating_app/exception/vote_exceptions.py
  src/backend/rating_app/repositories/vote_repository.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/vote_viewset.py
Due: none
