Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

chore(deps): bump seroval, tinypool, source-map-js for audit advisories (#741)
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: yaml-lint

feat(webapp): offer teachers others named on the course in the rating form (#731)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/serializers/__init__.py
  src/backend/rating_app/serializers/instructor.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/instructor_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_instructor.py
  src/webapp/src/features/instructors/components/InstructorQuickPicks.tsx
  src/webapp/src/features/instructors/courseInstructorPicks.test.ts
  src/webapp/src/features/instructors/courseInstructorPicks.ts
  src/webapp/src/features/instructors/formatInstructorName.test.ts
  src/webapp/src/features/instructors/formatInstructorName.ts
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/shots/fixtures/data.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

test(webapp): e2e for teacher quick picks in the rating form
  src/webapp/tests/e2e/ratings/instructor-quick-picks.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test(webapp): share rating setup and cleanup across instructor e2e tests
  src/webapp/tests/e2e/framework/rating-cleanup.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/ratings/instructor-quick-picks.spec.ts
Due: webapp-biome-check

test(webapp): close the rating modal before cleanup, run instructor e2e serially
  src/webapp/tests/e2e/framework/rating-cleanup.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
Due: webapp-biome-check

feat(webapp): prototype the schedule as a Rate UKMA page behind fe_schedule
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/Header/navigationData.tsx
  src/webapp/src/features/schedule/components/LessonCard.tsx
  src/webapp/src/features/schedule/components/ScheduleAgenda.tsx
  src/webapp/src/features/schedule/components/SchedulePage.tsx
  src/webapp/src/features/schedule/components/ScheduleRail.tsx
  src/webapp/src/features/schedule/components/WeekGrid.tsx
  src/webapp/src/features/schedule/hooks/useMySchedule.ts
  src/webapp/src/features/schedule/scheduleDates.ts
  src/webapp/src/features/schedule/scheduleTypes.ts
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/schedule.tsx
  src/webapp/tests/shots/fixtures/data.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

docs(#704): review cases section, glossary terms, missing API resources
  docs/parser-service/spec.md
Due: none

docs(#704): decisions keep safe answers, key management in scope
  docs/parser-service/spec.md
Due: none

feat(webapp): show chosen teachers in the review preview, remove a teacher by tapping its badge
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/tests/e2e/shared/rating-modal.component.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proof: teacher preview and chip remove shots
  shots/preview-teachers/after-rating-modal-teacher-chip-hover-desktop-light.png
  shots/preview-teachers/after-rating-modal-teacher-preview-desktop-light.png
  shots/preview-teachers/after-rating-modal-teacher-preview-phone-dark.png
  shots/preview-teachers/before-rating-modal-teacher-chip-hover-desktop-light.png
  shots/preview-teachers/before-rating-modal-teacher-preview-desktop-light.png
  shots/preview-teachers/before-rating-modal-teacher-preview-phone-dark.png
Due: none

test(webapp): share setup across teacher chip, form and shots tests
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

test(webapp): cover a searched teacher staying in the review preview
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
Due: webapp-biome-check

docs(#704): course groups computed by the service, ratings follow offerings
  docs/parser-service/spec.md
Due: none

docs(#704): service owns course groups, starting from Rate UKMA's importer rules
  docs/parser-service/spec.md
Due: none

feat(webapp): teachers in the review preview, tap a teacher badge to remove it (#743)
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/tests/e2e/shared/rating-modal.component.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

test(webapp): move e2e rating cleanup into Playwright fixtures
  src/webapp/AGENTS.md
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/framework/fixtures.ts
  src/webapp/tests/e2e/framework/rating-cleanup.ts
  src/webapp/tests/e2e/ratings/comments.spec.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
Due: webapp-biome-check

test(webapp): find teacher chips while the picker is open
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test(webapp): rate with a teacher sure to be offered in the quick-pick e2e
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test(webapp): e2e for teacher quick picks, rating cleanup as Playwright fixtures (#742)
  src/webapp/AGENTS.md
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/framework/fixtures.ts
  src/webapp/tests/e2e/ratings/comments.spec.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

refactor: simplify rating suggestions copy, cards and tests
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/rating_suggestions.py
  src/webapp/src/features/ratings/components/RatingContinuationProvider.tsx
  src/webapp/src/features/ratings/components/RatingSaved.tsx
  src/webapp/src/features/ratings/components/RatingSuggestionPrompt.test.tsx
  src/webapp/src/features/ratings/components/RatingSuggestionPrompt.tsx
  src/webapp/src/features/ratings/components/RatingSuggestions.tsx
  src/webapp/src/features/ratings/hooks/useRatingSuggestions.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/tests/shots/rating-suggestions.spec.ts
Due: webapp-biome-check, yaml-lint

Screenshots for #736 cleanup
  v2/my-ratings-1440.png
  v2/my-ratings-flag-off-1440.png
  v2/next-form-1440.png
  v2/rated-course-1440.png
  v2/thanks-1440.png
  v2/thanks-390.png
Due: none

wip(webapp): course score sparklines mockup (invented data)
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/components/ScoreTrend.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix: refresh rating data even when the thanks invitation is dropped
  src/webapp/src/features/ratings/components/RatingContinuationProvider.tsx
Due: webapp-biome-check

refactor(#571): trim theme leftovers
  src/webapp/index.html
  src/webapp/src/components/ModeToggle.tsx
  src/webapp/src/components/ThemeProvider.test.tsx
  src/webapp/src/components/ThemeProvider.tsx
Due: webapp-biome-check

refactor(#571): address Sonar findings on theme code
  src/webapp/index.html
  src/webapp/src/components/ThemeProvider.tsx
  src/webapp/src/styles.css
  src/webapp/src/theme-contrast.test.ts
Due: webapp-biome-check

feat(#618): fold reviews sort into the title header on phones
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

feat(#757): show course tooltips on the auth page dots
  src/webapp/src/components/AuthShell.tsx
Due: webapp-biome-check

feat(#571): announce the selected theme and cover it in e2e
  src/webapp/src/components/ModeToggle.test.tsx
  src/webapp/src/components/ModeToggle.tsx
  src/webapp/tests/e2e/theme.spec.ts
Due: webapp-biome-check

proof(#571): radio theme menu
  proof/571/menu-radio-dark.png
  proof/571/menu-radio-light.png
Due: none

fix(#571): keep the theme working when storage is blocked
  src/webapp/src/components/ThemeProvider.test.tsx
  src/webapp/src/components/ThemeProvider.tsx
Due: webapp-biome-check

feat(#571): system theme option in picker (#682)
  src/webapp/index.html
  src/webapp/src/components/Header/MobileMenu.tsx
  src/webapp/src/components/ModeToggle.test.tsx
  src/webapp/src/components/ModeToggle.tsx
  src/webapp/src/components/ThemeProvider.test.tsx
  src/webapp/src/components/ThemeProvider.tsx
  src/webapp/src/styles.css
  src/webapp/src/theme-contrast.test.ts
  src/webapp/tests/e2e/theme.spec.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

wip(webapp): stats page and course score split mockup (live aggregates hardcoded)
  src/webapp/src/components/Header/navigationData.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/components/ScoreDistribution.tsx
  src/webapp/src/features/courses/components/ScoreTrend.tsx
  src/webapp/src/features/stats/components/StatsCharts.tsx
  src/webapp/src/features/stats/statsData.ts
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/src/routes/stats.tsx
Due: webapp-biome-check

chore(webapp): patch seroval, source-map-js and tinypool advisories
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: yaml-lint

wip(webapp): stats page on shadcn charts (recharts), fewer cards
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Chart.tsx
  src/webapp/src/features/stats/components/StatsCharts.tsx
  src/webapp/src/features/stats/statsData.ts
  src/webapp/src/routes/stats.tsx
Due: webapp-biome-check, yaml-lint

docs(#704): UKMA Data service and public API spec (#734)
  docs/parser-service/deployment-infrastructure.md
  docs/parser-service/spec.md
Due: none

wip(webapp): stats page reviews, anonymity, coverage and lag charts
  src/webapp/src/features/stats/components/StatsCharts.tsx
  src/webapp/src/features/stats/statsData.ts
  src/webapp/src/routes/stats.tsx
Due: webapp-biome-check

feat(webapp): teacher reports prototype behind fe_teacher_reports
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/Header/navigationData.tsx
  src/webapp/src/features/teaching/components/OfferingHistory.tsx
  src/webapp/src/features/teaching/components/ParticipationCard.tsx
  src/webapp/src/features/teaching/components/ScoreDistribution.tsx
  src/webapp/src/features/teaching/components/TeachingComments.tsx
  src/webapp/src/features/teaching/components/TeachingCoursePicker.tsx
  src/webapp/src/features/teaching/components/TeachingOfferingReport.tsx
  src/webapp/src/features/teaching/components/TeachingPage.tsx
  src/webapp/src/features/teaching/hooks/useTeachingCourses.ts
  src/webapp/src/features/teaching/types.ts
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/teaching.tsx
  src/webapp/tests/shots/fixtures/data.ts
  src/webapp/tests/shots/fixtures/mockBackend.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

wip(webapp): stats page layout pass, red difficulty, grouped sections
  src/webapp/src/features/stats/components/StatsCharts.tsx
  src/webapp/src/routes/stats.tsx
Due: webapp-biome-check

feat(webapp): semester trends chart on the teacher reports prototype
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Chart.tsx
  src/webapp/src/features/teaching/components/OfferingHistory.tsx
  src/webapp/src/features/teaching/components/TeachingOfferingReport.tsx
  src/webapp/src/features/teaching/components/TeachingTrends.tsx
  src/webapp/src/features/teaching/types.ts
  src/webapp/tests/shots/fixtures/data.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check, yaml-lint

feat(webapp): prototype rating-season ideas behind fe_rate_flow
  src/webapp/src/features/courses/components/CoursesPage.test.tsx
  src/webapp/src/features/courses/components/CoursesPage.tsx
  src/webapp/src/features/promo/components/FacultyProgress.tsx
  src/webapp/src/features/ratings/RatingContinuationContext.ts
  src/webapp/src/features/ratings/components/QuickTags.tsx
  src/webapp/src/features/ratings/components/RatingComparison.tsx
  src/webapp/src/features/ratings/components/RatingContinuationProvider.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/components/RatingSaved.tsx
  src/webapp/src/features/ratings/components/SemesterStory.tsx
  src/webapp/tests/shots/promo-prototypes.spec.ts
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
