Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

feat(#570): seed mapped faculties for color variety
  src/backend/rating_app/management/commands/generate_mock_data.py
Due: none

feat(#570): gate faculty colors behind fe_faculty_colors flag
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
Due: webapp-biome-check, yaml-lint

fix(#570): conditional accent border, trim lib comments
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

fix(#570): revert unused mock faculties
  src/backend/rating_app/management/commands/generate_mock_data.py
Due: none

fix(#570): accent border on all accented cards, opaque disabled button
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
Due: webapp-biome-check

fix(#570): keep disabled button dimmed; accent border stays
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
Due: webapp-biome-check

feat(#570): faculty colors on my-ratings cards (#684)
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/lib/faculty-colors.test.ts
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check, yaml-lint

refactor(webapp): extend anti-slop cleanup to rebased feed feature
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/feedFlagGating.test.tsx
  src/webapp/src/features/feed/hooks/useFeed.test.tsx
  src/webapp/src/features/promo/components/PromoBanner.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

refactor(webapp): make anti-slop plugin self-consistent under react-doctor
  src/webapp/tools/oxlint/anti-slop/rules/no-runtime-typeof.ts
  src/webapp/tools/oxlint/anti-slop/rules/no-unknown-parameters.ts
  src/webapp/tools/oxlint/anti-slop/shared/dictionary-types.ts
  src/webapp/tools/oxlint/anti-slop/shared/lexical-type-parameters.ts
Due: webapp-biome-check

refactor(webapp): narrow accent with in-guard, move latest-refs into effects
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/hooks/useFeed.ts
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

feat(#533): add prune_legacy_specialities command
  src/backend/rating_app/management/commands/prune_legacy_specialities.py
  src/backend/rating_app/management/commands/test_prune_legacy_specialities.py
Due: none

fix(#647): remove fe_instructor_multiselect after rollout
  docs/api/openapi-generated.yaml
  docs/feature-flags.md
  src/backend/rateukma/settings/_base.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/feature-flags/overrides.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/instructor-legacy.spec.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check, yaml-lint

refactor(webapp): rebase onto main, extend anti-slop to new tests
  src/webapp/src/features/feed/components/FeedCommentItem.test.tsx
  src/webapp/src/features/instructors/components/InstructorFilterSelect.test.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/integrations/tanstack-query/RootProvider.test.tsx
  src/webapp/src/integrations/tanstack-query/RootProvider.tsx
  src/webapp/src/lib/api/networkError.test.ts
  src/webapp/src/routes/connection-error.test.tsx
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

docs(#705): parser deployment infra spec
  infra/deploy/parser/deployment-infrastructure.md
Due: none

docs(#102): add developer onboarding guide and link it from README
  README.md
  docs/onboarding.md
Due: none

docs(#102): agents-era note in conventions
  docs/onboarding.md
Due: none

docs(#102): fix validator findings (paths, loaders, seeds, diagram, markers, redis)
  docs/onboarding.md
Due: none

docs(#102): repair conventions section
  docs/onboarding.md
Due: none

docs(#102): add entry tracks, services diagram, troubleshooting
  docs/onboarding.md
Due: none

feat(#618): explain courses ordering with sort header tooltip
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

fix(#618): wrap sort hint tooltip to readable width
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
Due: webapp-biome-check

fix(#618): mention column-sort override in hint
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
Due: webapp-biome-check

docs(#102): re-verify onboarding against feed index, test conventions, typed flags
  docs/onboarding.md
Due: none

fix(#647): remove fe_instructor_multiselect after rollout (#680)
  docs/api/openapi-generated.yaml
  docs/feature-flags.md
  src/backend/rateukma/settings/_base.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/feature-flags/overrides.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/instructor-legacy.spec.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check, yaml-lint

docs(#102): link every cited path in onboarding and tighten the text
  docs/onboarding.md
Due: none

docs(#102): developer onboarding guide (#675)
  README.md
  docs/onboarding.md
Due: none

fix(#558): drop deprecated CourseOffering per-term fields
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/management/commands/generate_mock_data.py
  src/backend/rating_app/management/commands/profile_queries.py
  src/backend/rating_app/migrations/0039_remove_courseoffering_co_credits_gt_0_and_more.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_course.py
  src/backend/scraper/management/commands/snapshot_catalog.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
Due: webapp-biome-check, yaml-lint

fix(#558): satisfy Sonar naming, at-accessor and duplication gate
  src/backend/rating_app/migrations/0039_remove_courseoffering_co_credits_gt_0_and_more.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
Due: webapp-biome-check

test(#558): use factory fixtures in profile query tests
  src/backend/rating_app/management/commands/test_profile_queries.py
Due: none

fix(#558): run 0039 backfill on the migration database alias
  src/backend/rating_app/migrations/0039_remove_courseoffering_co_credits_gt_0_and_more.py
Due: none

fix(#558): delete stored offering terms the import no longer supplies
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(#558): stabilize credits sum, backfill terms, fix partial seasons
  src/backend/rating_app/management/commands/profile_queries.py
  src/backend/rating_app/management/commands/test_profile_queries.py
  src/backend/rating_app/migrations/0039_remove_courseoffering_co_credits_gt_0_and_more.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/tests/test_migration_0039_backfill.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_grouper.py
Due: none

fix(#558): drop deprecated CourseOffering per-term fields (#681)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/management/commands/generate_mock_data.py
  src/backend/rating_app/management/commands/profile_queries.py
  src/backend/rating_app/management/commands/test_profile_queries.py
  src/backend/rating_app/migrations/0039_remove_courseoffering_co_credits_gt_0_and_more.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/tests/test_migration_0039_backfill.py
  src/backend/rating_app/views/test_course.py
  src/backend/scraper/management/commands/snapshot_catalog.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
Due: webapp-biome-check, yaml-lint

chore(proof): ui-system round 3 after merge with main
  proof/ui-system-3/course-comments-desktop-dark.png
  proof/ui-system-3/course-comments-desktop-light.png
  proof/ui-system-3/course-comments-phone-dark.png
  proof/ui-system-3/course-comments-phone-light.png
  proof/ui-system-3/course-desktop-dark.png
  proof/ui-system-3/course-desktop-light.png
  proof/ui-system-3/course-phone-dark.png
  proof/ui-system-3/course-phone-light.png
  proof/ui-system-3/explore-zoomed-desktop-dark.png
  proof/ui-system-3/home-feed-scrolled-desktop-light.png
  proof/ui-system-3/rating-modal-desktop-dark.png
  proof/ui-system-3/rating-modal-desktop-light.png
Due: none
