Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

chore(ci): update coverage badge
  coverage.svg
Due: none

chore(admin): add admin page for Enrollments
  src/backend/rating_app/admin/models.py
Due: none

feat(#234): persistent url filters /w tests (#303)
  coverage.svg
  src/backend/rating_app/views/test_course.py
  src/webapp/src/components/ui/Table.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CourseScoreCell.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/components/CoursesTableSkeleton.tsx
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/courses/filterSchema.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/features/courses/urlSync.ts
  src/webapp/src/routes/index.tsx
  src/webapp/src/test-utils/factories.ts
  src/webapp/src/test-utils/render.tsx
  src/webapp/src/vitest.setup.ts
  src/webapp/vitest.config.ts
Due: webapp-biome-check

chore(faculty-labels): add backend configuration (API + db schema) for providing custom faculties abbreviations
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/migrations/0006_faculty_custom_abbreviation.py
  src/backend/rating_app/models/faculty.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/filter_options.py
  src/backend/rating_app/services/faculty_service.py
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check, yaml-lint

fix(#247): mobile menu display
  src/webapp/src/components/ui/Drawer.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check

feat(#257): add faculty colors
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

feat(#257): add faculty colors and custom abbreviation to the course
  src/webapp/src/features/courses/components/CourseFacultyBadge.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

fix(#257): remove duplicates
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

fix(#247): mobile menu display (#316)
  src/webapp/src/components/ui/Drawer.tsx
  src/webapp/src/styles.css
Due: webapp-biome-check

fix(#257): faculty's name
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

fix(#257): use explicit Tailwind class mapping to prevent purging
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

chore(faculty-labels): configure faculties custom abbreviations + colors (#315)
  coverage.svg
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/migrations/0006_faculty_custom_abbreviation.py
  src/backend/rating_app/models/faculty.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/filter_options.py
  src/backend/rating_app/services/faculty_service.py
  src/webapp/src/features/courses/components/CourseFacultyBadge.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check, yaml-lint

fix(#314): add custom exception
  src/backend/rating_app/exception/rating_exceptions.py
Due: none

fix(#314): add business logic semester functions
  src/backend/rating_app/repositories/semester_repository.py
  src/backend/rating_app/services/semester_service.py
Due: none

fix(#314): check semester to protect against ratings on future courses + tests
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/test_rating.py
Due: none

fix(#314): add can_rate field to ensure protection against rating future courses + tests + api schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/serializers/student_ratings.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_student_stats.py
Due: yaml-lint

fix(#314): disable rating UI for future courses
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#314): exception message
  src/backend/rating_app/exception/rating_exceptions.py
Due: none

fix(#314): catch DoesNotExist exception
  src/backend/rating_app/exception/semester_exception.py
  src/backend/rating_app/services/semester_service.py
Due: none

ci(#278): start setting up auto-live deployment on staging success, rename previous deploy.yml job to reusable 'deploy-script.yml'
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-script.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deployment.yml
Due: yaml-lint

fix(#314): add freezegun
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: none

fix(#314): use enums, add fallback in semester service
  src/backend/rating_app/services/semester_service.py
Due: none

fix(#314): remove unnecessary type assertion for can_rate field
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#314): simplify condition
  src/backend/rating_app/repositories/semester_repository.py
Due: none

fix(#314): extract nested ternary into a standalone statement for clarity
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
Due: webapp-biome-check

fix(#314): move disabled rating button into a separate function
  src/webapp/src/components/DisabledButtonWithTooltip.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#314): correct DisabledButtonWithTooltip behavior
  src/webapp/src/components/DisabledButtonWithTooltip.tsx
Due: webapp-biome-check

fix(#297): remove "latest" default tag on workflow call in docker build job
  .github/workflows/build.yml
Due: yaml-lint

fix(#297): remove passing a version tag in prod pipeline and empty string in main pipeline
  .github/workflows/build.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

ci(#278): use workflow_run instead of creating a separate workflow configuration
  .github/workflows/deployment.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

ci(#278): remove manual dispatching of live deployment, remove duplicating steps, add getting staging version
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#297): fix pushing unversioned images to repo
  .github/workflows/build.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#314): remove redundant month check
  src/backend/rating_app/repositories/semester_repository.py
  src/backend/rating_app/repositories/test_semester_repository.py
Due: none

fix(#314): add keyboard accessibility & ARIA support for disabled tooltip button
  src/webapp/src/components/DisabledButtonWithTooltip.tsx
Due: webapp-biome-check

fix(#314): improve tooltip accessibility and remove tabIndex from wrapper
  src/webapp/src/components/DisabledButtonWithTooltip.tsx
Due: webapp-biome-check

ci(#278): update prod pipeline to use actions/checkout@v5 and streamline job conditions
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix: upgrade @tanstack/react-query from 5.90.2 to 5.90.6
  src/webapp/package.json
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
