Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

chore(#642): upload migrations
  src/backend/rating_app/migrations/0033_feedpost.py
  src/backend/rating_app/migrations/0034_alter_feedpost_accent_alter_feedpost_body_and_more.py
Due: none

test(#642): add e2e tests
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/feed.tsx
  src/webapp/tests/e2e/feed/feed.spec.ts
Due: webapp-biome-check

refactor(#642): use a redis watermark for scheduled posts
  src/backend/conftest.py
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/caching/__init__.py
  src/backend/rating_app/caching/feed_watermark.py
  src/backend/rating_app/repositories/feed_post_repository.py
  src/backend/rating_app/services/feed_service.py
  src/backend/rating_app/services/test_feed_service.py
  src/backend/rating_app/signals.py
  src/backend/rating_app/views/feed_viewset.py
Due: none

security(#642): add more feature flags gating
  docs/api/openapi-generated.yaml
  src/backend/rating_app/views/responses.py
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedFlagGating.test.tsx
  src/webapp/src/features/feed/hooks/useFeed.ts
  src/webapp/src/routes/feed.tsx
Due: webapp-biome-check, yaml-lint

feat(#642): render image in the post (in /feed page)
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
Due: webapp-biome-check

chore(#642): update versions
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: yaml-lint

feat(#642): initial feed UI (#657)
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.test.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.tsx
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedFlags.ts
  src/webapp/src/features/feed/feedMockData.ts
  src/webapp/src/features/feed/feedTypes.test.ts
  src/webapp/src/features/feed/feedTypes.ts
  src/webapp/src/routeTree.gen.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/routes/feed.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/src/test-utils/router.tsx
Due: webapp-biome-check, yaml-lint

fix(#642): minor nit fixes
  src/backend/rateukma/caching/patterns.py
  src/backend/rating_app/caching/__init__.py
  src/backend/rating_app/caching/feed_next_publish_at.py
  src/backend/rating_app/caching/feed_watermark.py
  src/backend/rating_app/pagination/cursor.py
  src/backend/rating_app/repositories/feed_post_repository.py
  src/backend/rating_app/services/feed_service.py
  src/backend/rating_app/services/test_feed_service.py
  src/backend/rating_app/signals.py
Due: none

feat(#662): document get_fields on the flags serializer
  src/backend/rating_app/serializers/feature_flags.py
Due: none

feat(#662): type-safe feature flag names on the frontend
  docs/api/openapi-generated.yaml
  docs/feature-flags.md
  src/backend/rating_app/serializers/feature_flags.py
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
Due: webapp-biome-check, yaml-lint

feat(#662): allowlist fe_feed so the feed flag type-checks and is served
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
Due: yaml-lint

feat(#662): inline the fe_feed flag name now that it is type-checked
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedFlags.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/routes/feed.tsx
Due: webapp-biome-check

feat(#662): type-safe feature flag names on the frontend (#663)
  docs/api/openapi-generated.yaml
  docs/feature-flags.md
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/serializers/feature_flags.py
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedFlags.ts
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/index.ts
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/routes/feed.tsx
Due: webapp-biome-check, yaml-lint

fix(#642): use api-generated accent type
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/feedTypes.ts
  src/webapp/src/features/feed/hooks/useFeed.ts
Due: webapp-biome-check

test(#230): cover CourseRepository.filter pagination
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

fix(#626): add missing migration for course_title_trgm_idx and check drift in CI
  .github/workflows/test.yml
  src/backend/rating_app/migrations/0033_course_title_trgm_idx.py
Due: yaml-lint

fix(#626): run migration check with frozen, no-sync uv invocation
  .github/workflows/test.yml
Due: yaml-lint

fix(#626): add --no-build to migration check uv invocation
  .github/workflows/test.yml
Due: yaml-lint

fix(#642): reorganize feed caching methods
  src/backend/conftest.py
  src/backend/rating_app/caching/__init__.py
  src/backend/rating_app/caching/feed_next_publish_at.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/feed_service.py
  src/backend/rating_app/signals.py
Due: none

test(#230): create pagination fixtures out of expected order
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

fix(#626): add missing migration for course_title_trgm_idx and check drift in CI (#668)
  .github/workflows/test.yml
  src/backend/rating_app/migrations/0033_course_title_trgm_idx.py
Due: yaml-lint

fix(#642) address comments - tests, frontend, caching, merge migrations
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/migrations/0036_alter_feedpost_image_alter_promobanner_logo.py
  src/backend/rating_app/models/feed_post.py
  src/backend/rating_app/models/promo_banner.py
  src/backend/rating_app/repositories/feed_post_repository.py
  src/backend/rating_app/repositories/test_feed_post_repository.py
  src/backend/rating_app/services/test_feed_service.py
  src/backend/rating_app/signals.py
  src/backend/rating_app/test_signals.py
  src/webapp/orval.config.ts
  src/webapp/src/features/feed/components/FeedEmptyState.tsx
  src/webapp/src/features/feed/components/FeedErrorState.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedSkeleton.tsx
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/feedFlagGating.test.tsx
  src/webapp/src/features/feed/feedTestFixtures.ts
  src/webapp/src/features/feed/hooks/useFeed.test.tsx
  src/webapp/src/features/feed/hooks/useFeed.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/routes/feed.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

test(#230): cover CourseRepository.filter pagination (#667)
  src/backend/rating_app/repositories/test_course_repository.py
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

feat(#670): sort by popularity (count) by default
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

Preserve exclusive course sorting behavior
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

feat(#670): default course sorting to popularity (#671)
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

fix(#392): fail fast on queries without HTTP response
  src/webapp/src/integrations/tanstack-query/RootProvider.test.tsx
  src/webapp/src/integrations/tanstack-query/RootProvider.tsx
Due: webapp-biome-check

fix(#392): bounce counter and offline-only auto-return on connection-error
  src/webapp/src/lib/api/networkError.test.ts
  src/webapp/src/lib/api/networkError.ts
  src/webapp/src/routes/connection-error.test.tsx
  src/webapp/src/routes/connection-error.tsx
Due: webapp-biome-check

test(#230): codify backend test conventions and unify pytest style
  docs/testing/backend-tests.md
  docs/testing/testing-strategy.md
  src/backend/AGENTS.md
  src/backend/pyproject.toml
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/ioc/test_decorators.py
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
  src/backend/rating_app/pagination/test_cursor.py
  src/backend/rating_app/repositories/test_comment_repository.py
  src/backend/rating_app/repositories/test_feed_post_repository.py
  src/backend/rating_app/repositories/test_rating_repository_feed.py
  src/backend/rating_app/services/domain_event_listeners/test_cache_invalidator.py
  src/backend/rating_app/services/domain_event_listeners/test_vote_notification.py
  src/backend/rating_app/services/test_notification_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/views/test_feed.py
  src/backend/scraper/management/commands/test_collect_catalog.py
  src/backend/scraper/management/commands/test_fetch_courses.py
  src/backend/scraper/management/commands/test_group_courses.py
  src/backend/scraper/management/commands/test_insert_scraped.py
  src/backend/scraper/management/commands/test_prepare_filtered_url.py
  src/backend/scraper/parsers/test_catalog.py
  src/backend/scraper/parsers/test_course.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/backend/scraper/services/test_catalog_service.py
Due: none

fix(#392): simplify bounce parser to raw values
  src/webapp/src/lib/api/networkError.test.ts
  src/webapp/src/lib/api/networkError.ts
Due: webapp-biome-check

style: apply oxfmt
  src/webapp/src/integrations/tanstack-query/RootProvider.test.tsx
  src/webapp/src/integrations/tanstack-query/RootProvider.tsx
Due: webapp-biome-check

docs(#230): integration marker does not imply database access
  docs/testing/backend-tests.md
Due: none

style: apply oxfmt
  src/webapp/src/routes/connection-error.test.tsx
Due: webapp-biome-check

fix(#392): restart bounce count when outage cycle ages out
  src/webapp/src/lib/api/networkError.test.ts
  src/webapp/src/lib/api/networkError.ts
Due: webapp-biome-check

docs(#102): add developer onboarding guide and link it from README
  README.md
  docs/onboarding.md
Due: none

docs(#251): record ADR-0010 keeping exceptions over Result types
  docs/architecture/decisions/0010-rust-like-return-types.md
  docs/architecture/decisions/INDEX.md
Due: none

docs(#666): record feed multi-source keyset cursor decision
  docs/architecture/decisions/0010-feed-multi-source-cursor.md
  docs/architecture/decisions/INDEX.md
Due: none
