Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#285): update permissions
  .github/workflows/dora.yml
Due: yaml-lint

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

style(#285): update pr body
  .github/workflows/dora.yml
Due: yaml-lint

fix(#258): resolve sonarqube issues
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

docs(lab10): create videos folder and upload Anastasiia`s video
  labs/Lab10/videoAnastasiiaAleksieienko.txt
  labs/Lab10/videoAndriiValenia.txt
  labs/Lab10/videoKaterynaBratiuk.txt
  labs/Lab10/videoMilanaHoralevych.txt
Due: none

fix(#258): path parameter mismatch and reset during submission
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#258): fix openapi schema
  docs/api/openapi-generated.yaml
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

refactor(#234): use parametrize in tests
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/urlSync.test.ts
Due: webapp-biome-check

docs(lab10): upload Kateryna`s contribution video
  labs/Lab10/videoKaterynaBratiuk.txt
Due: none

fix(#234): address code rabbit comments
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/filterSchema.ts
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

fix(#234): sonar
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CourseScoreCell.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/features/courses/urlSync.ts
  src/webapp/src/test-utils/render.tsx
  src/webapp/src/vitest.setup.ts
Due: webapp-biome-check

docs(lab10): upload Anastasiia`s and Kateryna`s videos (#306)
  labs/Lab10/videoAnastasiiaAleksieienko.txt
  labs/Lab10/videoAndriiValenia.txt
  labs/Lab10/videoKaterynaBratiuk.txt
  labs/Lab10/videoMilanaHoralevych.txt
Due: none

feat(#259): add alert and confirm dialog
  src/webapp/src/components/ui/AlertDialog.tsx
  src/webapp/src/components/ui/ConfirmDialog.tsx
Due: webapp-biome-check

feat(#259): add MyRatingCard subcomponents
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCardHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingMetric.tsx
Due: webapp-biome-check

feat(#259): add MyRatingCard components
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingsSkeleton.tsx
Due: webapp-biome-check

feat(#259): add update my-ratings route
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

docs(#286): add dora summary report
  docs/ci-cd/dora-summary-report.md
Due: none

docs(lab10): Andrii's video
  labs/Lab10/videoAndriiValenia.txt
Due: none

docs(lab10): correct link
  labs/Lab10/videoAndriiValenia.txt
Due: none

docs(#286): add dora summary report (#307)
  docs/ci-cd/dora-summary-report.md
Due: none

chore(lab10): upload contribution video
  labs/Lab10/videoMilanaHoralevych.txt
Due: none

docs(lab10): contribution video (#308)
  labs/Lab10/videoAndriiValenia.txt
  labs/Lab10/videoMilanaHoralevych.txt
Due: none

feat(#280): make an offerings dropdown instead of a list + add more descriptive fields to offerings response, regenerate api schema
  docs/api/openapi-generated.yaml
  src/backend/rating_app/models/semester.py
  src/backend/rating_app/serializers/course_offering.py
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#259): scroll lock cleanup and Escape handling in AlertDialog
  src/webapp/src/components/ui/AlertDialog.tsx
Due: webapp-biome-check

feat(#259): my grades page (#309)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/components/ui/AlertDialog.tsx
  src/webapp/src/components/ui/ConfirmDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCardHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingMetric.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingsSkeleton.tsx
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check, yaml-lint

fix(#258): build fix
  docs/api/openapi-generated.yaml
  src/backend/rating_app/views/responses.py
  src/webapp/src/features/ratings/components/RatingForm.tsx
Due: webapp-biome-check, yaml-lint

feat(#280): fix offering list response serializer, remove mock data from dropdown
  docs/api/openapi-generated.yaml
  src/backend/rating_app/models/semester.py
  src/backend/rating_app/views/responses.py
  src/webapp/biome.json
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

feat(#258): rating modal component (#302)
  coverage.svg
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/test_student_stats.py
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Checkbox.tsx
  src/webapp/src/components/ui/Dialog.tsx
  src/webapp/src/components/ui/Textarea.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

chore(#280): resolve merge conflict
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#280): update typo in description, prefetch semesters
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/views/course_offering.py
Due: yaml-lint

feat(#280): offerings navigation links to my.ukma.edu.ua
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/models/semester.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/course_offering_service.py
  src/backend/rating_app/views/__init__.py
  src/backend/rating_app/views/course_offering.py
  src/backend/rating_app/views/responses.py
  src/webapp/biome.json
  src/webapp/src/features/course-offerings/components/CourseOfferingsDropdown.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#311): link to student on user create/ingest
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
  src/backend/rating_app/exception/user_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/migrations/0005_add_email_to_student.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/test_user_repository.py
  src/backend/rating_app/repositories/user_repository.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/test_student_user_linking_integration.py
  src/backend/scraper/ioc_container/common.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

fix(#234): tests fix
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
Due: webapp-biome-check

style(#234): remove slop comments
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/routes/index.tsx
  src/webapp/src/test-utils/render.tsx
Due: webapp-biome-check

fix(#234): simplify filters + hide teacher select
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

fix(#311): link to student on user create/ingest (#312)
  coverage.svg
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/test_microsoft_account_adapters.py
  src/backend/rating_app/exception/user_exceptions.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/migrations/0005_add_email_to_student.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/student_repository.py
  src/backend/rating_app/repositories/test_student_repository.py
  src/backend/rating_app/repositories/test_user_repository.py
  src/backend/rating_app/repositories/user_repository.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/test_student_user_linking_integration.py
  src/backend/scraper/ioc_container/common.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(#234): use snake_case for term, year filters
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
Due: webapp-biome-check

fix(#234): rabbit
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
