Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

docs(#723): add prompts for audience, VPC and critical analysis
  docs/product-discovery/prompts/2.1_audience_analysis.md
  docs/product-discovery/prompts/2.2_vpc.md
  docs/product-discovery/prompts/2.3_critical_analysis.md
Due: none

docs(#723): add AI results for audience, VPC and critical analysis
  docs/product-discovery/results/audience-analysis.md
  docs/product-discovery/results/critical-analysis.md
  docs/product-discovery/results/value-proposition.md
Due: none

docs(#723): add summary with team decisions
  docs/product-discovery/summary.md
Due: none

fix(webapp): scrollable course rail, САЗ history overlap, feed image sizing
  src/webapp/src/features/course-offerings/components/CourseCazRecords.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

chore: before/after screenshots for #725
  proof/pr-725/after/course-rail-wheel.png
  proof/pr-725/after/feed-1440.png
  proof/pr-725/after/feed-390.png
  proof/pr-725/after/history-1440.png
  proof/pr-725/after/history-390.png
  proof/pr-725/before/course-rail-wheel.png
  proof/pr-725/before/feed-1440.png
  proof/pr-725/before/feed-390.png
  proof/pr-725/before/history-1440.png
  proof/pr-725/before/history-390.png
Due: none

chore(deps): bump axios, brace-expansion, undici for audit advisories
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: webapp-biome-check, yaml-lint

proof(#618): sort hint screenshots
  proof/618/desktop-after.png
  proof/618/desktop-before.png
  proof/618/phone-after.png
  proof/618/phone-before.png
  proof/618/phone-menu-after.png
Due: none

refactor(#571): let CSS resolve the system theme
  src/webapp/index.html
  src/webapp/src/components/ModeToggle.test.tsx
  src/webapp/src/components/ThemeProvider.test.tsx
  src/webapp/src/components/ThemeProvider.tsx
  src/webapp/src/styles.css
  src/webapp/src/theme-contrast.test.ts
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

proof(#571): CSS-driven theme screenshots
  proof/571/explicit-light-os-dark.png
  proof/571/system-os-dark.png
  proof/571/system-os-light.png
Due: none

chore(deps): bump axios, brace-expansion, undici for audit advisories (#726)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/pnpm-workspace.yaml
Due: webapp-biome-check, yaml-lint

fix(webapp): scrollable course rail, САЗ history overlap, feed image sizing (#725)
  src/webapp/src/features/course-offerings/components/CourseCazRecords.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#618): wrap sort hint tooltip to readable width
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
Due: webapp-biome-check

fix(#618): mention column-sort override in hint
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
Due: webapp-biome-check

feat(#618): explain courses ordering with sort header tooltip
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

feat(#618): keep reviews sort and hint on phones
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

fix(#618): shorten sort hint and mobile label
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

proof(#618): shorter hint screenshots
  proof/618/desktop-after.png
  proof/618/phone-after.png
  proof/618/phone-menu-after.png
Due: none

docs(#723): change team decision on risk 7 to reject
  docs/product-discovery/summary.md
Due: none

fix(#618): drop review count line on phones
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

proof(#618): phone rows without count line
  proof/618/phone-after.png
  proof/618/phone-menu-after.png
Due: none

test(#618): assert sort hint via tooltip role
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
Due: webapp-biome-check

fix(#618): move sort hint into the menu, drop info icon
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
Due: webapp-biome-check

proof(#618): hint in menu
  proof/618/desktop-after.png
  proof/618/phone-menu-after.png
Due: none

docs(#723): remove redundant context from prompt
  docs/product-discovery/prompts/2.3_critical_analysis.md
Due: none

docs(#723): update information about registration
  docs/product-discovery/prompts/2.2_vpc.md
Due: none

docs(#723): update infrastructure information
  docs/product-discovery/prompts/2.3_critical_analysis.md
Due: none

docs(#723): fix table
  docs/product-discovery/summary.md
Due: none

docs(#723): prepare GenAI practice 2 (#724)
  docs/product-discovery/prompts/2.1_audience_analysis.md
  docs/product-discovery/prompts/2.2_vpc.md
  docs/product-discovery/prompts/2.3_critical_analysis.md
  docs/product-discovery/results/audience-analysis.md
  docs/product-discovery/results/critical-analysis.md
  docs/product-discovery/results/value-proposition.md
  docs/product-discovery/summary.md
Due: none

feat(#665): add support for long posts
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/features/feed/components/FeedCommentDialog.tsx
  src/webapp/src/features/feed/components/FeedCommentItem.tsx
  src/webapp/src/features/feed/components/FeedPostDialog.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewDialog.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.tsx
  src/webapp/src/features/feed/components/promoAccent.ts
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check, yaml-lint

feat(#665): add markdown support for feed posts
  src/backend/rating_app/admin/models.py
  src/webapp/src/components/ui/Markdown.tsx
  src/webapp/src/lib/markdown.test.ts
  src/webapp/src/lib/markdown.ts
Due: webapp-biome-check

fix(#728): keep the mobile filters pill off the footer GitHub link
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

chore: screenshots for #728
  728/phone-after.png
  728/phone-before.png
  728/phone-dark-after.png
  728/phone-dark-before.png
Due: none

test(#728): assert the footer GitHub link is on top in the home-footer shot
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

test(#728): share the courses-page setup in shots to cut duplication
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

test(#728): move the home-footer shot body into a named helper
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

test(#728): leave existing shot states untouched
  src/webapp/tests/shots/shots.spec.ts
Due: webapp-biome-check

fix(#728): shrink the pill wrapper instead of toggling pointer events
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
