Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#406): fix skipped deployment on frontend changes, add deployment on ci changes (with no new version), skip live deployment with no version tag found
  .github/workflows/changes-filter.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
  .github/workflows/version.yml
Due: yaml-lint

fix(#406): run staging build on workflow changes
  .github/workflows/main-pipeline.yml
Due: yaml-lint

fix(#406): add not-failure condition for deploy staging step
  .github/workflows/main-pipeline.yml
Due: yaml-lint

chore(#403): cleanup 7-days old docker images in the end of deployment, fix retrieval of previous image tags
  .github/workflows/deploy-script.yml
Due: yaml-lint

fix(#403): fix retrieval of previous image tags, based on environment
  .github/workflows/deploy-script.yml
Due: yaml-lint

chore(#403): cleanup 7-days old docker images in the end of deployment, fix retrieval of previous image tags (#407)
  .github/workflows/deploy-script.yml
Due: yaml-lint

fix: invalidate courses list cache when new rating is added
  src/backend/rating_app/views/rating_viewset.py
Due: none

feat(#383): create a warmup script, add it to deployment workflow
  .github/workflows/deploy-script.yml
  .github/workflows/warmup.yml
  src/backend/rating_app/management/commands/warmup.py
Due: yaml-lint

fix(#383): reliability impromevents in deployment script, remove redundant workflow
  .github/workflows/deploy-script.yml
  .github/workflows/warmup.yml
Due: yaml-lint

fix(#383): rename ambiguous variable
  src/backend/rating_app/management/commands/profile_api.py
Due: none

fix(#383): reduce code duplication in api profiling commands
  src/backend/rating_app/management/commands/_base_api_profiling_command.py
  src/backend/rating_app/management/commands/profile_api.py
  src/backend/rating_app/management/commands/warmup.py
Due: none

fix(#383): align --no-output flag with command logic
  src/backend/rating_app/management/commands/profile_api.py
Due: none

feat(#391): backend production optimization: compression, connection pooling, N+1 query tests (#399)
  src/backend/pyproject.toml
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/uv.lock
Due: none

fix(#383): make --cprofile option false by default
  src/backend/rating_app/management/commands/profile_api.py
Due: none

chore(#383): implement backend warmup after deployment (#409)
  .github/workflows/deploy-script.yml
  src/backend/rating_app/management/commands/_base_api_profiling_command.py
  src/backend/rating_app/management/commands/profile_api.py
  src/backend/rating_app/management/commands/warmup.py
Due: yaml-lint

fix(#383): take github token from secrets
  .github/workflows/deploy-script.yml
Due: yaml-lint

chore(ci): add contents-write permissions to push_live_tag step
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

chore(ci): use github api to create live version tag
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

chore(ci): use github api to create live version tag (#410)
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(ci): pass GH token as a parameter to push_live_tag step
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(ci): allow skipping live tag creation on ci changes
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

docs: add releases link to README (#412)
  README.md
Due: none

feat(#404): implement toaster for rating actions
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Toaster.tsx
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/routes/__root.tsx
Due: webapp-biome-check, yaml-lint

fix(#404): use export…from to re-export toast
  src/webapp/src/components/ui/Toaster.tsx
Due: webapp-biome-check

fix(#404): import CSSProperties type
  src/webapp/src/components/ui/Toaster.tsx
Due: webapp-biome-check

feat(#404): implement toaster for rating actions (#414)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Toaster.tsx
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/routes/__root.tsx
Due: webapp-biome-check, yaml-lint

fix(#377): safe SENTRY_AUTH_TOKEN injection
  .github/workflows/build.yml
  src/.env.sample
  src/backend/pyproject.toml
  src/backend/rateukma/settings/prod.py
  src/backend/uv.lock
  src/docker-compose.yml
  src/webapp/Dockerfile
  src/webapp/src/env.ts
  src/webapp/src/integrations/sentry/init.ts
  src/webapp/src/integrations/sentry/useSentryUser.ts
Due: webapp-biome-check, yaml-lint

fix(#377): use docker instead of compose to use secrets properly
  .github/workflows/build.yml
Due: yaml-lint

feat(#377): sentry backend & webapp setup
  .github/workflows/build.yml
  src/.env.sample
  src/backend/pyproject.toml
  src/backend/rateukma/settings/prod.py
  src/backend/uv.lock
  src/webapp/AGENTS.md
  src/webapp/Dockerfile
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/env.ts
  src/webapp/src/integrations/sentry/SentryUserSync.tsx
  src/webapp/src/integrations/sentry/init.ts
  src/webapp/src/integrations/sentry/useSentryUser.ts
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/main.tsx
  src/webapp/src/routes/__root.tsx
  src/webapp/vite.config.ts
Due: webapp-biome-check, yaml-lint

fix(#377): sonar
  src/webapp/src/integrations/sentry/init.ts
Due: webapp-biome-check

chore(ci): create guard condition against transitive dependencies skipping
  .github/workflows/main-pipeline.yml
Due: yaml-lint

fix(#377): install explicit sentry-cli, create releases for both projects
  .github/workflows/build.yml
Due: yaml-lint

chore(ci): create guard condition against transitive dependencies skipping (#415)
  .github/workflows/main-pipeline.yml
Due: yaml-lint

feat(#377): use ready action for sentry releases
  .github/workflows/build.yml
Due: yaml-lint

feat(#377): bump sentry action to v3
  .github/workflows/build.yml
Due: yaml-lint

feat(#377): sentry backend & webapp setup (#413)
  .github/workflows/build.yml
  src/.env.sample
  src/backend/pyproject.toml
  src/backend/rateukma/settings/prod.py
  src/backend/uv.lock
  src/docker-compose.yml
  src/webapp/AGENTS.md
  src/webapp/Dockerfile
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/env.ts
  src/webapp/src/integrations/sentry/SentryUserSync.tsx
  src/webapp/src/integrations/sentry/init.ts
  src/webapp/src/integrations/sentry/useSentryUser.ts
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/main.tsx
  src/webapp/src/routes/__root.tsx
  src/webapp/vite.config.ts
Due: webapp-biome-check, yaml-lint

fix(#377): pass secrets to build.yml
  .github/workflows/build.yml
  .github/workflows/dev-pipeline.yml
  .github/workflows/main-pipeline.yml
Due: yaml-lint

fix(#377): create sentry releases on deploy
  .github/workflows/build.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-staging.yml
Due: yaml-lint

fix(#377): pass secrets to deploy files
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint
