Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#642): invalidate webapp queries
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

feat(#642): add comments to feed (#695)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/feed.py
  src/backend/rating_app/ioc_container/repositories.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/migrations/0038_feedevent_comment_kind.py
  src/backend/rating_app/models/choices.py
  src/backend/rating_app/models/comment.py
  src/backend/rating_app/repositories/__init__.py
  src/backend/rating_app/repositories/comment_repository.py
  src/backend/rating_app/repositories/test_comment_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/feed.py
  src/backend/rating_app/serializers/test_feed.py
  src/backend/rating_app/services/domain_event_listeners/feed_update.py
  src/backend/rating_app/services/feed_update_service.py
  src/backend/rating_app/services/test_feed_update.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_feed.py
  src/webapp/src/features/feed/components/FeedCommentItem.test.tsx
  src/webapp/src/features/feed/components/FeedCommentItem.tsx
  src/webapp/src/features/feed/components/FeedStrip.tsx
  src/webapp/src/features/feed/feedTypes.ts
  src/webapp/src/features/feed/hooks/useFeed.ts
  src/webapp/src/features/ratings/components/DeleteRatingDialog.tsx
  src/webapp/src/features/ratings/components/RatingComments.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/routes/feed.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check, yaml-lint

docs(meetings): add sync summaries and migrate wiki meeting notes
  docs/meetings/2025-09-12-meeting-notes.md
  docs/meetings/2025-09-19-meeting-notes.md
  docs/meetings/2025-09-26-meeting-notes.md
  docs/meetings/2025-10-03-meeting-notes.md
  docs/meetings/2025-10-10-meeting-notes.md
  docs/meetings/2025-10-17-meeting-notes.md
  docs/meetings/2025-10-24-meeting-notes.md
  docs/meetings/2025-10-31-meeting-notes.md
  docs/meetings/2025-11-07-meeting-notes.md
  docs/meetings/2025-11-14-meeting-notes.md
  docs/meetings/2025-11-21-meeting-notes.md
  docs/meetings/2025-11-28-meeting-notes.md
  docs/meetings/2025-12-06-meeting-notes.md
  docs/meetings/2025-12-13-meeting-notes.md
  docs/meetings/2026-03-10-meeting-notes.md
  docs/meetings/2026-09-17-teacher-sync.md
  docs/meetings/2026-09-19-general-sync.md
  docs/meetings/AGENTS.md
  docs/meetings/README.md
Due: none

docs(meetings): add sync summaries and migrate wiki meeting notes (#711)
  docs/meetings/2025-09-12-meeting-notes.md
  docs/meetings/2025-09-19-meeting-notes.md
  docs/meetings/2025-09-26-meeting-notes.md
  docs/meetings/2025-10-03-meeting-notes.md
  docs/meetings/2025-10-10-meeting-notes.md
  docs/meetings/2025-10-17-meeting-notes.md
  docs/meetings/2025-10-24-meeting-notes.md
  docs/meetings/2025-10-31-meeting-notes.md
  docs/meetings/2025-11-07-meeting-notes.md
  docs/meetings/2025-11-14-meeting-notes.md
  docs/meetings/2025-11-21-meeting-notes.md
  docs/meetings/2025-11-28-meeting-notes.md
  docs/meetings/2025-12-06-meeting-notes.md
  docs/meetings/2025-12-13-meeting-notes.md
  docs/meetings/2026-03-10-meeting-notes.md
  docs/meetings/2026-09-17-teacher-sync.md
  docs/meetings/2026-09-19-general-sync.md
  docs/meetings/AGENTS.md
  docs/meetings/README.md
Due: none

docs(meetings): teacher data via smart-ukma, not Nastia cleanup
  docs/meetings/2026-09-19-general-sync.md
Due: none

docs(meetings): teacher data via smart-ukma, not Nastia cleanup (#712)
  docs/meetings/2026-09-19-general-sync.md
Due: none

test(#230): register factories as fixtures and make their defaults deterministic
  src/backend/conftest.py
  src/backend/pyproject.toml
  src/backend/pytest.ini
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/tests/semester_dates.py
  src/backend/rating_app/tests/test_feed_event_cascade.py
  src/backend/uv.lock
Due: none

docs(#230): write down the backend test conventions
  docs/testing/backend-tests.md
  docs/testing/testing-strategy.md
  src/backend/AGENTS.md
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

docs(#230): cut the testing docs to what changes behaviour
  docs/testing/backend-tests.md
  docs/testing/testing-strategy.md
Due: none

docs(#230): make every claim in the testing docs true today
  docs/testing/backend-tests.md
  docs/testing/testing-strategy.md
Due: none

docs(#230): scope the autouse and Faker rules to what the suite does
  docs/testing/backend-tests.md
Due: none

test(#230): pair integration with django_db everywhere it was missing
  docs/testing/backend-tests.md
  src/backend/rating_app/management/commands/test_ingest_instructors_from_csv.py
  src/backend/rating_app/services/test_notification_service.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/factories.py
Due: none

test(#230): drop the comment that restated the conventions doc
  src/backend/conftest.py
  src/backend/pytest.ini
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/course_offering_term.py
  src/backend/rating_app/models/rating.py
Due: none

test(#230): drop the unused e2e marker and the comments that narrate code
  src/backend/rating_app/test_feed_event_cascade.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_notification.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_rating_cache_invalidation.py
  src/backend/rating_app/views/test_student_stats.py
Due: none

docs(#230): cut the AGENTS.md test section to the traps
  src/backend/AGENTS.md
Due: none

chore(repo): update CODEOWNERS to reference the team
  .github/CODEOWNERS
Due: none

chore(repo): update CODEOWNERS to reference the team (#713)
  .github/CODEOWNERS
Due: none

chore(repo): accept ADR10
  docs/architecture/decisions/0010-feed-event-table.md
Due: none

chore(repo): accept ADR10 (#715)
  docs/architecture/decisions/0010-feed-event-table.md
Due: none

test(#230): move request shape into the parametrize cases
  src/backend/rating_app/views/test_comment.py
  src/backend/rating_app/views/test_rating.py
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#664): filter courses by instructor rating mentions
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/test_course.py
  src/backend/rating_app/views/test_instructor.py
Due: yaml-lint

fix(#664): satisfy ruff lint and format
  src/backend/rating_app/views/test_course.py
  src/backend/rating_app/views/test_instructor.py
Due: none

test(#664): cover instructor plus education-level filter
  src/backend/rating_app/models/course_instructor.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
Due: none

style(#664): trim comments to one line
  src/backend/rating_app/models/course_instructor.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/views/test_course.py
Due: none

fix(#664): filter courses by instructor rating mentions (#678)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/models/course_instructor.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/test_course.py
  src/backend/rating_app/views/test_instructor.py
Due: yaml-lint

fix(#664): mentioned-only instructors in courses filter dropdown
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.test.ts
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
Due: webapp-biome-check

test(#664): cover mentionedOnly forwarding in InstructorFilterSelect
  src/webapp/src/features/instructors/components/InstructorFilterSelect.test.tsx
Due: webapp-biome-check

fix(#664): mentioned-only instructors in courses filter dropdown (#686)
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/instructors/components/InstructorFilterSelect.test.tsx
  src/webapp/src/features/instructors/components/InstructorFilterSelect.tsx
  src/webapp/src/features/instructors/components/InstructorMultiSelect.test.tsx
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.test.ts
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
Due: webapp-biome-check

fix(#688): lift dark surfaces, separate borders, soften accents
  src/webapp/src/styles.css
Due: none

fix(#688): dark variant for rated badge
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
Due: webapp-biome-check

fix(#688): browser-equivalent gamut mapping in contrast guard
  src/webapp/src/theme-contrast.test.ts
Due: webapp-biome-check

fix(#688): dark-mode text contrast to WCAG AA (#689)
  src/webapp/src/components/ui/ConfirmDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/styles.css
  src/webapp/src/theme-contrast.test.ts
Due: webapp-biome-check

fix(#570): harden faculty lookup against inherited props
  src/webapp/src/lib/faculty-colors.test.ts
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check

feat(#570): faculty colors on my-ratings cards
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/lib/faculty-colors.test.ts
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check, yaml-lint

style(#570): oxfmt disabled accent block
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
Due: webapp-biome-check

fix(#570): faculty accent on disabled rate button
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
