Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

style(#268): adjust pre-commit workflows yaml linting
  .pre-commit-config.yaml
Due: yaml-lint

ci(#268): fix and improve conditional ci
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/changes-filter.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-pipeline.yml
  .github/workflows/e2e-test.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/openapi-validation.yml
  .github/workflows/prod-pipeline.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
  .pre-commit-config.yaml
  .yamllint.yaml
Due: yaml-lint

fix(#268): diagnose: use force-all-changes parameter for conditional jobs
  .github/workflows/changes-filter.yml
  .github/workflows/main-pipeline.yml
Due: yaml-lint

fix(#268): fix typo
  .github/workflows/changes-filter.yml
  .gitignore
Due: yaml-lint

fix(#268): diagnose: change boolean param evaluation
  .github/workflows/changes-filter.yml
Due: yaml-lint

fix(#268): diagnose: change force_all_changed param
  .github/workflows/main-pipeline.yml
Due: yaml-lint

fix(#268): move changes-filter force-changes check
  .github/workflows/changes-filter.yml
Due: yaml-lint

fix(#268): move version job code changed check
  .github/workflows/version.yml
Due: yaml-lint

fix(#268): pass no version to build stage if was not bumped
  .github/workflows/main-pipeline.yml
Due: yaml-lint

fix(#268): allow empty version tags in build
  .github/workflows/build.yml
Due: yaml-lint

fix(#268): diagnose: use placeholder version tag in build job
  .github/workflows/build.yml
Due: yaml-lint

feat(#283): add DORA metrics data collection script
  scripts/dora-metrics/README.md
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/generate_metrics.sh
Due: none

refactor(#283): simplify DORA metrics scripts with type hints
  scripts/dora-metrics/README.md
  scripts/dora-metrics/calculate_dora_metrics.py
  scripts/dora-metrics/generate_metrics.sh
Due: none

docs(#283): add example showing function reuse
  scripts/dora-metrics/example.py
Due: none

fix(#283): make scripts portable and ignore generated files
  .gitignore
  scripts/dora-metrics/example.py
  scripts/dora-metrics/generate_metrics.sh
Due: none

feat(#283): add metadata and append mode for incremental collection
  scripts/dora-metrics/README.md
  scripts/dora-metrics/generate_metrics.sh
Due: none

docs(#283): simplify weekly CI pattern with auto-creating append mode
  scripts/dora-metrics/README.md
  scripts/dora-metrics/generate_metrics.sh
Due: none

fix: upgrade @tanstack/react-router-devtools from 1.132.33 to 1.133.28
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tanstack/router-plugin from 1.132.33 to 1.133.29
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade @tanstack/react-devtools from 0.7.2 to 0.7.8
  src/webapp/package.json
Due: webapp-biome-check

fix: upgrade lucide-react from 0.544.0 to 0.548.0
  src/webapp/package.json
Due: webapp-biome-check

refactor(#283): remove unnecessary comments
  scripts/dora-metrics/example.py
  scripts/dora-metrics/generate_metrics.sh
Due: none

feat(#212): --clean-only param + confirmation
  src/backend/rating_app/management/commands/generate_mock_data.py
Due: none

fix(#212): allow missing education level + add caching
  src/backend/README.md
  src/backend/scraper/services/db_ingestion/composite.py
  src/backend/scraper/services/db_ingestion/file_reader.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/progress_tracker.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

chore(snyk): update pnpm-lock
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix(#212): add to simple namespaces attributes
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

fix(#212): handle command error properly
  src/backend/rating_app/management/commands/generate_mock_data.py
Due: none

fix(ci): separate dev and prod backend configurations to prevent pulling image locally
  src/docker-compose.yml
Due: yaml-lint

fix(#212): types
  src/backend/rating_app/repositories/student_repository.py
  src/backend/scraper/services/db_ingestion/progress_tracker.py
  src/backend/scraper/services/db_ingestion/test_file_reader.py
  src/backend/scraper/services/db_ingestion/test_injector.py
Due: none

refactor(#283): remove --repo parameter (gh uses git remote)
  scripts/dora-metrics/README.md
  scripts/dora-metrics/generate_metrics.sh
Due: none

feat(#283): save metrics to scripts/dora-metrics/results/ by default
  .gitignore
  scripts/dora-metrics/README.md
  scripts/dora-metrics/example.py
  scripts/dora-metrics/generate_metrics.sh
  scripts/dora-metrics/results/.gitkeep
Due: none

docs(#283): simplify README to minimal usage guide
  scripts/dora-metrics/README.md
Due: none

feat(lab10): push draft dora report generator
  calculate_dora_metrics.py
  dora-metrics-report.md
  metrics-raw.md
Due: none

docs(lab10): cleanup and optimize metrics generation script
  docs/ci-cd/generate_metrics.sh
  docs/ci-cd/metrics-raw.md
Due: none

docs(lab10): auto-generate metrics by api
  docs/ci-cd/generate_metrics.sh
  docs/ci-cd/metrics-raw.md
Due: none

ci(lab10): test dora metrics job
  .github/workflows/dora-metrics.yml
Due: yaml-lint

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
