Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

feat(#430): pass is_student, retrieve grades only for students
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/auth.py
  src/backend/rating_app/views/auth.py
  src/backend/rating_app/views/test_auth.py
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/MyRatingsNotStudentState.tsx
  src/webapp/src/features/ratings/hooks/useUserCourseRating.ts
  src/webapp/src/integrations/tanstack-query/RootProvider.tsx
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/lib/auth/sessionExpiry.ts
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check, yaml-lint

fix(#430): redirect to login on 401 on connection error
  src/webapp/src/routes/connection-error.tsx
Due: webapp-biome-check

labs(reflection): upload Milana's reflection
  labs/reflection/reflection_milana_horalevych.md
Due: none

labs(reflection): add ethical challenges to Milana's reflection
  labs/reflection/reflection_milana_horalevych.md
Due: none

docs(#175): Update traceability analysis with Sentry profiling coverage (#428)
  docs/copilot/traceability-analysis-2025-12-09.md
  docs/copilot/traceability-progress-2025-12-09.md
  docs/traceability-matrix.md
Due: none

docs(labs): add final report
  labs/final-report.md
Due: none

docs(labs): update Team Charter and README
  README.md
  TeamCharter.md
Due: none

labs(reflection): From Inspiration to Innovation
  labs/reflection/reflection_andrii_valenia.md
Due: none

labs(reflection): upload reflection (#424)
  labs/reflection/reflection_anastasiia_aleksieienko.md
  labs/reflection/reflection_andrii_valenia.md
  labs/reflection/reflection_kateryna_bratiuk.md
  labs/reflection/reflection_milana_horalevych.md
Due: none

docs(labs): update final report
  labs/final-report.md
Due: none

docs(labs): final report (#432)
  README.md
  TeamCharter.md
  labs/final-report.md
Due: none

fix(#430): add auth provider
  src/webapp/src/test-utils/render.tsx
Due: webapp-biome-check

fix(#430): remove infinite request bug for non-student users (#431)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/auth.py
  src/backend/rating_app/views/auth.py
  src/backend/rating_app/views/test_auth.py
  src/webapp/src/features/courses/components/CoursesScatterPlot.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/MyRatingsNotStudentState.tsx
  src/webapp/src/features/ratings/hooks/useUserCourseRating.ts
  src/webapp/src/integrations/tanstack-query/RootProvider.tsx
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/lib/auth/sessionExpiry.ts
  src/webapp/src/routes/connection-error.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/src/test-utils/render.tsx
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
Due: webapp-biome-check, yaml-lint

ci(#433): provide manual deployment ref to pipeline to deploy staging from any branch
  .github/workflows/audit.yml
  .github/workflows/build.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/openapi-validation.yml
  .github/workflows/test.yml
  .github/workflows/version.yml
Due: yaml-lint

ci(#433): check that live build is triggered only when staging build ran for main branch
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

ci(#433): add main branch checks to handle non-main branch staging deployments
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

feat: add footer /w link to github
  src/webapp/src/components/Footer/Footer.tsx
  src/webapp/src/components/Layout.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

feat: make full row clickable /w hover
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

fix: treat 502/503/504 as errors, redirect to conn err page
  src/webapp/src/lib/api/apiClient.test.ts
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/lib/api/networkError.test.ts
  src/webapp/src/lib/api/networkError.ts
Due: webapp-biome-check

feat: add pagination size/page options to URL state
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/filterSchema.ts
  src/webapp/src/features/courses/urlSync.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

feat: use nuqs for URL-persistant state
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/Layout.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterSchema.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/features/courses/urlSync.ts
  src/webapp/src/lib/api/apiClient.test.ts
  src/webapp/src/lib/api/apiClient.ts
  src/webapp/src/lib/api/networkError.test.ts
  src/webapp/src/lib/api/networkError.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/__root.tsx
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

fix: use constants in table diff/use values
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

feat: make active filter badges shorter
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check

feat: use shadcn tooltip
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/ui/Tooltip.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

fix: enum filter options
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check

fix: return footer display
  src/webapp/src/components/Layout.tsx
Due: webapp-biome-check

feat: show empty courses state with table layout
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/features/courses/components/CoursesEmptyState.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
Due: webapp-biome-check

test: reflect in tests our updates
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
Due: webapp-biome-check

fix: rabbit comments
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/routes/explore.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

fix: rabbit
  src/webapp/src/routes/explore.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

feat: UI improvements & bugfixes (#436)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/Footer/Footer.tsx
  src/webapp/src/components/Layout.tsx
  src/webapp/src/components/ui/Tooltip.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
  src/webapp/src/features/courses/components/CoursesEmptyState.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterSchema.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/features/courses/urlSync.test.ts
  src/webapp/src/features/courses/urlSync.ts
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/__root.tsx
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check, yaml-lint

fix(#433): fix skipping live deployment for non-main branches, improve namings
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

fix(#433): fix inconsistent version choice and main branch condition
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
Due: yaml-lint

chore(#438): isolate backend venv in container, create a global dockerignore file
  .pre-commit-config.yaml
  src/.dockerignore
  src/backend/Dockerfile
  src/webapp/.dockerignore
Due: yaml-lint

feat(#384): create initial django model cache type extension
  .pre-commit-config.yaml
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/types_extensions.py
Due: yaml-lint

fix(#101): revert changes for scatter plot
  src/webapp/src/components/Layout.tsx
  src/webapp/src/routes/explore.tsx
Due: webapp-biome-check

fix(#101): revert changes for scatter plot (#441)
  src/webapp/src/components/Layout.tsx
  src/webapp/src/routes/explore.tsx
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

feat(#384): refactor primitive and easily serializable type extensions with pydantic TypeAdapter, process django models in domain objects with a mapper
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/ioc_container/common.py
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/serializers/analytics.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/django_mappers/__init__.py
  src/backend/rating_app/services/django_mappers/course_model.py
  src/backend/rating_app/services/django_mappers/protocol.py
  src/backend/rating_app/views/course_viewset.py
Due: none

feat(#384): move caching to service layer
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/student_viewset.py
Due: none
