Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

test(#327): harden Playwright e2e suite
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/login.test.ts
  src/webapp/tests/e2e/rating/view-ratings.test.ts
Due: webapp-biome-check

test(#327): add e2e coverage for courses filters and pagination
  src/webapp/src/components/DataTable/DataTablePagination.tsx
  src/webapp/src/components/ui/AlertDialog.tsx
  src/webapp/src/features/ratings/components/MyRatingsEmptyState.tsx
  src/webapp/src/features/ratings/components/MyRatingsErrorState.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/courses-filters.test.ts
  src/webapp/tests/e2e/courses-pagination.test.ts
  src/webapp/tests/e2e/courses-search.test.ts
Due: webapp-biome-check

test(#327): format Playwright e2e files
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/login.test.ts
Due: webapp-biome-check

fix: allow filters selects inside mobile drawer
  src/webapp/src/components/Header/Header.tsx
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Drawer.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/lib/body-scroll-lock.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/courses-filters.test.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
Due: webapp-biome-check

fix: asc/desc usefullness/diff sorting
  src/backend/rating_app/repositories/course_repository.py
Due: none

test(e2e): reorganize suites by feature
  src/webapp/playwright.config.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/details.spec.ts
  src/webapp/tests/e2e/courses/error-states.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/fixtures/api-mocks.ts
  src/webapp/tests/e2e/courses/fixtures/courses.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/framework/base-page.ts
  src/webapp/tests/e2e/framework/common.ts
  src/webapp/tests/e2e/framework/test-config.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
  src/webapp/tests/e2e/shared/url-assertions.ts
Due: webapp-biome-check

test(e2e): stabilize Playwright suite with test IDs
  src/webapp/README.md
  src/webapp/package.json
  src/webapp/playwright.config.ts
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Combobox.tsx
  src/webapp/src/components/ui/Slider.tsx
  src/webapp/src/features/courses/components/CourseColumnHeader.test.tsx
  src/webapp/src/features/courses/components/CourseColumnHeader.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/components/CoursesTable.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/components/base-page.ts
  src/webapp/tests/e2e/components/common.ts
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/components/index.ts
  src/webapp/tests/e2e/components/my-ratings-page.ts
  src/webapp/tests/e2e/components/rating-modal.ts
  src/webapp/tests/e2e/components/test-config.ts
  src/webapp/tests/e2e/courses-pagination.test.ts
  src/webapp/tests/e2e/courses-search.test.ts
  src/webapp/tests/e2e/courses/details.test.ts
  src/webapp/tests/e2e/courses/error-states.test.ts
  src/webapp/tests/e2e/courses/filters.test.ts
  src/webapp/tests/e2e/courses/history.test.ts
  src/webapp/tests/e2e/courses/journeys.test.ts
  src/webapp/tests/e2e/courses/pagination.test.ts
  src/webapp/tests/e2e/courses/search.test.ts
  src/webapp/tests/e2e/courses/sorting.test.ts
  src/webapp/tests/e2e/fixtures/api-mocks.ts
  src/webapp/tests/e2e/fixtures/courses.ts
  src/webapp/tests/e2e/helpers/url-assertions.ts
  src/webapp/tests/e2e/rating/no-ratings.test.ts
Due: webapp-biome-check, yaml-lint

docs: better note about seeded db
  docs/testing/e2e-tests.md
Due: none

test(e2e): reduce flake and add smoke tags
  docs/testing/e2e-tests.md
  src/webapp/.gitignore
  src/webapp/biome.json
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/Slider.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/details.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/framework/base-page.ts
  src/webapp/tests/e2e/framework/common.ts
  src/webapp/tests/e2e/framework/test-config.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

test: align e2e suite with black-box strategy
  docs/testing/e2e-tests.md
  src/webapp/src/features/courses/components/CoursesErrorState.test.tsx
  src/webapp/src/routes/index.test.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/tests/e2e/courses/error-states.spec.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/fixtures/api-mocks.ts
  src/webapp/tests/e2e/courses/history.spec.ts
  src/webapp/tests/e2e/courses/journeys.spec.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
Due: webapp-biome-check

fix(#281): add user anonymity on ratings on service layer, simplified create schema, ratings endpoint as source of user rating
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating_vote.py
  src/backend/rating_app/migrations/0011_ratingvote.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/test_vote.py
  src/backend/rating_app/views/vote_viewset.py
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check, yaml-lint

test(e2e): go to login directly
  src/webapp/tests/e2e/login.spec.ts
Due: webapp-biome-check

fix(#261): naming
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

test(e2e): logout test + cleanup
  src/webapp/playwright.config.ts
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/routes/my-ratings.tsx
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/filters.spec.ts
  src/webapp/tests/e2e/courses/search.spec.ts
  src/webapp/tests/e2e/courses/sorting.spec.ts
  src/webapp/tests/e2e/login.spec.ts
  src/webapp/tests/e2e/logout.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/ratings/view-ratings.spec.ts
  src/webapp/tests/e2e/shared/url-assertions.ts
Due: webapp-biome-check

fix(#380): preserve drf headers and status code in cache, update tests
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/caching/types_extensions.py
Due: none

fix(#380): add a TODO for future improvement
  src/backend/rateukma/caching/types_extensions.py
Due: none

fix(#380): prevent keys collision, add backward compatibility
  src/backend/rateukma/caching/types_extensions.py
Due: none

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

fix(#261): add cache invalidation on rating vote creation
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/vote_viewset.py
Due: none

fix(#261): patch qs vulnerability flagged by pnpm audit
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

fix(#327): rabbit
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
  src/webapp/src/components/DataTable/DataTable.tsx
  src/webapp/src/components/ui/AlertDialog.tsx
  src/webapp/tests/e2e/courses/courses.page.ts
  src/webapp/tests/e2e/courses/fixtures/courses.ts
  src/webapp/tests/e2e/courses/pagination.spec.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check, yaml-lint

fix(#327): return zero rated courses to be last in any order
  src/backend/rating_app/repositories/course_repository.py
Due: none

feat(#327): use dialog instead of div for drawer
  src/webapp/src/components/ui/Drawer.tsx
Due: webapp-biome-check

fix(#433): remove main branch hardcoded value, check get-staging-released-version job to be ran
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
  .github/workflows/test.yml
Due: yaml-lint

fix(#433): use github.ref_name for branch checks
  .github/workflows/main-pipeline.yml
  .github/workflows/test.yml
Due: yaml-lint

fix(#281): replace POST create with PUT upsert for rating votes, remove duplicated notify() call
  docs/api/openapi-generated.yaml
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/vote_viewset.py
Due: yaml-lint

fix(#281): replace post with put in tests
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#380): cache drf headers (#460)
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/caching/types_extensions.py
Due: none

fix(#281): remove votes from my ratings page
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
Due: webapp-biome-check

fix(#281): make vote upsert status code consistent
  docs/api/openapi-generated.yaml
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/responses.py
  src/backend/rating_app/views/vote_viewset.py
Due: yaml-lint

fix(#281): frontend naming to match api
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

fix(#281): tests
  src/backend/rating_app/views/test_vote.py
Due: none

fix(#281): refactor rating list to use Pydantic model_dump
  src/backend/rating_app/views/rating_viewset.py
Due: none

fix(#281): add the missing authentication and authorization error responses
  docs/api/openapi-generated.yaml
  src/backend/rating_app/views/responses.py
Due: yaml-lint

fix(#281): forbid self votes
  src/backend/rating_app/exception/vote_exceptions.py
  src/backend/rating_app/services/vote_service.py
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

fix(#281): reduce rating fetch calls, introduce a single gate method
  src/backend/rating_app/services/vote_service.py
Due: none

fix(#281): prevent debounce reset in vote mutations
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#281): prevent setState after unmount in vote mutations
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#281): show feedback when vote fails
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#281): add readOnly prop to UserRatingCard component
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
