Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

chore: rate-ukma gh agent
  .github/agents/rate-ukma.agent.md
Due: none

chore: simplify agent.md and remove unnecessary code slop (#371)
  .github/agents/rate-ukma.agent.md
Due: none

fix(#260): resolve comments
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/rating.py
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingComment.tsx
  src/webapp/src/features/ratings/components/RatingStats.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#334): query caching by setting staleTime to 5 minutes (#364)
  src/webapp/src/integrations/tanstack-query/RootProvider.test.tsx
  src/webapp/src/integrations/tanstack-query/RootProvider.tsx
Due: webapp-biome-check

docs(#175): return first anylsis
  docs/copilot/traceability-analysis-2025-10-25.md
Due: none

fix(#260): mark props as readonly
  src/webapp/src/features/ratings/components/RatingComment.tsx
  src/webapp/src/features/ratings/components/RatingStats.tsx
Due: webapp-biome-check

Fix broken documentation links in rate-ukma.agent.md (#373)
  .github/agents/rate-ukma.agent.md
Due: none

fix(#260): update rating modal to use ExistingRating interface
  src/webapp/src/features/ratings/components/RatingModal.tsx
Due: webapp-biome-check

chore: rate-ukma gh agent (#369)
  .github/agents/rate-ukma.agent.md
Due: none

feat(#365): replace year filter with academic year ranges (#366)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/services/test_semester_service.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check, yaml-lint

feat(#359): support multiple return types in custom caching decorator, apply to list-retrieving views
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

docs(#359): create ADR-0006 for caching
  docs/architecture/decisions/0006-server-side-caching.md
Due: none

docs(e2e): create e2e tests document
  docs/testing/e2e-tests.md
Due: none

fix(#359): fix decorator after failing tests
  src/backend/rateukma/caching/decorators.py
Due: none

fix(e2e): update e2e login tests after scatterplot addition
  src/webapp/tests/e2e/login.test.ts
Due: webapp-biome-check

refactor(#359): refactor caching decorator to choose type serialization extensions
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/types_extenstions.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

fix(#359): apply rabbit recommendations, add test mock cache fixture
  docs/architecture/decisions/0006-server-side-caching.md
  src/backend/conftest.py
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/management/commands/profile_api.py
Due: none

chore(ci): update coverage badge
  coverage.svg
Due: none

fix(#359): apply rabbit suggestions
  docs/architecture/decisions/0006-server-side-caching.md
  src/backend/conftest.py
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/types_extenstions.py
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/management/commands/profile_api.py
  src/docker-compose.yml
Due: yaml-lint

feat(#359): implement initial cache invalidation decorator
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

fix(#359): fix redis libs versioning
  src/backend/pyproject.toml
  src/backend/uv.lock
Due: none

feat(#359): add primitives support, add JSON_Serializable type, remove type passing to get_key function
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/types_extenstions.py
Due: none

test(#359): add caching integration + unit tests
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rating_app/management/commands/cache_stats.py
Due: none

test(#359): add unit tests for cache invalidation decorator
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/test_cache.py
Due: none

fix(#359): remove unused versioned methods - will add them on demand later, added a comment
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
Due: none

test(#359): adjust parameters in invalidate_cache_for decorator, update docstrings and ADR
  docs/architecture/decisions/0006-server-side-caching.md
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/test_cache.py
Due: none

fix(#359): fix instantiation for dataclass and primitive cache type extensions, enhance cache key serialization
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/types_extensions.py
Due: none

feat(#359): gracefully handle redis exceptions
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/settings/_base.py
Due: none

chore(#359): add caching to my ratings
  src/backend/rating_app/views/student_viewset.py
Due: none

fix(#359): propagate exceptions
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/types_extensions.py
Due: none

fix(#359): add missing student data in /me/ endpoints
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/management/commands/manage_cache.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/student_viewset.py
  src/docker-compose.yml
Due: yaml-lint

feat(#359): ADR - server-side caching + initial implementation
  .gitignore
  docs/architecture/decisions/0006-server-side-caching.md
  docs/reliability/profiling.md
  src/.env.sample
  src/backend/conftest.py
  src/backend/pyproject.toml
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/instances.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rateukma/settings/_base.py
  src/backend/rateukma/settings/dev.py
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/management/commands/manage_cache.py
  src/backend/rating_app/management/commands/profile_api.py
  src/backend/rating_app/models/enrollment.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/enrollment_repository.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/student_viewset.py
  src/backend/uv.lock
  src/docker-compose.yml
Due: yaml-lint

fix(#260): simplify function and trigger no extra query
  src/backend/rateukma/settings/_base.py
  src/backend/rating_app/middleware.py
  src/backend/rating_app/repositories/rating_repository.py
Due: none

test(e2e): update courses page navigation tests
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/course-page.test.ts
Due: webapp-biome-check

fix(e2e): fix cache invalidation bug
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

tests(e2e): update e2e to match pages structure + cache invalidation bugfix
  src/backend/rating_app/ioc_container/web.py
  src/backend/rating_app/views/rating_viewset.py
  src/webapp/tests/e2e/components/course-details-page.ts
  src/webapp/tests/e2e/components/courses-page.ts
  src/webapp/tests/e2e/course-page.test.ts
Due: webapp-biome-check

feat(#368): custom abbreviation to filter options
  docs/api/openapi-generated.yaml
  src/backend/rating_app/serializers/course/filter_options.py
  src/backend/rating_app/services/department_service.py
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
Due: webapp-biome-check, yaml-lint
