Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

refactor(webapp): extend anti-slop cleanup to rebased feed feature
  src/webapp/src/features/feed/components/FeedPromoItem.test.tsx
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/components/FeedReviewItem.test.tsx
  src/webapp/src/features/feed/components/FeedStrip.test.tsx
  src/webapp/src/features/feed/feedFlagGating.test.tsx
  src/webapp/src/features/feed/hooks/useFeed.test.tsx
  src/webapp/src/features/promo/components/PromoBanner.test.tsx
  src/webapp/src/lib/feature-flags/FeatureFlagsContext.test.tsx
  src/webapp/src/lib/feature-flags/useFeatureFlag.ts
  src/webapp/src/routes/feed.test.tsx
  src/webapp/src/test-utils/factories.ts
Due: webapp-biome-check

fix(#664): filter courses by instructor rating mentions
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/instructor.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/test_course.py
  src/backend/rating_app/views/test_instructor.py
Due: yaml-lint

docs(#251): sharpen reviewer rule and revisit clause
  docs/architecture/decisions/0010-rust-like-return-types.md
Due: none

fix(#664): satisfy ruff lint and format
  src/backend/rating_app/repositories/test_instructor_repository.py
  src/backend/rating_app/views/test_course.py
  src/backend/rating_app/views/test_instructor.py
Due: none

docs(#102): add entry tracks, services diagram, troubleshooting
  docs/onboarding.md
Due: none

docs(#102): agents-era note in conventions
  docs/onboarding.md
Due: none

docs(#102): repair conventions section
  docs/onboarding.md
Due: none

refactor(webapp): make anti-slop plugin self-consistent under react-doctor
  src/webapp/tools/oxlint/anti-slop/rules/no-runtime-typeof.ts
  src/webapp/tools/oxlint/anti-slop/rules/no-unknown-parameters.ts
  src/webapp/tools/oxlint/anti-slop/shared/dictionary-types.ts
  src/webapp/tools/oxlint/anti-slop/shared/lexical-type-parameters.ts
Due: webapp-biome-check

proof 647 mobile-form
  proof/647/mobile-form.png
Due: none

proof 647 desktop-form
  proof/647/desktop-form.png
Due: none

proof 647 mobile-card
  proof/647/mobile-card.png
Due: none

proof 647 desktop-card
  proof/647/desktop-card.png
Due: none

proof 647 mobile-filter
  proof/647/mobile-filter.png
Due: none

proof 647 desktop-filter
  proof/647/desktop-filter.png
Due: none

fix(#647): remove fe_instructor_multiselect after rollout
  docs/api/openapi-generated.yaml
  src/backend/rateukma/settings/_base.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.test.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.test.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingModal.test.tsx
  src/webapp/src/features/ratings/components/RatingModal.tsx
  src/webapp/src/lib/feature-flags/overrides.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/instructor-legacy.spec.ts
  src/webapp/tests/e2e/ratings/instructor-multiselect.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check, yaml-lint

refactor(webapp): narrow accent with in-guard, move latest-refs into effects
  src/webapp/src/features/feed/components/FeedPromoItem.tsx
  src/webapp/src/features/feed/hooks/useFeed.ts
  src/webapp/src/features/instructors/hooks/useInfiniteInstructors.ts
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#558): drop deprecated CourseOffering per-term fields
  docs/api/openapi-generated.yaml
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/course_offering.py
  src/backend/rating_app/management/commands/generate_mock_data.py
  src/backend/rating_app/management/commands/profile_queries.py
  src/backend/rating_app/migrations/0037_remove_courseoffering_co_credits_gt_0_and_more.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course_offering.py
  src/backend/rating_app/services/test_student_service.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_course.py
  src/backend/scraper/management/commands/snapshot_catalog.py
  src/backend/scraper/models/deduplicated.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/backend/scraper/services/deduplication/grouper.py
  src/backend/scraper/services/deduplication/test_grouper.py
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
Due: webapp-biome-check, yaml-lint

proof 558 desktop badge
  proof/558/558-desktop-1440x900.png
Due: none

proof 558 mobile badge
  proof/558/558-mobile-390x844.png
Due: none

proof 571 desktop-theme-before.png
  proof/571/desktop-theme-before.png
Due: none

proof 571 desktop-theme-after.png
  proof/571/desktop-theme-after.png
Due: none

proof 571 mobile-menu-before.png
  proof/571/mobile-menu-before.png
Due: none

proof 571 mobile-menu-after.png
  proof/571/mobile-menu-after.png
Due: none

proof 618 desktop-sort-hint-before.png
  proof/618/desktop-sort-hint-before.png
Due: none

proof 618 desktop-sort-hint-after.png
  proof/618/desktop-sort-hint-after.png
Due: none

proof 618 mobile-sort-header-before.png
  proof/618/mobile-sort-header-before.png
Due: none

proof 618 mobile-sort-header-after.png
  proof/618/mobile-sort-header-after.png
Due: none

proof 570 desktop-my-ratings-before.png
  proof/570/desktop-my-ratings-before.png
Due: none

proof 570 desktop-my-ratings-after.png
  proof/570/desktop-my-ratings-after.png
Due: none

proof 570 mobile-my-ratings-before.png
  proof/570/mobile-my-ratings-before.png
Due: none

proof 570 mobile-my-ratings-after.png
  proof/570/mobile-my-ratings-after.png
Due: none

proof 560 firefox-course-100.png
  proof/560/firefox-course-100.png
Due: none

proof 560 firefox-course-150.png
  proof/560/firefox-course-150.png
Due: none

proof 560 firefox-course-200.png
  proof/560/firefox-course-200.png
Due: none

feat(#571): system theme option in picker
  src/webapp/index.html
  src/webapp/src/components/Header/MobileMenu.tsx
  src/webapp/src/components/ModeToggle.test.tsx
  src/webapp/src/components/ModeToggle.tsx
  src/webapp/src/components/ThemeProvider.test.tsx
  src/webapp/src/components/ThemeProvider.tsx
Due: webapp-biome-check

feat(#618): explain courses ordering with sort header tooltip
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
  src/webapp/src/lib/test-ids.ts
Due: webapp-biome-check

feat(#570): faculty colors on my-ratings cards
  docs/api/openapi-generated.yaml
  src/backend/rating_app/repositories/student_stats_repository.py
  src/backend/rating_app/repositories/test_student_stats_repository.py
  src/backend/rating_app/serializers/student_ratings_detailed.py
  src/webapp/src/features/ratings/components/MyRatingCard.test.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/lib/faculty-colors.test.ts
  src/webapp/src/lib/faculty-colors.ts
Due: webapp-biome-check, yaml-lint

feat(#533): add prune_legacy_specialities command
  src/backend/rating_app/management/commands/prune_legacy_specialities.py
  src/backend/rating_app/management/commands/test_prune_legacy_specialities.py
Due: none

fix(#618): mention column-sort override in hint
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.test.tsx
  src/webapp/src/features/courses/components/CoursesReviewsSortMenu.tsx
Due: webapp-biome-check

proof 570 variety-desktop.png
  proof/570/variety-desktop.png
Due: none

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
