Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

webapp-biome-check:
  name: Biome check webapp (lint + format)
  entry: bash -c "cd src/webapp && pnpm check --write"
  language: system
  pass_filenames: false

yaml-lint:
  name: Lint YAML files
  entry: yamllint -c .yamllint.yaml --strict .github/workflows
  language: system
  pass_filenames: false

fix(#514): move CourseSpeciality index migration to filters PR
  src/backend/rating_app/migrations/0015_add_coursespeciality_spec_type_idx.py
  src/backend/rating_app/models/course_speciality.py
Due: none

refactor(#511): remove coursespeciality (#513)
  docs/api/openapi-generated.yaml
  docs/architecture/uml/domain-model.puml
  docs/architecture/uml/domain-model.svg
  src/backend/conftest.py
  src/backend/rating_app/admin/models.py
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/migrations/0015_remove_course_specialities_delete_coursespeciality.py
  src/backend/rating_app/models/__init__.py
  src/backend/rating_app/models/course.py
  src/backend/rating_app/models/course_speciality.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/course/course_detail.py
  src/backend/rating_app/serializers/course/course_list.py
  src/backend/rating_app/serializers/course/course_offering_speciality.py
  src/backend/rating_app/tests/factories.py
  src/backend/rating_app/views/test_course.py
  src/backend/scraper/services/db_ingestion/injector.py
  src/backend/scraper/services/db_ingestion/test_injector.py
  src/webapp/src/features/courses/components/CourseSpecialities.tsx
Due: webapp-biome-check, yaml-lint

fix: add missing ratingsCountStat test ID and fix review count locator
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/tests/e2e/courses/course-details.page.ts
Due: webapp-biome-check

fix(#515): fix failing backend and frontend tests after rebase
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/views/test_analytics.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
Due: webapp-biome-check

fix(#515): remove stale course_specialities prefetch from base queryset
  src/backend/rating_app/repositories/course_repository.py
Due: none

feat(#515): simplify course filters with grouped layout and presets
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
Due: webapp-biome-check, yaml-lint

fix(#515): align OpenAPI field order with CI generation
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
Due: yaml-lint

fix(#515): fix remaining filter tests that clicked to expand open groups
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
Due: webapp-biome-check

fix(#515): address CodeRabbit review feedback
  src/backend/rating_app/repositories/course_repository.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/tests/e2e/courses/course-details.page.ts
Due: webapp-biome-check

feat(#515): redesign course filters with grouped layout and presets (#516)
  docs/api/openapi-generated.yaml
  src/backend/rating_app/application_schemas/course.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_course.py
  src/webapp/src/features/courses/components/CourseFiltersPanel.test.tsx
  src/webapp/src/features/courses/components/CourseFiltersPanel.tsx
  src/webapp/src/features/courses/components/CoursesTable.test.tsx
  src/webapp/src/features/courses/courseFiltersParams.ts
  src/webapp/src/features/courses/filterTransformations.test.ts
  src/webapp/src/features/courses/filterTransformations.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.test.ts
  src/webapp/src/features/courses/hooks/useCourseFiltersData.ts
  src/webapp/src/lib/test-ids.ts
  src/webapp/src/routes/explore.tsx
  src/webapp/src/routes/index.tsx
  src/webapp/tests/e2e/courses/course-details.page.ts
Due: webapp-biome-check, yaml-lint

feat(#517): ratings UI refresh with star inputs and user avatars
  docs/api/openapi-generated.yaml
  src/backend/pyproject.toml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/microsoft_avatar.py
  src/backend/rating_app/migrations/0016_student_avatar.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/auth.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/views/auth.py
  src/backend/uv.lock
  src/webapp/src/components/Header/UserMenu.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
  src/webapp/src/features/ratings/components/RatingComment.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingStats.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/components/RatingsSortSelect.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/components/reviewerAvatar.ts
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check, yaml-lint

fix(#517): restore blue background on user rating card
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
Due: webapp-biome-check

fix(#517): use shared RatingButton, fix 0.0 scores, update e2e for stars
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

fix(#517): address CodeRabbit review feedback
  src/backend/rating_app/auth/microsoft_avatar.py
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

chores(#504): add load testing scripts, fix django entrypoint workers calculation
  src/backend/django-entrypoint.sh
  src/backend/monitoring/locustfile.py
  src/backend/pyproject.toml
  src/backend/rating_app/management/commands/create_load_test_sessions.py
  src/backend/uv.lock
  src/webapp/src/features/courses/courseFormatting.test.ts
  src/webapp/src/features/courses/courseFormatting.ts
Due: webapp-biome-check

fix(#517): deduplicate rating cards and address review feedback
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check

refactor(#517): use existing constants and fix flaky rate-course test
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
Due: webapp-biome-check

fix(#517): save new avatar before deleting old one
  src/backend/rating_app/auth/microsoft_account_adapters.py
Due: none

fix(#517): make avatar refresh best-effort on auth path
  src/backend/rating_app/auth/microsoft_account_adapters.py
Due: none

chore(#504): add an extra env var for a fixed number of gunicorn workers
  src/backend/django-entrypoint.sh
  src/backend/monitoring/locustfile.py
  src/docker-compose.yml
Due: yaml-lint

fix(#517): align tooltip wording and remove trailing period
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
Due: webapp-biome-check

chore(ci): update coverage badge
  coverage.svg
Due: none

feat(#517): ratings UI refresh with star inputs and user avatars (#518)
  coverage.svg
  docs/api/openapi-generated.yaml
  src/backend/pyproject.toml
  src/backend/rating_app/application_schemas/rating.py
  src/backend/rating_app/auth/microsoft_account_adapters.py
  src/backend/rating_app/auth/microsoft_avatar.py
  src/backend/rating_app/migrations/0016_student_avatar.py
  src/backend/rating_app/models/student.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/to_domain_mappers.py
  src/backend/rating_app/serializers/auth.py
  src/backend/rating_app/serializers/rating_read.py
  src/backend/rating_app/views/auth.py
  src/backend/uv.lock
  src/webapp/src/components/Header/UserMenu.tsx
  src/webapp/src/features/courses/components/CourseStatsCards.tsx
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingCardBody.tsx
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
  src/webapp/src/features/ratings/components/RatingComment.tsx
  src/webapp/src/features/ratings/components/RatingForm.tsx
  src/webapp/src/features/ratings/components/RatingStats.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/components/RatingsSortSelect.tsx
  src/webapp/src/features/ratings/components/UserRatingCard.tsx
  src/webapp/src/features/ratings/components/reviewerAvatar.ts
  src/webapp/src/features/ratings/definitions/ratingDefinitions.ts
  src/webapp/src/lib/auth/AuthContext.tsx
  src/webapp/src/routes/courses.$courseId.tsx
  src/webapp/tests/e2e/courses/course-details.page.ts
  src/webapp/tests/e2e/ratings/no-ratings.spec.ts
  src/webapp/tests/e2e/ratings/rate-course.spec.ts
  src/webapp/tests/e2e/shared/rating-modal.component.ts
Due: webapp-biome-check, yaml-lint

fix: patch express-rate-limit CVE GHSA-46wh-pxpv-q5gq (#521)
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

feat(#520): optimize backend read paths for spikes
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/decorators.py
  src/backend/rateukma/caching/patterns.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rating_app/migrations/0017_courseofferingspeciality_speciality_type_idx.py
  src/backend/rating_app/migrations/0018_ratingvote_rating_type_idx.py
  src/backend/rating_app/models/course_offering_speciality.py
  src/backend/rating_app/models/rating_vote.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/repositories/test_course_offering_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/test_analytics.py
  src/backend/rating_app/views/test_rating.py
Due: none

fix: address rating auth and cache review feedback
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/patterns.py
  src/backend/rateukma/caching/test_cache.py
  src/backend/rating_app/migrations/0018_ratingvote_rating_type_idx.py
  src/backend/rating_app/models/rating_vote.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/course_service.py
  src/backend/rating_app/services/domain_event_listeners/cache_invalidator.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/rating_viewset.py
Due: none

perf(#520): backend read-path optimizations and cache layer cleanup
  src/backend/django-entrypoint.sh
  src/backend/rateukma/caching/types_extensions.py
  src/backend/rateukma/settings/_base.py
  src/backend/rateukma/settings/prod.py
  src/backend/rateukma/settings/testing.py
  src/backend/rating_app/management/commands/profile_queries.py
  src/backend/rating_app/migrations/0019_perf_rating_created_at_idx_remove_co_ordering.py
  src/backend/rating_app/migrations/0020_course_title_trigram_idx.py
  src/backend/rating_app/models/course_offering.py
  src/backend/rating_app/models/rating.py
  src/backend/rating_app/repositories/course_offering_repository.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/services/instructor_service.py
  src/backend/rating_app/views/analytics.py
  src/backend/rating_app/views/course_viewset.py
  src/backend/rating_app/views/decorators.py
  src/backend/rating_app/views/rating_viewset.py
  src/backend/rating_app/views/test_rating.py
Due: none

perf(#520): frontend bundle and runtime optimizations
  src/webapp/package.json
  src/webapp/src/integrations/sentry/init.ts
  src/webapp/src/integrations/tanstack-query/devtools.tsx
  src/webapp/src/main.tsx
  src/webapp/src/routes/__root.tsx
Due: webapp-biome-check

fix(#520): address CodeRabbit review findings
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rating_app/repositories/rating_repository.py
Due: none

chore: regenerate pnpm lockfile after moving faker to devDependencies
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

fix(backend): misc correctness fixes
  src/backend/rateukma/settings/prod.py
  src/backend/rating_app/repositories/instructor_repository.py
  src/backend/rating_app/repositories/rating_repository.py
  src/backend/rating_app/views/decorators.py
Due: none

fix(backend): normalize empty-string speciality alias to None in mappers
  src/backend/rating_app/repositories/to_domain_mappers.py
Due: none

refactor(webapp): extract ExpandableText; fix DOM-based read-more detection
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
  src/webapp/src/features/ratings/components/RatingComment.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

feat(webapp): use CourseSpecialityBadges in SAZ table; fix ?? vs || for alias
  src/webapp/src/features/course-offerings/components/CourseCazYearsSection.tsx
  src/webapp/src/features/courses/components/CourseSpecialityBadges.tsx
Due: webapp-biome-check

fix: simplify version default to 0 and re-measure ExpandableText on content change
  src/backend/rateukma/caching/cache_manager.py
  src/backend/rateukma/caching/test_cache.py
  src/webapp/src/components/ui/ExpandableText.tsx
Due: webapp-biome-check

fix(webapp): correct ExpandableText clamping on content change; restore scrollHeight in tests
  src/webapp/src/components/ui/ExpandableText.tsx
  src/webapp/src/features/ratings/components/RatingComment.test.tsx
Due: webapp-biome-check

Path conditions:
  webapp-biome-check: any of: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
  yaml-lint: any of: ^.*\.ya?ml$
