Repository ukma-cs-ssdm-2025/rate-ukma: changes, and which pre-commit hooks are due for each by the changed paths.
All: webapp-biome-check, yaml-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check # linting
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: bash -c "cd src/backend && uv run python manage.py spectacular --file ../../docs/api/openapi-generated.yaml"
        language: system
        pass_filenames: false
      - id: webapp-biome-check
        name: Biome check webapp (lint + format)
        entry: bash -c "cd src/webapp && pnpm check --write"
        language: system
        files: ^src/webapp/.*\.(ts|tsx|js|jsx|json)$
        pass_filenames: false
      - id: check-commit-message
        name: Check commit message format
        entry: "./semantic-commit.sh"
        language: system
        stages: [commit-msg]
      - id: yaml-lint
        name: Lint YAML files
        entry: yamllint -c .yamllint.yaml --strict .github/workflows
        language: system
        files: ^.*\.ya?ml$
        pass_filenames: false

fix(#482): remove stale ORM refs in service
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/pagination_course_adapter.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_semester_service.py
  src/backend/rating_app/services/test_student_service.py
Due: none

fix(#482): fix typo and inconsistent method
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_semester_service.py
  src/backend/rating_app/services/test_student_service.py
Due: none

fix(#482): remove stale ORM refs in service (#495)
  src/backend/rating_app/repositories/course_repository.py
  src/backend/rating_app/repositories/test_course_repository.py
  src/backend/rating_app/services/pagination_course_adapter.py
  src/backend/rating_app/services/rating_service.py
  src/backend/rating_app/services/semester_service.py
  src/backend/rating_app/services/student_service.py
  src/backend/rating_app/services/test_student_service.py
Due: none

fix(#496): feedback -> vote
  src/backend/rating_app/ioc_container/services.py
  src/backend/rating_app/services/__init__.py
  src/backend/rating_app/services/vote_service.py
  src/backend/rating_app/views/vote_viewset.py
Due: none

fix(#496): prevent vote loss during filter/sort operations
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

fix(#496): remove logging
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#496): block infinite scroll while ratings are refetching
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

fix(#496): invalidate rating cache by service method key instead of URL
  src/backend/rateukma/caching/patterns.py
Due: none

fix(#496): rename attributes to match generic interface naming
  src/backend/rating_app/services/vote_service.py
Due: none

fix(#496): flush votes on sort change and remove refetch flash
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#496): remove unused variable and pass sortKey to RatingVotes
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
Due: webapp-biome-check

fix(#496): add mount guards and enable pagination refetch on vote
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

fix(#496): schedule deferred sync when in grace period
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#496): debounce rating vote requests with use-debounce
  src/webapp/package.json
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#496): add early return
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#496): extract rating query invalidation into useInvalidateRatingQueries
  src/webapp/src/features/ratings/hooks/useInvalidateRatingQueries.ts
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

fix(#496): add use-debounce dep
  src/webapp/pnpm-lock.yaml
Due: yaml-lint

refactor(#496): reorder effects to ensure debounce scheduling before flush
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#496): flush pending votes on unmount instead of canceling
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

docs(ci-cd): Update DORA metrics summary
  docs/ci-cd/dora-summary.md
Due: none

fix: src/webapp/package.json to reduce vulnerabilities
  src/webapp/package.json
Due: webapp-biome-check

fix(#496): implement optimistic vote updates with cache synchronization
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

fix(#496): update axios dep version
  src/webapp/package.json
  src/webapp/pnpm-lock.yaml
Due: webapp-biome-check, yaml-lint

refactor(#472): fix sonar code smells in MyRatingCard and MyRatingsHeader
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
Due: webapp-biome-check

refactor(#472): split my-ratings route into focused modules
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/components/MyRatingsYearSection.tsx
  src/webapp/src/features/ratings/groupRatings.ts
  src/webapp/src/features/ratings/types.ts
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#472): address PR review feedback from Greptile and CodeRabbit
  src/webapp/src/components/ui/CircularProgress.tsx
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

refactor(#472): reduce cognitive complexity of groupRatingsByYearAndSemester
  src/webapp/src/features/ratings/groupRatings.ts
Due: webapp-biome-check

feat(#472): redesign My Ratings page
  src/webapp/src/components/ui/CircularProgress.tsx
  src/webapp/src/features/courses/courseFormatting.ts
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCardHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingCommentDisplay.tsx
  src/webapp/src/features/ratings/components/MyRatingCard/RatingMetric.tsx
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#472): align canRate default to false when can_rate is undefined
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/routes/courses.$courseId.tsx
Due: webapp-biome-check

fix(#472): address PR review — localStorage TTL, tooltip text, colocate types
  src/webapp/src/features/ratings/components/MyRatingsHeader.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/features/ratings/components/MyRatingsYearSection.tsx
  src/webapp/src/features/ratings/groupRatings.ts
  src/webapp/src/features/ratings/types.ts
  src/webapp/src/routes/my-ratings.tsx
Due: webapp-biome-check

fix(#496): mutation issue
  src/webapp/src/features/ratings/hooks/useVoteMutations.ts
Due: webapp-biome-check

fix(#496): split mount tracking from prop-reset effect in RatingVotes
  src/webapp/src/features/ratings/components/RatingVotes.tsx
Due: webapp-biome-check

fix(#472): adapt e2e page object to collapsible sections and inline modal
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
Due: webapp-biome-check

test(#472): add test IDs to course title link and semester trigger
  src/webapp/src/features/ratings/components/MyRatingCard.tsx
  src/webapp/src/features/ratings/components/MyRatingsSemesterSection.tsx
  src/webapp/src/lib/test-ids.ts
  src/webapp/tests/e2e/ratings/my-ratings.page.ts
Due: webapp-biome-check

fix(#496): front fixes from meet
  src/backend/rateukma/caching/patterns.py
  src/webapp/src/features/ratings/components/CourseRatingsList.tsx
  src/webapp/src/features/ratings/components/RatingCard.tsx
  src/webapp/src/features/ratings/components/RatingVotes.tsx
  src/webapp/src/features/ratings/hooks/useInfiniteScrollRatings.ts
Due: webapp-biome-check

refactor(#487): extract composite actions for shared CI setup
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/actions/setup-python-uv/action.yml
  .github/workflows/audit.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-test.yml
  .github/workflows/openapi-validation.yml
  .github/workflows/test.yml
Due: yaml-lint

refactor(#487): clean up CI/CD workflows with composite actions and DRY patterns
  .github/workflows/build.yml
  .github/workflows/deploy-live.yml
  .github/workflows/deploy-script.yml
  .github/workflows/deploy.yml
  .github/workflows/main-pipeline.yml
  .github/workflows/prod-pipeline.yml
  scripts/ci/find-image-tags.sh
Due: yaml-lint

refactor(#487): clean up deploy script
  .github/workflows/deploy-script.yml
  .github/workflows/deploy.yml
  .github/workflows/main-pipeline.yml
  scripts/ci/deploy.sh
Due: yaml-lint
